.eror-container {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.eror-container1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  scroll-snap-type: auto;
}
.eror-container2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: 40px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(70, 70, 70) 0.00%,rgb(0, 0, 0) 100.00%);
}
.eror-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.eror-text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.eror-container3 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.eror-text01 {
  z-index: 100;
  font-size: 16px;
  margin-top: 0px;
}
.eror-text04 {
  color: #000000;
}
.eror-navlink {
  display: contents;
}
.eror-text05 {
  color: #284bc0;
  cursor: pointer;
  z-index: 100;
  font-size: 16px;
  margin-top: 0px;
  text-decoration: underline;
}
.eror-text08 {
  left: 0px;
  color: rgb(0, 0, 0);
  right: 0px;
  bottom: 0px;
  z-index: 100;
  position: absolute;
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  font-weight: 300;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.eror-container4 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
