.absensi-mpm-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.absensi-mpm-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 479px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #7c0375;
}
.absensi-mpm-navlink {
  display: contents;
}
.absensi-mpm-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.absensi-mpm-icon {
  fill: #ffffff;
  width: 22px;
  height: 22px;
}
.absensi-mpm-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
}
.absensi-mpm-text1 {
  color: #ffffff;
  font-size: 16px;
}
.absensi-mpm-iframe {
  flex: 1;
  width: 100%;
  height: 953px;
  max-width: 479%;
}
.absensi-mpm-container4 {
  display: contents;
}
