.header-artikel-container {
  width: 100%;
  height: 555px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.header-artikel-container1 {
  width: 100%;
  height: 267px;
  display: flex;
  overflow: unset;
  align-items: center;
  margin-bottom: 284px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #c68f00;
}
.header-artikel-text {
  color: #ffffff;
  width: 100%;
  max-width: 800px;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
}
.header-artikel-image {
  width: 800px;
  height: 399px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.14);
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 15px;
}
.header-artikel-text1 {
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 16px;
  max-width: 800px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 400;
}
.header-artikel-root-class-name {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 767px) {
  .header-artikel-text {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .header-artikel-image {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .header-artikel-text1 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .header-artikel-container1 {
    margin-bottom: 286px;
  }
  .header-artikel-text1 {
    margin-top: var(--dl-space-space-unit);
  }
  .header-artikel-root-class-name {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}

.popmenu-container {
  gap: var(--dl-space-space-unit);
  width: auto;
  bottom: 0px;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 20px;
  border-radius: 20px;
  padding-right: 20px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #ffffff;
}
.popmenu-caption {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  margin-right: 0px;
  text-transform: none;
  text-decoration: none;
}
.popmenu-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.popmenu-link {
  display: contents;
}
.popmenu-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.popmenu-link1 {
  display: contents;
}
.popmenu-icon2 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.popmenu-link2 {
  display: contents;
}
.popmenu-image {
  width: 20px;
  height: 20px;
  object-fit: cover;
  text-decoration: none;
}
.popmenu-root-class-name {
  margin-bottom: var(--dl-space-space-halfunit);
}

@media(max-width: 479px) {
  .popmenu-container {
    width: auto;
    height: auto;
    align-items: center;
    flex-direction: row;
  }
}

.ahasshondaserviceprotection-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.ahasshondaserviceprotection-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.ahasshondaserviceprotection-text {
  margin-top: 0px;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-unit);
}
.ahasshondaserviceprotection-text01 {
  font-weight: 700;
}
.ahasshondaserviceprotection-link {
  display: contents;
}
.ahasshondaserviceprotection-button {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  cursor: pointer;
  height: 38px;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #fff700;
}
.ahasshondaserviceprotection-button:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #07ff00;
}
.ahasshondaserviceprotection-text26 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.ahasshondaserviceprotection-container2 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.ahasshondaserviceprotection-text27 {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.ahasshondaserviceprotection-link1 {
  display: contents;
}
.ahasshondaserviceprotection-icon {
  fill: #000000;
  width: 35px;
  height: 35px;
  padding: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.ahasshondaserviceprotection-form {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.ahasshondaserviceprotection-text28 {
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.ahasshondaserviceprotection-container3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.ahasshondaserviceprotection-textinput {
  flex: 1;
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.ahasshondaserviceprotection-textinput1 {
  flex: 1;
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.ahasshondaserviceprotection-textarea {
  width: 100%;
  height: 86px;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.ahasshondaserviceprotection-button1 {
  width: 100%;
  cursor: pointer;
  height: auto;
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.15;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: none;
  text-decoration: none;
  background-color: #fbea00;
}
.ahasshondaserviceprotection-button1:hover {
  background-color: #46cc06;
}
@media(max-width: 991px) {
  .ahasshondaserviceprotection-container1 {
    width: 100%;
    height: auto;
    max-width: 800px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ahasshondaserviceprotection-text27 {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .ahasshondaserviceprotection-text {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .ahasshondaserviceprotection-container1 {
    margin-top: 0px;
  }
  .ahasshondaserviceprotection-button {
    gap: var(--dl-space-space-halfunit);
    width: auto;
    height: 39px;
    padding: var(--dl-space-space-unit);
    align-self: center;
  }
  .ahasshondaserviceprotection-text27 {
    font-size: 12px;
  }
  .ahasshondaserviceprotection-text28 {
    font-size: 18px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .ahasshondaserviceprotection-textinput {
    flex: 1;
  }
  .ahasshondaserviceprotection-textinput1 {
    flex: 1;
  }
}
