.nav2-container {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 20;
  position: fixed;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
}
.nav2-container1 {
  width: 100%;
  display: flex;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  justify-content: center;
}
.nav2-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: 40px;
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: #3b5bc2;
}
.nav2-image1 {
  width: 30px;
  height: 30px;
}
.nav2-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.nav2-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.nav2-link2 {
  color: #ffffff;
  text-decoration: none;
}
.nav2-link21 {
  color: #ffffff;
  text-decoration: none;
}
.nav2-link3 {
  color: #ffffff;
}
.nav2-burger-menu {
  display: none;
}
.nav2-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.nav2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3b5bc2;
}
.nav2-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.nav2-top {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: 40px;
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: #3b5bc2;
}
.nav2-logo {
  height: 3rem;
}
.nav2-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav2-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.nav2-container2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.nav2-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.nav2-text {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.nav2-link1 {
  color: #ffffff;
  margin-left: 0px;
  text-decoration: none;
}
.nav2-link22 {
  color: #ffffff;
  margin-left: 0px;
  text-decoration: none;
}
.nav2-link23 {
  color: #ffffff;
  margin-left: 0px;
}
.nav2-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.nav2-text1 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.nav2-link11 {
  color: rgb(255, 255, 255);
  margin-left: 0px;
  text-decoration: none;
}
.nav2-link24 {
  color: rgb(255, 255, 255);
  margin-left: 0px;
  text-decoration: none;
}
.nav2-link25 {
  color: rgb(255, 255, 255);
  margin-left: 0px;
  text-decoration: none;
}

@media(max-width: 767px) {
  .nav2-container1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .nav2-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .nav2-desktop-menu {
    display: none;
  }
  .nav2-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav2-icon {
    fill: #ffffff;
    width: 30px;
    height: 30px;
  }
  .nav2-mobile-menu {
    background-color: #3b5bc2;
  }
  .nav2-top {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .nav2-icon2 {
    fill: #ffffff;
    width: 30px;
    height: 30px;
  }
  .nav2-container2 {
    width: 100%;
  }
  .nav2-link1 {
    color: #ffffff;
  }
  .nav2-link22 {
    color: #ffffff;
  }
  .nav2-link23 {
    color: #ffffff;
  }
  .nav2-link11 {
    color: #ffffff;
  }
  .nav2-link24 {
    color: #ffffff;
  }
  .nav2-link25 {
    color: #ffffff;
  }
}
@media(max-width: 479px) {
  .nav2-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .nav2-mobile-menu {
    padding: var(--dl-space-space-unit);
    background-color: #3b5bc2;
  }
  .nav2-top {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .nav2-logo {
    width: 30px;
    height: 30px;
  }
  .nav2-icon2 {
    width: 30px;
    height: 30px;
  }
  .nav2-container2 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
}

.popupcomers-container {
  top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 110;
  position: fixed;
  max-width: auto;
  overflow-y: scroll;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  backdrop-filter: blur(10px);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.45);
}
.popupcomers-container1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: 500px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.39);
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.popupcomers-slider {
  width: 100%;
  height: auto;
  display: inline-block;
}
.popupcomers-slider-slide {
  width: 100%;
  height: auto;
  display: flex;
  padding-bottom: 0px;
}
.popupcomers-header {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: 0px;
  border-radius: 10px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.popupcomers-container2 {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.popupcomers-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.popupcomers-lottie-node {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 565px;
  margin: auto;
  z-index: 1;
  position: absolute;
  transform: scale(210%);
}
.popupcomers-container3 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #eaeaea;
}
.popupcomers-text {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
.popupcomers-text10 {
  font-size: 16px;
  text-align: center;
}
.popupcomers-text11 {
  font-style: normal;
  font-weight: 400;
}
.popupcomers-text12 {
  font-weight: 900;
}
.popupcomers-text13 {
  font-style: normal;
  font-weight: 400;
}
.popupcomers-text14 {
  font-weight: 900;
}
.popupcomers-text15 {
  font-style: normal;
  font-weight: 700;
}
.popupcomers-text16 {
  font-style: normal;
}
.popupcomers-navlink {
  display: contents;
}
.popupcomers-container4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 5;
  align-items: center;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #18aa00;
}
.popupcomers-text17 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 800;
}
.popupcomers-slider-pagination {
  display: block;
}
.popupcomers-slider-button-prev {
  fill: var(--dl-color-gray-black);
  color: #d6d6d6;
  display: none;
}
.popupcomers-slider-button-next {
  fill: var(--dl-color-gray-black);
  color: #d6d6d6;
  display: none;
}
.popupcomers-close-button {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  display: flex;
  z-index: 5;
  position: absolute;
  flex-direction: row;
}
.popupcomers-icon {
  width: 24px;
  cursor: pointer;
  height: 24px;
  align-self: center;
  transition: 0.3s;
}
.popupcomers-icon:hover {
  transform: rotate(90deg);
}
.popupcomers-container6 {
  display: contents;
}



@media(max-width: 991px) {
  .popupcomers-text17 {
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .popupcomers-text17 {
    font-size: 20px;
  }
  .popupcomers-close-button {
    align-self: flex-start;
  }
}
@media(max-width: 479px) {
  .popupcomers-image {
    top: -111px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: auto;
    margin: auto;
  }
}

.linknavbima-links-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.linknavbima-container {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  margin-right: 0px;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: center;
}
.linknavbima-heading {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-navlink {
  display: contents;
}
.linknavbima-pasted-image {
  width: 45px;
  cursor: pointer;
  height: 45px;
  text-decoration: none;
}
.linknavbima-text {
  color: #efefef;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.linknavbima-text01 {
  color: #efefef;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
}
.linknavbima-container01 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.linknavbima-container02 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.linknavbima-container03 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
}
.linknavbima-container04 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.linknavbima-product-container {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  margin-right: 0rem;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-text02 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-link {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.linknavbima-link:hover {
  color: #c3bbbb;
}
.linknavbima-navlink01 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.linknavbima-navlink01:hover {
  color: #c3bbbb;
}
.linknavbima-navlink02 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.linknavbima-navlink02:hover {
  color: #c3bbbb;
}
.linknavbima-navlink03 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.linknavbima-navlink03:hover {
  color: #c3bbbb;
}
.linknavbima-navlink04 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.linknavbima-navlink04:hover {
  color: #c3bbbb;
}
.linknavbima-company-container {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-text03 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-link1 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.linknavbima-link1:hover {
  color: #c3bbbb;
}
.linknavbima-navlink05 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.linknavbima-navlink05:hover {
  color: #c3bbbb;
}
.linknavbima-navlink06 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.linknavbima-navlink06:hover {
  color: #c3bbbb;
}
.linknavbima-link2 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.linknavbima-link2:hover {
  color: #c3bbbb;
}
.linknavbima-container05 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.linknavbima-product-container1 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-text04 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-navlink07 {
  color: #ffffff;
  width: auto;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.linknavbima-navlink07:hover {
  color: #c3bbbb;
}
.linknavbima-link3 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.linknavbima-link3:hover {
  color: #c3bbbb;
}
.linknavbima-link4 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.linknavbima-link4:hover {
  color: #c3bbbb;
}
.linknavbima-navlink08 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.linknavbima-navlink08:hover {
  color: #c3bbbb;
}
.linknavbima-navlink09 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.linknavbima-navlink09:hover {
  color: #c3bbbb;
}
.linknavbima-contact {
  gap: 0;
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: flex-start;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-text05 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-text06 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: 0px;
}
.linknavbima-text06:hover {
  color: #c3bbbb;
}
.linknavbima-container06 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.linknavbima-contact1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  overflow: hidden;
  position: relative;
  max-width: 380px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-text07 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-text08 {
  color: #ffffff;
  cursor: pointer;
  display: none;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-text08:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-container07 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  overflow: hidden;
  overflow-x: scroll;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.linknavbima-container08 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: space-between;
  background-color: #ffffff;
}
.linknavbima-container09 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-image {
  width: 100%;
  height: 277px;
  object-fit: cover;
  border-radius: 10px;
}
.linknavbima-container10 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-image1 {
  width: 40px;
  object-fit: cover;
}
.linknavbima-text09 {
  width: 100%;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.linknavbima-container11 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.linknavbima-text10 {
  color: #900000;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 800;
}
.linknavbima-text11 {
  width: 100%;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  text-decoration: line-through;
}
.linknavbima-link5 {
  color: #ffffff;
  width: 100%;
  border-width: 0px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #c50000;
}
.linknavbima-container12 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: space-between;
  background-color: #ffffff;
}
.linknavbima-container13 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-image2 {
  width: 100%;
  height: 277px;
  object-fit: cover;
  border-radius: 10px;
}
.linknavbima-container14 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-image3 {
  width: 40px;
  object-fit: cover;
}
.linknavbima-text12 {
  width: 100%;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.linknavbima-container15 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.linknavbima-text13 {
  color: rgb(144, 0, 0);
  width: 100%;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 800;
}
.linknavbima-text14 {
  width: 100%;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  text-decoration: line-through;
}
.linknavbima-link6 {
  color: #ffffff;
  width: 100%;
  border-width: 0px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #c50000;
}
.linknavbima-container16 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: space-between;
  background-color: #ffffff;
}
.linknavbima-container17 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-video {
  width: 100%;
  height: 277px;
  object-fit: cover;
  border-radius: 10px;
}
.linknavbima-container18 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-image4 {
  width: 40px;
  object-fit: cover;
}
.linknavbima-text15 {
  width: 100%;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.linknavbima-container19 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.linknavbima-text16 {
  color: rgb(144, 0, 0);
  width: 100%;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 800;
}
.linknavbima-text17 {
  width: 100%;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  text-decoration: line-through;
}
.linknavbima-link7 {
  color: #ffffff;
  width: 100%;
  border-width: 0px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #c50000;
}
.linknavbima-container20 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: space-between;
  background-color: #ffffff;
}
.linknavbima-container21 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-image5 {
  width: 100%;
  height: 277px;
  object-fit: cover;
  border-radius: 10px;
}
.linknavbima-container22 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-image6 {
  width: 40px;
  object-fit: cover;
}
.linknavbima-text18 {
  width: 100%;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.linknavbima-container23 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.linknavbima-text19 {
  color: rgb(144, 0, 0);
  width: 100%;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 800;
}
.linknavbima-text20 {
  width: 100%;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  text-decoration: line-through;
}
.linknavbima-link8 {
  color: #ffffff;
  width: 100%;
  border-width: 0px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #c50000;
}






.linknavbima-root-class-name6 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}


@media(max-width: 1600px) {
  .linknavbima-container01 {
    flex-direction: column;
  }
  .linknavbima-container04 {
    flex-direction: row;
  }
  .linknavbima-container05 {
    flex-direction: row;
  }
  .linknavbima-container06 {
    flex-direction: row;
  }
  .linknavbima-contact1 {
    width: 100%;
    max-width: auto;
  }
}
@media(max-width: 1200px) {
  .linknavbima-container {
    flex-direction: column;
  }
  .linknavbima-heading {
    width: 100%;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .linknavbima-container01 {
    flex-direction: column;
  }
  .linknavbima-container02 {
    width: 100%;
    justify-content: center;
  }
  .linknavbima-container03 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
  }
  .linknavbima-container04 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-direction: row;
  }
  .linknavbima-container05 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-direction: row;
  }
  .linknavbima-container06 {
    flex-direction: row;
  }
  .linknavbima-contact1 {
    max-width: 100%;
  }
}
@media(max-width: 991px) {
  .linknavbima-container {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .linknavbima-heading {
    width: 100%;
  }
  .linknavbima-container02 {
    flex-direction: column;
  }
  .linknavbima-container04 {
    flex-direction: row;
  }
  .linknavbima-container05 {
    flex-direction: row;
  }
  .linknavbima-container06 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .linknavbima-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .linknavbima-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .linknavbima-pasted-image {
    width: 45px;
  }
  .linknavbima-text01 {
    font-size: 12px;
    line-height: 18px;
  }
  .linknavbima-container02 {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .linknavbima-container04 {
    flex-direction: column;
  }
  .linknavbima-container05 {
    flex-direction: column;
  }
  .linknavbima-container06 {
    flex-direction: column;
  }
  .linknavbima-contact1 {
    max-width: 767px;
  }
}
@media(max-width: 479px) {
  .linknavbima-links-container {
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
  }
  .linknavbima-container {
    padding: 0px;
  }
  .linknavbima-container03 {
    align-items: flex-start;
    flex-direction: column;
  }
  .linknavbima-container04 {
    gap: 0px;
    flex-direction: row;
  }
  .linknavbima-container05 {
    gap: 0px;
    flex-direction: column;
  }
  .linknavbima-container06 {
    flex-direction: column;
  }
  .linknavbima-contact1 {
    display: flex;
  }
}

.footer-footer {
  gap: var(--dl-space-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #050837;
}
.footer-root-class-name {
  margin-top: 0px;
  background-color: transparent;
}




.footer-root-class-name5 {
  margin-top: 0px;
}
.footer-root-class-name6 {
  margin-top: var(--dl-space-space-twounits);
}

.footer-root-class-name8 {
  margin-top: var(--dl-space-space-twounits);
}







.footer-root-class-name16 {
  background-color: #f19200;
}
.footer-root-class-name17 {
  background-color: #f19200;
}
.footer-root-class-name18 {
  background-color: #f19200;
}
@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    height: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .footer-root-class-name6 {
    margin-top: var(--dl-space-space-twounits);
  }
}

.dana-kaget-dari-bima-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.dana-kaget-dari-bima-container01 {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.dana-kaget-dari-bima-container02 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: 100px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.dana-kaget-dari-bima-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  overflow: hidden;
  align-items: center;
  border-color: #c6c6c6;
  border-width: 3px;
  border-radius: 20px;
  justify-content: center;
}
.dana-kaget-dari-bima-container04 {
  width: 100%;
  height: auto;
  display: none;
  object-fit: cover;
}
.dana-kaget-dari-bima-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-round);
}
.dana-kaget-dari-bima-container05 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.dana-kaget-dari-bima-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.dana-kaget-dari-bima-text02 {
  color: #0028ff;
}
.dana-kaget-dari-bima-container06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.dana-kaget-dari-bima-link {
  color: rgb(32, 29, 29);
  cursor: pointer;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 600;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #c6c6c6;
  border-width: 2px;
  padding-left: 13px;
  border-radius: 20px;
  padding-right: 13px;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
.dana-kaget-dari-bima-link:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.dana-kaget-dari-bima-link1 {
  color: rgb(32, 29, 29);
  cursor: pointer;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 600;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #c6c6c6;
  border-width: 2px;
  padding-left: 13px;
  border-radius: 20px;
  padding-right: 13px;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
.dana-kaget-dari-bima-link1:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.dana-kaget-dari-bima-link2 {
  color: rgb(32, 29, 29);
  cursor: pointer;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 600;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #c6c6c6;
  border-width: 2px;
  padding-left: 13px;
  border-radius: 20px;
  padding-right: 13px;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}
.dana-kaget-dari-bima-link2:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.dana-kaget-dari-bima-container07 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.dana-kaget-dari-bima-container08 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 15px 0px #d4d4d4;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 20px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #ffffff;
}
.dana-kaget-dari-bima-image1 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.dana-kaget-dari-bima-container09 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dana-kaget-dari-bima-text03 {
  color: #3f3f3f;
  font-size: 25px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 800;
}
.dana-kaget-dari-bima-text04 {
  color: #201d1d;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #ffffff;
}
.dana-kaget-dari-bima-text05 {
  color: #3f3f3f;
  font-family: "Inter";
}
.dana-kaget-dari-bima-button {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-color: #004482;
  border-width: 3px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: rgb(0, 68, 130);
}
.dana-kaget-dari-bima-button:hover {
  color: #2f2f2f;
  box-shadow: 5px 5px 10px 0px #bcbcbc;
  font-style: normal;
  font-weight: 600;
  border-color: #434343;
  border-width: 3px;
  background-color: transparent;
}
.dana-kaget-dari-bima-container10 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 15px 0px #d4d4d4;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 20px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #ffffff;
}
.dana-kaget-dari-bima-image2 {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.dana-kaget-dari-bima-container11 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dana-kaget-dari-bima-text06 {
  color: #3f3f3f;
  font-size: 25px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 800;
}
.dana-kaget-dari-bima-text07 {
  color: #201d1d;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #ffffff;
}
.dana-kaget-dari-bima-text08 {
  color: #3f3f3f;
  font-family: "Inter";
}
.dana-kaget-dari-bima-button1 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-color: #004482;
  border-width: 3px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: rgb(0, 68, 130);
}
.dana-kaget-dari-bima-button1:hover {
  color: #2f2f2f;
  box-shadow: 5px 5px 10px 0px #bcbcbc;
  font-style: normal;
  font-weight: 600;
  border-color: #434343;
  border-width: 3px;
  background-color: transparent;
}
.dana-kaget-dari-bima-container12 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.dana-kaget-dari-bima-container13 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 15px 0px #d4d4d4;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 20px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #ffffff;
}
.dana-kaget-dari-bima-image3 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.dana-kaget-dari-bima-container14 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dana-kaget-dari-bima-text09 {
  color: #3f3f3f;
  font-size: 25px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 800;
}
.dana-kaget-dari-bima-text10 {
  color: #201d1d;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #ffffff;
}
.dana-kaget-dari-bima-text11 {
  color: #3f3f3f;
  font-family: "Inter";
}
.dana-kaget-dari-bima-button2 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-color: #004482;
  border-width: 3px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: rgb(0, 68, 130);
}
.dana-kaget-dari-bima-button2:hover {
  color: #2f2f2f;
  box-shadow: 5px 5px 10px 0px #bcbcbc;
  font-style: normal;
  font-weight: 600;
  border-color: #434343;
  border-width: 3px;
  background-color: transparent;
}
.dana-kaget-dari-bima-container15 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 15px 0px #d4d4d4;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 20px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #ffffff;
}
.dana-kaget-dari-bima-image4 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.dana-kaget-dari-bima-container16 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dana-kaget-dari-bima-text12 {
  color: #3f3f3f;
  font-size: 25px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 800;
}
.dana-kaget-dari-bima-text13 {
  color: #201d1d;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #ffffff;
}
.dana-kaget-dari-bima-text14 {
  color: #3f3f3f;
  font-family: "Inter";
}
.dana-kaget-dari-bima-button3 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-color: #004482;
  border-width: 3px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: rgb(0, 68, 130);
}
.dana-kaget-dari-bima-button3:hover {
  color: #2f2f2f;
  box-shadow: 5px 5px 10px 0px #bcbcbc;
  font-style: normal;
  font-weight: 600;
  border-color: #434343;
  border-width: 3px;
  background-color: transparent;
}
.dana-kaget-dari-bima-container17 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.dana-kaget-dari-bima-container18 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 15px 0px #d4d4d4;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 20px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #ffffff;
}
.dana-kaget-dari-bima-image5 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.dana-kaget-dari-bima-container19 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dana-kaget-dari-bima-text15 {
  color: #3f3f3f;
  font-size: 25px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 800;
}
.dana-kaget-dari-bima-text16 {
  color: #201d1d;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #ffffff;
}
.dana-kaget-dari-bima-text17 {
  color: rgb(63, 63, 63);
}
.dana-kaget-dari-bima-button4 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-color: #004482;
  border-width: 3px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: rgb(0, 68, 130);
}
.dana-kaget-dari-bima-button4:hover {
  color: #2f2f2f;
  box-shadow: 5px 5px 10px 0px #bcbcbc;
  font-style: normal;
  font-weight: 600;
  border-color: #434343;
  border-width: 3px;
  background-color: transparent;
}
.dana-kaget-dari-bima-container20 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 15px 0px #d4d4d4;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: 20px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: #ffffff;
}
.dana-kaget-dari-bima-image6 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.dana-kaget-dari-bima-container21 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dana-kaget-dari-bima-text18 {
  color: #3f3f3f;
  font-size: 25px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 800;
}
.dana-kaget-dari-bima-text19 {
  color: #201d1d;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 20px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #ffffff;
}
.dana-kaget-dari-bima-text20 {
  color: rgb(63, 63, 63);
}
.dana-kaget-dari-bima-button5 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-color: #004482;
  border-width: 3px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: rgb(0, 68, 130);
}
.dana-kaget-dari-bima-button5:hover {
  color: #2f2f2f;
  box-shadow: 5px 5px 10px 0px #bcbcbc;
  font-style: normal;
  font-weight: 600;
  border-color: #434343;
  border-width: 3px;
  background-color: transparent;
}
.dana-kaget-dari-bima-container22 {
  display: none;
}
.dana-kaget-dari-bima-container23 {
  display: contents;
}



@media(max-width: 767px) {
  .dana-kaget-dari-bima-container07 {
    flex-direction: column;
  }
  .dana-kaget-dari-bima-container12 {
    flex-direction: column;
  }
  .dana-kaget-dari-bima-container17 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .dana-kaget-dari-bima-container03 {
    gap: var(--dl-space-space-twounits);
    position: relative;
    padding-left: 16px;
    flex-direction: column;
  }
  .dana-kaget-dari-bima-container04 {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 95px;
    margin: auto;
    display: flex;
    position: absolute;
    background-color: #f1f1f1;
  }
  .dana-kaget-dari-bima-image {
    z-index: 5;
    margin-right: 0px;
  }
  .dana-kaget-dari-bima-container05 {
    align-items: center;
  }
  .dana-kaget-dari-bima-text {
    text-align: center;
  }
  .dana-kaget-dari-bima-container06 {
    width: 100%;
    flex-direction: column;
  }
  .dana-kaget-dari-bima-link {
    width: 100%;
    padding-top: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .dana-kaget-dari-bima-link1 {
    width: 100%;
    padding-top: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .dana-kaget-dari-bima-link2 {
    width: 100%;
    padding-top: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
