.popupcustomize-container {
  top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: Unit;
  z-index: 110;
  position: fixed;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  backdrop-filter: blur(5px);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.45);
}
.popupcustomize-container1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: 500px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.39);
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.popupcustomize-header {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: none;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.popupcustomize-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.popupcustomize-container2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-color: #eaeaea;
}
.popupcustomize-text {
  font-size: 20px;
  text-align: center;
}
.popupcustomize-text01 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.popupcustomize-text02 {
  font-style: normal;
}
.popupcustomize-text03 {
  font-style: normal;
}
.popupcustomize-text04 {
  font-size: 16px;
  font-style: normal;
}
.popupcustomize-text05 {
  font-size: 16px;
  font-weight: 900;
}
.popupcustomize-text06 {
  font-size: 16px;
  font-style: normal;
}
.popupcustomize-text07 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.popupcustomize-text08 {
  font-size: 16px;
  font-style: normal;
}
.popupcustomize-navlink {
  display: contents;
}
.popupcustomize-container3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #18aa00;
}
.popupcustomize-text09 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 800;
}
.popupcustomize-header1 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.popupcustomize-image1 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.popupcustomize-container4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  padding-top: 16px;
  border-radius: 10px;
  flex-direction: column;
  background-color: #eaeaea;
}
.popupcustomize-text10 {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
.popupcustomize-text11 {
  font-size: 16px;
  text-align: center;
}
.popupcustomize-link {
  display: contents;
}
.popupcustomize-container5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 5;
  align-items: center;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #18aa00;
}
.popupcustomize-text12 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 800;
}
.popupcustomize-close-button {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  display: flex;
  z-index: 5;
  position: absolute;
  flex-direction: row;
}
.popupcustomize-icon {
  width: 24px;
  cursor: pointer;
  height: 24px;
  align-self: center;
  transition: 0.7s;
}
.popupcustomize-icon:hover {
  transform: rotate(90deg);
}
.popupcustomize-container7 {
  display: contents;
}
.popupcustomize-root-class-name1 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
}

.popupcustomize-root-class-name {
  display: none;
}
.popupcustomize-root-class-name3 {
  display: none;
}
@media(max-width: 1200px) {
  .popupcustomize-text09 {
    font-size: 30px;
  }
}
@media(max-width: 991px) {
  .popupcustomize-text09 {
    font-size: 20px;
  }
  .popupcustomize-text12 {
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .popupcustomize-header {
    gap: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
  }
  .popupcustomize-text09 {
    font-size: 20px;
  }
  .popupcustomize-header1 {
    gap: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
  }
  .popupcustomize-text12 {
    font-size: 20px;
  }
  .popupcustomize-close-button {
    align-self: flex-start;
  }
}
@media(max-width: 479px) {
  .popupcustomize-image {
    top: -111px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: auto;
    margin: auto;
  }
  .popupcustomize-image1 {
    top: -111px;
    left: 0px;
    right: 0px;
    height: auto;
    margin: auto;
  }
}

.gift-container {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 479px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gift-image {
  width: 100%;
  object-fit: cover;
}
.gift-text {
  top: 123px;
  left: 62px;
  position: absolute;
  font-size: 10px;
}
.gift-link {
  color: rgb(255, 255, 255);
  right: 12px;
  bottom: 12px;
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  position: absolute;
  font-size: 12px;
  box-shadow: rgb(212, 212, 212) 3px 3px 5px 0px;
  font-style: normal;
  text-align: right;
  transition: 0.3s;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: rgb(0, 78, 255);
}
.gift-link:hover {
  fill: var(--dl-color-gray-black);
  color: #ffffff;
  background-color: #d00000;
}
.gift-text1 {
  left: 54px;
  bottom: 12px;
  padding: var(--dl-space-space-halfunit);
  position: absolute;
  font-size: 10px;
  box-shadow: 3px 3px 5px 0px #d4d4d4;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #ffffff;
}
.gift-text1:hover {
  fill: var(--dl-color-gray-black);
  color: #ffffff;
  background-color: #d00000;
}






.dashboard-container {
  gap: 0;
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.dashboard-container01 {
  width: 100%;
  height: 100vh;
  display: flex;
  max-width: 479px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container02 {
  flex: 0 0 auto;
  width: 100%;
  bottom: 0px;
  height: 60px;
  display: flex;
  z-index: 10;
  position: fixed;
  max-width: 479px;
  transition: 0.8s;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.dashboard-container02:hover {
  box-shadow: 0px 0px 60px 10px #909090;
}
.dashboard-container03 {
  flex: 1;
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: #c6c6c6;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: #efefef;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.dashboard-container03:hover {
  border-color: #2d9ec3;
  background-color: #dcdcdc;
}
.dashboard-container03:active {
  border-color: #2d9ec3;
  background-color: #dcdcdc;
}
.dashboard-icon {
  fill: #969191;
  width: 24px;
  height: 24px;
}
.dashboard-container04 {
  flex: 1;
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: #c6c6c6;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: #efefef;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.dashboard-container04:hover {
  border-color: #2d9ec3;
  background-color: #dcdcdc;
}
.dashboard-container04:active {
  border-color: #2d9ec3;
  background-color: #dcdcdc;
}
.dashboard-icon02 {
  fill: #969191;
  width: 24px;
  height: 24px;
}
.dashboard-container05 {
  flex: 1;
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: #c6c6c6;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: #efefef;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.dashboard-container05:hover {
  border-color: #2d9ec3;
  background-color: #dcdcdc;
}
.dashboard-container05:active {
  border-color: #2d9ec3;
  background-color: #dcdcdc;
}
.dashboard-icon04 {
  fill: #969191;
  width: 24px;
  height: 24px;
}
.dashboard-container06 {
  flex: 1;
  width: 100%;
  cursor: pointer;
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: #c6c6c6;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
  background-color: #efefef;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.dashboard-container06:hover {
  border-color: #2d9ec3;
  background-color: #dcdcdc;
}
.dashboard-container06:active {
  border-color: #2d9ec3;
  background-color: #dcdcdc;
}
.dashboard-icon06 {
  fill: #969191;
  width: 24px;
  height: 24px;
}
.dashboard-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  position: relative;
  max-width: 479px;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container08 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container09 {
  width: 100%;
  bottom: 0px;
  height: 100vh;
  display: flex;
  z-index: 2;
  position: fixed;
  max-width: 479px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: 55px;
  justify-content: flex-start;
  background-color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.dashboard-container10 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-image {
  top: 229px;
  left: 0px;
  right: 0px;
  width: 150px;
  height: 150px;
  margin: auto;
  z-index: 5;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.dashboard-image1 {
  width: 100%;
  height: 318px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-input-radius);
}
.dashboard-container11 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow-y: scroll;
  align-items: center;
  padding-top: 107px;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container12 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container13 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-text {
  width: 100%;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #ebebeb;
}
.dashboard-container14 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container15 {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-text01 {
  font-size: 14px;
}
.dashboard-text02 {
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(235, 235, 235);
}
.dashboard-container16 {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-text03 {
  font-size: 14px;
}
.dashboard-text04 {
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(235, 235, 235);
}
.dashboard-container17 {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-text05 {
  font-size: 14px;
}
.dashboard-text06 {
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(235, 235, 235);
}
.dashboard-container18 {
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-text07 {
  font-size: 14px;
}
.dashboard-text11 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(37, 183, 0);
}
.dashboard-text12 {
  fill: #ebebeb;
  color: #ebebeb;
  width: 100%;
  align-self: flex-start;
  font-style: normal;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #ebebeb;
}
.dashboard-container19 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.dashboard-container20 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-text13 {
  font-size: 14px;
}
.dashboard-text14 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(37, 183, 0);
}
.dashboard-button {
  color: rgb(255, 255, 255);
  font-size: 14px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #da0000;
}
.dashboard-text15 {
  color: rgb(193, 0, 0);
}
.dashboard-container22 {
  display: contents;
}
.dashboard-form {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  justify-content: center;
}
.dashboard-text16 {
  fill: #658ea9;
  flex: 0 0 auto;
  color: #658ea9;
  width: 100%;
  height: auto;
  display: flex;
  font-style: normal;
  align-items: center;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  border-color: #658ea9;
  border-style: dashed;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.dashboard-textinput {
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: none;
  padding: var(--dl-space-space-halfunit);
  font-style: normal;
  font-weight: 500;
  border-width: 0px;
  border-radius: 10px;
  background-color: rgb(241, 146, 0);
}
.dashboard-container23 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.dashboard-container24 {
  flex: 1;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #658ea9;
}
.dashboard-icon08 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.dashboard-button1 {
  fill: var(--dl-color-gray-black);
  flex: 1;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  height: 50px;
  display: flex;
  font-style: normal;
  align-items: center;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #658ea9;
}
.dashboard-container26 {
  display: contents;
}
.dashboard-container27 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: none;
  position: relative;
  max-width: 479px;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container28 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 52px;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 5;
  position: fixed;
  max-width: 479px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #efefef;
}
.dashboard-text17 {
  color: #000000;
  font-style: normal;
  font-weight: 800;
}
.dashboard-container29 {
  gap: var(--dl-space-space-unit);
  height: 100vh;
  display: flex;
  overflow-y: scroll;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.dashboard-container30 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: none;
  position: relative;
  max-width: 479px;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container31 {
  top: 0px;
  right: 0px;
  width: 100%;
  height: 52px;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: absolute;
  max-width: 479px;
  align-items: center;
  flex-direction: column;
  background-color: #efefef;
}
.dashboard-text18 {
  color: rgb(0, 0, 0);
  font-style: normal;
  font-weight: 600;
}
.dashboard-container33 {
  display: contents;
}
.dashboard-container34 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.dashboard-container35 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(242, 237, 229) 0.00%,rgba(244, 244, 244, 0.71) 100.00%),url('https://th.bing.com/th/id/OIP.bx_pgNfwQZZbuyeGzjc5uQHaHa?w=626&h=626&rs=1&pid=ImgDetMain');
  background-repeat: no-repeat;
  background-position: top left;
}
.dashboard-container36 {
  width: 100%;
  height: 3px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #d2d2d2;
}
.dashboard-text19 {
  font-size: 14px;
}
.dashboard-text20 {
  font-weight: 700;
}
.dashboard-text21 {
  font-size: 14px;
}
.dashboard-text22 {
  font-weight: 700;
}
.dashboard-text24 {
  font-weight: 700;
}
.dashboard-text25 {
  font-weight: 700;
}
.dashboard-text27 {
  font-weight: 700;
}
.dashboard-text28 {
  font-weight: 700;
}
.dashboard-text30 {
  text-decoration: underline;
}
.dashboard-text32 {
  font-size: 14px;
}
.dashboard-text33 {
  font-weight: 700;
}
.dashboard-text34 {
  text-decoration: underline;
}
.dashboard-container37 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  overflow-x: scroll;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 0.22);
}
.dashboard-container38 {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  z-index: 5;
  position: fixed;
  max-width: 479px;
  box-shadow: -5px 0px 20px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: 86px;
  justify-content: center;
  background-color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.dashboard-form1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.dashboard-container39 {
  top: -25px;
  flex: 0 0 auto;
  right: 20px;
  width: 50px;
  cursor: pointer;
  height: 50px;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #214bda;
}
.dashboard-container39:hover {
  background-color: #607fe8;
}
.dashboard-icon10 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.dashboard-textinput1 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 2px;
  background-color: #ffffff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dashboard-textinput2 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 2px;
  background-color: #ffffff;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.dashboard-container41 {
  display: contents;
}
.dashboard-container43 {
  display: contents;
}
.dashboard-container44 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: none;
  position: relative;
  max-width: 479px;
  overflow-y: scroll;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container45 {
  top: 0px;
  right: 0px;
  width: 100%;
  height: 52px;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 5;
  position: absolute;
  max-width: 479px;
  align-items: center;
  flex-direction: column;
  background-color: #efefef;
}
.dashboard-text35 {
  color: rgb(0, 0, 0);
  font-style: normal;
  font-weight: 600;
}
.dashboard-container46 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dashboard-container47 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-buttonradius);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(115, 115, 115, 0.38);
}
.dashboard-icon12 {
  fill: #625a5a;
  width: 24px;
  height: 24px;
}
.dashboard-text36 {
  fill: #625a5a;
  color: #625a5a;
  font-size: 14px;
}
.dashboard-container48 {
  display: none;
}
.dashboard-container49 {
  display: contents;
}
.dashboard-container50 {
  display: none;
}
.dashboard-container51 {
  display: contents;
}
@media(max-width: 479px) {
  .dashboard-container08 {
    position: relative;
    align-items: center;
    justify-content: flex-start;
  }
  .dashboard-container10 {
    position: relative;
  }
  .dashboard-image {
    left: 0px;
    right: 0px;
    bottom: -71px;
    margin: auto;
    z-index: 5;
    position: absolute;
  }
}
