.loading-container {
  gap: var(--dl-space-space-unit);
  top: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 110;
  position: fixed;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(20px);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.01);
}
.loading-container1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.loading-lottie-node {
  width: 100%;
  height: 100vh;
  z-index: 100;
  animation-name: zoomOut;
  animation-delay: 5s;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
.loading-container3 {
  display: contents;
}
.loading-root-class-name {
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
}

.loading-root-class-name2 {
  top: 0px;
  left: 0px;
  position: absolute;
}


.block-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: not-allowed;
  height: 100vh;
  display: none;
  z-index: 1000;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  backdrop-filter: blur(2px);
  justify-content: center;
}
.block-container1 {
  gap: var(--dl-space-space-unit);
  flex: 0;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: 900px;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.block-container2 {
  gap: var(--dl-space-space-unit);
  flex: 0;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 100;
  box-shadow: 5px 5px 15px 0px rgba(177, 177, 177, 0.65);
  margin-top: 0px;
  align-items: center;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 15px;
  flex-direction: column;
  background-color: #ffffff;
}
.block-text {
  color: #ffffff;
  width: 100%;
  font-size: 16px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 15px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
  background-color: #000000;
}
.block-container3 {
  width: 100%;
  display: none;
}
.block-container4 {
  display: contents;
}
.block-container5 {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.block-text1 {
  color: rgb(255, 255, 255);
  width: 100%;
  padding: var(--dl-space-space-halfunit);
  background-color: rgb(192, 1, 1);
}
.block-link {
  color: #ffffff;
  width: auto;
  cursor: pointer;
  display: none;
  font-size: 16px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 15px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
  background-color: #049f0c;
}
.block-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}
.block-root-class-name1 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.block-root-class-name2 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.block-root-class-name3 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.block-root-class-name4 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.block-root-class-name5 {
  top: 0px;
  left: 0px;
  position: absolute;
}
@media(max-width: 991px) {
  .block-container1 {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .block-container1 {
    flex: 1;
  }
  .block-container2 {
    flex: 0;
  }
}
@media(max-width: 479px) {
  .block-container1 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    align-items: center;
    flex-direction: column;
  }
  .block-container2 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
  }
  .block-text {
    font-size: 16px;
    background-color: #000000;
  }
}

.ads-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 255px;
  display: flex;
  position: initial;
  max-width: 479px;
  align-items: flex-start;
  border-radius: 15px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.ads-container1 {
  gap: 0;
  flex: 1;
  width: 100%;
  height: 235px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1000px;
  align-items: center;
  border-color: #bfbfbf;
  border-style: dashed;
  border-width: 0px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
}
.ads-text {
  top: 0px;
  color: #ffffff;
  right: 0px;
  position: absolute;
  font-size: 9px;
  padding-top: 5px;
  padding-left: 5px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 5px;
  padding-bottom: 5px;
  background-color: #000000;
}
.ads-text1 {
  color: #bfbfbf;
  z-index: 100;
}
.ads-text2 {
  color: #ffffff;
  display: none;
  z-index: 100;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 15px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #000000;
}
.ads-text2:hover {
  color: #000000;
  transform: scale(105%);
  box-shadow: 5px 5px 15px 0px rgba(56, 56, 56, 0.44);
  border-radius: 15px;
  letter-spacing: 2px;
  background-color: #ffffff;
}
.ads-container2 {
  gap: 0;
  flex: 1;
  width: 100%;
  height: 235px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1000px;
  align-items: center;
  border-color: #bfbfbf;
  border-style: dashed;
  border-width: 0px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
}
.ads-text3 {
  top: 0px;
  color: #ffffff;
  right: 0px;
  position: absolute;
  font-size: 9px;
  padding-top: 5px;
  padding-left: 5px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 5px;
  padding-bottom: 5px;
  background-color: #000000;
}
.ads-text4 {
  color: #bfbfbf;
  z-index: 100;
}
.ads-text5 {
  color: #ffffff;
  display: none;
  z-index: 100;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 15px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #000000;
}
.ads-text5:hover {
  color: #000000;
  transform: scale(105%);
  box-shadow: 5px 5px 15px 0px rgba(56, 56, 56, 0.44);
  border-radius: 15px;
  letter-spacing: 2px;
  background-color: #ffffff;
}
@media(max-width: 479px) {
  .ads-container {
    height: auto;
    flex-direction: row;
  }
}

.links-links {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  z-index: 15;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.links-column {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header {
  color: #efefef;
  font-size: 20px;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 600;
  line-height: 30px;
}
.links-link {
  color: rgb(239, 239, 239);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.links-link:hover {
  color: #d8d8d8;
  text-decoration:     none;
}
.links-link1 {
  color: #efefef;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration:   none;
}
.links-link1:hover {
  color: #d8d8d8;
  text-decoration:     none;
}
.links-column1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header1 {
  color: #efefef;
  font-size: 20px;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 600;
  line-height: 30px;
}
.links-link2 {
  color: #efefef;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration:   none;
}
.links-link2:hover {
  color: #d8d8d8;
  text-decoration:     none;
}
.links-column2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header2 {
  color: #efefef;
  font-size: 20px;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 600;
  line-height: 30px;
}
.links-link3 {
  color: #efefef;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration:   none;
}
.links-link3:hover {
  color: #d8d8d8;
  text-decoration: underline   none;
}
.links-link4 {
  color: #efefef;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration:   none;
}
.links-link4:hover {
  color: #d8d8d8;
  text-decoration:     none;
}
.links-link5 {
  color: #efefef;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration:       none;
}
.links-link5:hover {
  color: #d8d8d8;
  text-decoration:       none;
}
.links-column3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header3 {
  color: #efefef;
  font-size: 20px;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 600;
  line-height: 30px;
}
.links-container {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.links-link6 {
  display: contents;
}
.links-icon {
  fill: #ffffff;
  width: 20px;
  cursor: pointer;
  height: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.links-icon:hover {
  fill: #d8d8d8;
}
.links-link7 {
  display: contents;
}
.links-icon2 {
  fill: #ffffff;
  width: 20px;
  cursor: pointer;
  height: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.links-icon2:hover {
  fill: #d8d8d8;
}
.links-link8 {
  display: contents;
}
.links-icon6 {
  fill: #ffffff;
  width: 20px;
  cursor: pointer;
  height: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.links-icon6:hover {
  fill: #d8d8d8;
}




@media(max-width: 991px) {
  .links-links {
    justify-content: flex-end;
  }
}
@media(max-width: 767px) {
  .links-links {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  .links-header {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header1 {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header2 {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header3 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .links-links {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.footer-footer {
  gap: var(--dl-space-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #050837;
}
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-information {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-heading {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-pasted-image {
  width: 45px;
  height: 45px;
}
.footer-text {
  color: #efefef;
}
.footer-text1 {
  color: #efefef;
}
.footer-root-class-name {
  margin-top: var(--dl-space-space-threeunits);
}




.footer-root-class-name5 {
  margin-top: 0px;
}
.footer-root-class-name6 {
  margin-top: var(--dl-space-space-twounits);
}

.footer-root-class-name8 {
  margin-top: var(--dl-space-space-twounits);
}





@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .footer-content {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-information {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .footer-pasted-image {
    width: 45px;
  }
  .footer-text {
    font-size: 12px;
    line-height: 18px;
  }
  .footer-text1 {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    height: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .footer-content {
    align-self: flex-start;
    align-items: center;
  }
  .footer-root-class-name6 {
    margin-top: var(--dl-space-space-twounits);
  }
}

.dashboard-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container01 {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  overflow-y: scroll;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.dashboard-container02 {
  gap: 0;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: #1800ff;
}
.dashboard-text {
  color: rgb(255, 255, 255);
  direction: inherit;
  font-size: 10px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard-container03 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: center;
}
.dashboard-container04 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 29%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.dashboard-text01 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 16px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-color: rgb(255, 152, 0);
}
.dashboard-container05 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-icon {
  fill: #232323;
  width: 16px;
  height: 16px;
}
.dashboard-text02 {
  color: #232323;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 300;
}
.dashboard-text03 {
  color: #232323;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 300;
}
.dashboard-text04 {
  color: rgb(212, 212, 212);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 300;
}
.dashboard-icon2 {
  fill: #232323;
  width: 16px;
  height: 16px;
}
.dashboard-text05 {
  color: #232323;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 300;
}
.dashboard-text06 {
  color: #232323;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 300;
}
.dashboard-week1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 15px 0px rgba(177, 177, 177, 0.65);
  align-items: center;
  border-color: #e6e6e6;
  border-width: 3px;
  border-radius: 10px;
  flex-direction: row;
  background-color: #ffffff;
}
.dashboard-image {
  width: 70px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.dashboard-container06 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.dashboard-text07 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.dashboard-text08 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.dashboard-link {
  fill: #ff9800;
  color: rgb(255, 152, 0);
  width: auto;
  cursor: pointer;
  font-size: 16px;
  max-width: auto;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ff9800;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.dashboard-link:hover {
  box-shadow: 3px 3px 15px 0px #c6c6c6;
}
.dashboard-container07 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 15px 0px rgba(177, 177, 177, 0.65);
  align-items: center;
  border-color: #e6e6e6;
  border-width: 3px;
  border-radius: 10px;
  flex-direction: column;
  background-color: #ffffff;
}
.dashboard-text09 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 16px;
  max-width: auto;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-color: rgb(255, 152, 0);
}
.dashboard-container08 {
  width: 100%;
  height: 3px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ff9800;
}
.dashboard-container09 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container10 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container11 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ff9800;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.dashboard-text10 {
  color: #ffffff;
  width: 100%;
  font-size: 16px;
  max-width: auto;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.dashboard-text11 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  max-width: auto;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-color: #00b54d;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.dashboard-text13 {
  font-weight: 700;
}
.dashboard-container12 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard-navlink {
  color: rgb(255, 0, 0);
  width: auto;
  cursor: pointer;
  font-size: 16px;
  max-width: auto;
  align-self: flex-end;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgb(255, 0, 0);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.dashboard-text14 {
  color: rgb(255, 0, 0);
  width: auto;
  cursor: pointer;
  font-size: 16px;
  max-width: auto;
  align-self: flex-end;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgb(255, 0, 0);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.dashboard-container14 {
  display: contents;
}
.dashboard-container15 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard-container16 {
  width: 100%;
  height: 3px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ff9800;
}
.dashboard-text15 {
  color: rgb(255, 255, 255);
  width: 100%;
  display: none;
  font-size: 20px;
  max-width: auto;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 15px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-color: rgb(255, 152, 0);
}
.dashboard-text16 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 16px;
  max-width: auto;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-color: rgb(255, 152, 0);
}
.dashboard-container17 {
  width: 100%;
  height: 962px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dashboard-container18 {
  width: 100%;
  height: 100%;
}
.dashboard-container19 {
  display: contents;
}
.dashboard-container20 {
  width: 100%;
  align-self: center;
}
.dashboard-container21 {
  display: contents;
}
.dashboard-container22 {
  width: 100%;
  display: none;
  align-self: center;
}
.dashboard-container23 {
  display: contents;
}
.dashboard-container25 {
  display: contents;
}
.dashboard-container27 {
  display: contents;
}
@media(max-width: 1600px) {
  .dashboard-container17 {
    height: 799px;
  }
}
@media(max-width: 1200px) {
  .dashboard-text02 {
    font-size: 16px;
  }
  .dashboard-text03 {
    font-size: 16px;
  }
  .dashboard-text04 {
    font-size: 30px;
  }
  .dashboard-text05 {
    font-size: 16px;
  }
  .dashboard-text06 {
    font-size: 16px;
  }
  .dashboard-container17 {
    height: 601px;
  }
}
@media(max-width: 991px) {
  .dashboard-container02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard-container03 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .dashboard-container04 {
    flex: 1;
    width: 100%;
  }
  .dashboard-text02 {
    font-size: 16px;
  }
  .dashboard-text03 {
    font-size: 16px;
  }
  .dashboard-text04 {
    font-size: 20px;
  }
  .dashboard-text05 {
    font-size: 16px;
  }
  .dashboard-text06 {
    font-size: 16px;
  }
  .dashboard-container07 {
    height: auto;
    display: none;
  }
  .dashboard-container09 {
    width: 100%;
  }
  .dashboard-container17 {
    height: 754px;
  }
}
@media(max-width: 767px) {
  .dashboard-container02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard-text02 {
    font-size: 16px;
  }
  .dashboard-text03 {
    font-size: 16px;
  }
  .dashboard-text04 {
    font-size: 20px;
  }
  .dashboard-text05 {
    font-size: 16px;
  }
  .dashboard-text06 {
    font-size: 16px;
  }
  .dashboard-week1 {
    flex: 1;
  }
  .dashboard-container06 {
    width: 100%;
  }
  .dashboard-container07 {
    flex: 1;
  }
  .dashboard-text15 {
    display: flex;
  }
  .dashboard-text16 {
    display: none;
  }
  .dashboard-container17 {
    height: 561px;
  }
  .dashboard-container18 {
    display: none;
  }
}
@media(max-width: 479px) {
  .dashboard-container02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard-text {
    color: rgb(255, 255, 255);
    margin-left: 0px;
    margin-right: 0px;
  }
  .dashboard-container05 {
    margin-top: 0px;
  }
  .dashboard-text02 {
    font-size: 16px;
  }
  .dashboard-text03 {
    font-size: 16px;
  }
  .dashboard-text04 {
    font-size: 20px;
  }
  .dashboard-text05 {
    font-size: 16px;
  }
  .dashboard-text06 {
    font-size: 16px;
  }
  .dashboard-week1 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
  }
  .dashboard-image {
    width: 70px;
    height: auto;
  }
  .dashboard-container06 {
    width: 100%;
  }
  .dashboard-text08 {
    width: auto;
  }
  .dashboard-container07 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }
  .dashboard-container09 {
    gap: var(--dl-space-space-unit);
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .dashboard-container12 {
    width: 100%;
  }
  .dashboard-navlink {
    width: 100%;
  }
  .dashboard-text14 {
    width: 100%;
  }
  .dashboard-text15 {
    display: flex;
  }
  .dashboard-container17 {
    height: auto;
  }
  .dashboard-container18 {
    height: 344px;
  }
}
