.links-links {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  z-index: 15;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.links-column {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header {
  color: #efefef;
  font-size: 20px;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 600;
  line-height: 30px;
}
.links-link {
  color: rgb(239, 239, 239);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.links-link:hover {
  color: #d8d8d8;
  text-decoration:     none;
}
.links-link1 {
  color: #efefef;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration:   none;
}
.links-link1:hover {
  color: #d8d8d8;
  text-decoration:     none;
}
.links-column1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header1 {
  color: #efefef;
  font-size: 20px;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 600;
  line-height: 30px;
}
.links-link2 {
  color: #efefef;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration:   none;
}
.links-link2:hover {
  color: #d8d8d8;
  text-decoration:     none;
}
.links-column2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header2 {
  color: #efefef;
  font-size: 20px;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 600;
  line-height: 30px;
}
.links-link3 {
  color: #efefef;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration:   none;
}
.links-link3:hover {
  color: #d8d8d8;
  text-decoration: underline   none;
}
.links-link4 {
  color: #efefef;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration:   none;
}
.links-link4:hover {
  color: #d8d8d8;
  text-decoration:     none;
}
.links-link5 {
  color: #efefef;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration:       none;
}
.links-link5:hover {
  color: #d8d8d8;
  text-decoration:       none;
}
.links-column3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header3 {
  color: #efefef;
  font-size: 20px;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 600;
  line-height: 30px;
}
.links-container {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.links-link6 {
  display: contents;
}
.links-icon {
  fill: #ffffff;
  width: 20px;
  cursor: pointer;
  height: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.links-icon:hover {
  fill: #d8d8d8;
}
.links-link7 {
  display: contents;
}
.links-icon2 {
  fill: #ffffff;
  width: 20px;
  cursor: pointer;
  height: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.links-icon2:hover {
  fill: #d8d8d8;
}
.links-link8 {
  display: contents;
}
.links-icon6 {
  fill: #ffffff;
  width: 20px;
  cursor: pointer;
  height: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.links-icon6:hover {
  fill: #d8d8d8;
}




@media(max-width: 991px) {
  .links-links {
    justify-content: flex-end;
  }
}
@media(max-width: 767px) {
  .links-links {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  .links-header {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header1 {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header2 {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header3 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .links-links {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.footer-footer {
  gap: var(--dl-space-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #050837;
}
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-information {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-heading {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-pasted-image {
  width: 45px;
  height: 45px;
}
.footer-text {
  color: #efefef;
}
.footer-text1 {
  color: #efefef;
}
.footer-root-class-name {
  margin-top: var(--dl-space-space-threeunits);
}




.footer-root-class-name5 {
  margin-top: 0px;
}
.footer-root-class-name6 {
  margin-top: var(--dl-space-space-twounits);
}

.footer-root-class-name8 {
  margin-top: var(--dl-space-space-twounits);
}





@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .footer-content {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-information {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .footer-pasted-image {
    width: 45px;
  }
  .footer-text {
    font-size: 12px;
    line-height: 18px;
  }
  .footer-text1 {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    height: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .footer-content {
    align-self: flex-start;
    align-items: center;
  }
  .footer-root-class-name6 {
    margin-top: var(--dl-space-space-twounits);
  }
}

.dashboard1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.dashboard1-container01 {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  overflow-y: scroll;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.dashboard1-container02 {
  gap: 0;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: #1800ff;
}
.dashboard1-text {
  color: rgb(255, 255, 255);
  direction: inherit;
  font-size: 10px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dashboard1-text02 {
  font-weight: 700;
}
.dashboard1-container03 {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: center;
}
.dashboard1-container04 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 29%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.dashboard1-container05 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard1-container06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ff9800;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.dashboard1-text03 {
  color: #ffffff;
  width: 100%;
  font-size: 16px;
  max-width: auto;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.dashboard1-text04 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  max-width: auto;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-color: #00b54d;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.dashboard1-text06 {
  font-weight: 700;
}
.dashboard1-text07 {
  color: rgb(255, 0, 0);
  width: auto;
  cursor: pointer;
  font-size: 16px;
  max-width: auto;
  align-self: flex-end;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgb(255, 0, 0);
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.dashboard1-container07 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 15px 0px rgba(177, 177, 177, 0.65);
  align-items: center;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 10px;
  flex-direction: column;
  background-color: #ffffff;
}
.dashboard1-container08 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.dashboard1-icon {
  fill: #232323;
  width: 16px;
  height: 16px;
}
.dashboard1-text08 {
  color: #232323;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 300;
}
.dashboard1-text09 {
  color: #232323;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 300;
}
.dashboard1-text10 {
  color: rgb(212, 212, 212);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 300;
}
.dashboard1-icon2 {
  fill: #232323;
  width: 16px;
  height: 16px;
}
.dashboard1-text11 {
  color: #232323;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 300;
}
.dashboard1-text12 {
  color: #232323;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 300;
}
.dashboard1-text13 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: auto;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-color: rgb(255, 152, 0);
}
.dashboard1-text14 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 20px;
  max-width: auto;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
  background-color: rgb(255, 152, 0);
}
.dashboard1-container09 {
  width: 100%;
  height: 3px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ff9800;
}
.dashboard1-container10 {
  gap: var(--dl-space-space-threeunits);
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard1-container11 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard1-container12 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.dashboard1-container13 {
  width: 100%;
}
.dashboard1-container14 {
  display: contents;
}
.dashboard1-container15 {
  width: 100%;
  height: 3px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ff9800;
}
.dashboard1-container17 {
  display: contents;
}
@media(max-width: 1200px) {
  .dashboard1-text08 {
    font-size: 16px;
  }
  .dashboard1-text09 {
    font-size: 16px;
  }
  .dashboard1-text10 {
    font-size: 30px;
  }
  .dashboard1-text11 {
    font-size: 16px;
  }
  .dashboard1-text12 {
    font-size: 16px;
  }
}
@media(max-width: 991px) {
  .dashboard1-container02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard1-container03 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .dashboard1-container04 {
    flex: 1;
    width: 100%;
  }
  .dashboard1-container07 {
    height: auto;
    display: none;
  }
  .dashboard1-text08 {
    font-size: 16px;
  }
  .dashboard1-text09 {
    font-size: 16px;
  }
  .dashboard1-text10 {
    font-size: 20px;
  }
  .dashboard1-text11 {
    font-size: 16px;
  }
  .dashboard1-text12 {
    font-size: 16px;
  }
  .dashboard1-container10 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .dashboard1-container02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard1-container07 {
    flex: 1;
  }
  .dashboard1-text08 {
    font-size: 16px;
  }
  .dashboard1-text09 {
    font-size: 16px;
  }
  .dashboard1-text10 {
    font-size: 20px;
  }
  .dashboard1-text11 {
    font-size: 16px;
  }
  .dashboard1-text12 {
    font-size: 16px;
  }
}
@media(max-width: 479px) {
  .dashboard1-container02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .dashboard1-text {
    color: rgb(255, 255, 255);
    margin-left: 0px;
    margin-right: 0px;
  }
  .dashboard1-text02 {
    font-weight: 700;
  }
  .dashboard1-container07 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }
  .dashboard1-container08 {
    margin-top: 0px;
  }
  .dashboard1-text08 {
    font-size: 16px;
  }
  .dashboard1-text09 {
    font-size: 16px;
  }
  .dashboard1-text10 {
    font-size: 20px;
  }
  .dashboard1-text11 {
    font-size: 16px;
  }
  .dashboard1-text12 {
    font-size: 16px;
  }
  .dashboard1-container10 {
    gap: var(--dl-space-space-unit);
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}
