.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.navbar1-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar1-max-width {
  width: 100%;
  max-width: 1000px;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.navbar1-image {
  width: 60px;
  height: 47px;
}
.navbar1-nav {
  display: flex;
}
.navbar1-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar1-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar1-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar1-image1 {
  width: 60px;
  height: 47px;
}
.navbar1-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar1-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar1-primary-btn {
  color: #ffffff;
  cursor: pointer;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 500;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(0, 30, 255);
}
.navbar1-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar1-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.navbar1-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.navbar1-icon04 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar1-icon04:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar1-icon08 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar1-icon08:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar1-icon12 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
}
.navbar1-icon12:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar1-icon14 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.navbar1-icon14:hover {
  fill: var(--dl-color-backgrounds-primary);
  cursor: pointer;
}
.navbar1-primary-btn1 {
  color: #ffffff;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(0, 30, 255);
}
@media(max-width: 767px) {
  .navbar1-nav {
    display: none;
  }
  .navbar1-icon {
    width: 30px;
    height: 30px;
  }
  .navbar1-menu-close {
    width: 30px;
    height: 30px;
  }
  .navbar1-primary-btn1 {
    display: none;
  }
}

.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.profile-container1 {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: flex-start;
  padding-top: 88px;
  flex-direction: row;
  background-color: #ffffff;
}
.profile-container2 {
  width: 803px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 676px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: center;
  background-color: #001eff;
  border-top-left-radius: 0px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 25px;
}
.profile-image {
  width: 245px;
  height: 254px;
  object-fit: cover;
  border-color: #001eff;
  border-style: double;
  border-width: 25px;
  border-radius: var(--dl-radius-radius-round);
  animation-name: bounceIn;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.profile-container3 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 149px;
  padding-left: 149px;
  padding-right: 149px;
  flex-direction: column;
  padding-bottom: 149px;
  justify-content: center;
}
.profile-container4 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.profile-text {
  color: #001eff;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
}
.profile-text1 {
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
}
.profile-primary-btn {
  color: #ffffff;
  cursor: pointer;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 500;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: rgb(0, 30, 255);
}
.profile-container5 {
  gap: var(--dl-space-space-unit);
  width: auto;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profile-icon {
  width: 24px;
  height: 24px;
}
.profile-icon2 {
  width: 24px;
  height: 24px;
}
.profile-icon4 {
  width: 24px;
  height: 24px;
}
@media(max-width: 1600px) {
  .profile-container2 {
    width: 605px;
    padding-left: 475px;
  }
}
@media(max-width: 1200px) {
  .profile-container2 {
    width: 368px;
    margin-right: 0px;
    padding-left: 237px;
  }
}
@media(max-width: 991px) {
  .profile-container2 {
    width: 238px;
    padding-left: 104px;
  }
}
@media(max-width: 767px) {
  .profile-container1 {
    height: auto;
    flex-direction: column;
  }
  .profile-container2 {
    width: 100%;
    height: 253px;
    align-self: flex-start;
    padding-top: 223px;
    padding-left: 0px;
    flex-direction: column;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .profile-image {
    align-self: center;
    margin-top: 0px;
  }
  .profile-container3 {
    width: 100%;
    align-items: center;
    padding-top: 124px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .profile-container4 {
    align-items: center;
  }
  .profile-container5 {
    width: 100%;
    flex-direction: row;
  }
}
