.popupcustomize-container {
  top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: Unit;
  z-index: 110;
  position: fixed;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  backdrop-filter: blur(5px);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.45);
}
.popupcustomize-container1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: 500px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.39);
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.popupcustomize-header {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: none;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.popupcustomize-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.popupcustomize-container2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-color: #eaeaea;
}
.popupcustomize-text {
  font-size: 20px;
  text-align: center;
}
.popupcustomize-text01 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.popupcustomize-text02 {
  font-style: normal;
}
.popupcustomize-text03 {
  font-style: normal;
}
.popupcustomize-text04 {
  font-size: 16px;
  font-style: normal;
}
.popupcustomize-text05 {
  font-size: 16px;
  font-weight: 900;
}
.popupcustomize-text06 {
  font-size: 16px;
  font-style: normal;
}
.popupcustomize-text07 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.popupcustomize-text08 {
  font-size: 16px;
  font-style: normal;
}
.popupcustomize-navlink {
  display: contents;
}
.popupcustomize-container3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #18aa00;
}
.popupcustomize-text09 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 800;
}
.popupcustomize-header1 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.popupcustomize-image1 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.popupcustomize-container4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  padding-top: 16px;
  border-radius: 10px;
  flex-direction: column;
  background-color: #eaeaea;
}
.popupcustomize-text10 {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
.popupcustomize-text11 {
  font-size: 16px;
  text-align: center;
}
.popupcustomize-link {
  display: contents;
}
.popupcustomize-container5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 5;
  align-items: center;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #18aa00;
}
.popupcustomize-text12 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 800;
}
.popupcustomize-close-button {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  display: flex;
  z-index: 5;
  position: absolute;
  flex-direction: row;
}
.popupcustomize-icon {
  width: 24px;
  cursor: pointer;
  height: 24px;
  align-self: center;
  transition: 0.7s;
}
.popupcustomize-icon:hover {
  transform: rotate(90deg);
}
.popupcustomize-container7 {
  display: contents;
}
.popupcustomize-root-class-name {
  display: none;
}
.popupcustomize-root-class-name1 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
}

@media(max-width: 1200px) {
  .popupcustomize-text09 {
    font-size: 30px;
  }
}
@media(max-width: 991px) {
  .popupcustomize-text09 {
    font-size: 20px;
  }
  .popupcustomize-text12 {
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .popupcustomize-header {
    gap: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
  }
  .popupcustomize-text09 {
    font-size: 20px;
  }
  .popupcustomize-header1 {
    gap: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
  }
  .popupcustomize-text12 {
    font-size: 20px;
  }
  .popupcustomize-close-button {
    align-self: flex-start;
  }
}
@media(max-width: 479px) {
  .popupcustomize-image {
    top: -111px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: auto;
    margin: auto;
  }
  .popupcustomize-image1 {
    top: -111px;
    left: 0px;
    right: 0px;
    height: auto;
    margin: auto;
  }
}

.login-materisocmed-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.login-materisocmed-container01 {
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 20;
  position: relative;
  align-self: center;
  overflow-y: scroll;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.login-materisocmed-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  max-width: 600px;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.login-materisocmed-container03 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.login-materisocmed-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.login-materisocmed-form {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.login-materisocmed-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.login-materisocmed-container04 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.login-materisocmed-text01 {
  font-style: normal;
  font-weight: 400;
}
.login-materisocmed-textinput {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  height: 40px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-text02 {
  font-style: normal;
  font-weight: 400;
}
.login-materisocmed-textinput1 {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  height: 40px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-container05 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.login-materisocmed-container06 {
  fill: #d07100;
  flex: 1;
  color: #d07100;
  width: 100%;
  height: 40px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-materisocmed-button {
  fill: #d07100;
  color: rgb(255, 255, 255);
  width: auto;
  cursor: pointer;
  height: 40px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(208, 113, 0);
}
.login-materisocmed-text03 {
  font-weight: 400;
}
.login-materisocmed-container07 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.login-materisocmed-textinput2 {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  height: 40px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-button1 {
  fill: #d07100;
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  height: 40px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(208, 113, 0);
}
.login-materisocmed-container08 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-materisocmed-navlink {
  display: contents;
}
.login-materisocmed-text04 {
  fill: rgb(208, 113, 0);
  flex: 1;
  color: rgb(208, 113, 0);
  width: 100%;
  cursor: pointer;
  align-self: flex-end;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgb(208, 113, 0);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.login-materisocmed-text04:hover {
  color: #ffffff;
  border-width: 1px;
  background-color: rgb(208, 113, 0);
}
.login-materisocmed-text05 {
  fill: rgb(208, 113, 0);
  flex: 1;
  color: rgb(208, 113, 0);
  width: 100%;
  cursor: pointer;
  align-self: flex-end;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgb(208, 113, 0);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-materisocmed-text05:hover {
  color: #ffffff;
  border-width: 1px;
  background-color: rgb(208, 113, 0);
}
.login-materisocmed-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.login-materisocmed-text06 {
  font-weight: 400;
}
.login-materisocmed-container11 {
  display: contents;
}
.login-materisocmed-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: none;
  max-width: 600px;
  align-items: center;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.login-materisocmed-container13 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.login-materisocmed-form1 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.login-materisocmed-text07 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.login-materisocmed-container14 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.login-materisocmed-text08 {
  font-weight: 400;
}
.login-materisocmed-textinput3 {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  height: 40px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-text09 {
  font-weight: 400;
}
.login-materisocmed-textinput4 {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  height: 40px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-text10 {
  font-weight: 400;
}
.login-materisocmed-textinput5 {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  height: 40px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-text11 {
  font-weight: 400;
}
.login-materisocmed-textinput6 {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  height: 40px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-text12 {
  font-weight: 400;
}
.login-materisocmed-select {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  height: 40px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-text13 {
  font-weight: 400;
}
.login-materisocmed-textinput7 {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  height: 40px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-button2 {
  fill: #d07100;
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  height: 40px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(208, 113, 0);
}
.login-materisocmed-text14 {
  fill: rgb(208, 113, 0);
  color: rgb(208, 113, 0);
  width: 100%;
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  align-self: flex-end;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgb(208, 113, 0);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-materisocmed-text14:hover {
  color: #ffffff;
  border-width: 1px;
  background-color: rgb(208, 113, 0);
}
.login-materisocmed-button3 {
  fill: rgb(208, 113, 0);
  color: rgb(208, 113, 0);
  width: 100%;
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  align-self: flex-end;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgb(208, 113, 0);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-materisocmed-button3:hover {
  color: #ffffff;
  border-width: 1px;
  background-color: rgb(208, 113, 0);
}
.login-materisocmed-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: none;
  max-width: 900px;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.login-materisocmed-container16 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.login-materisocmed-container17 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.login-materisocmed-container18 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.login-materisocmed-video {
  flex: 1;
  width: 100%;
  height: auto;
}
.login-materisocmed-navlink1 {
  fill: rgb(208, 113, 0);
  color: rgb(208, 113, 0);
  width: 100%;
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  align-self: flex-end;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgb(208, 113, 0);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.login-materisocmed-navlink1:hover {
  color: #ffffff;
  border-width: 1px;
  background-color: rgb(208, 113, 0);
}
.login-materisocmed-container19 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.login-materisocmed-text16 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.login-materisocmed-text17 {
  font-size: 16px;
}
.login-materisocmed-container20 {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.login-materisocmed-container20:hover {
  transform: scale(105%);
  background-color: #ececec;
}
.login-materisocmed-icon {
  fill: #19b700;
  width: 20px;
  height: 20px;
}
.login-materisocmed-text18 {
  width: 100%;
  font-size: 16px;
}
.login-materisocmed-container21 {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.login-materisocmed-container21:hover {
  transform: scale(105%);
  background-color: #ececec;
}
.login-materisocmed-icon02 {
  fill: #19b700;
  width: 20px;
  height: 20px;
}
.login-materisocmed-text19 {
  width: 100%;
  font-size: 16px;
}
.login-materisocmed-container22 {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.login-materisocmed-container22:hover {
  transform: scale(105%);
  background-color: #ececec;
}
.login-materisocmed-icon04 {
  fill: #19b700;
  width: 20px;
  height: 20px;
}
.login-materisocmed-text20 {
  width: 100%;
  font-size: 16px;
}
.login-materisocmed-container23 {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.login-materisocmed-container23:hover {
  transform: scale(105%);
  background-color: #ececec;
}
.login-materisocmed-icon06 {
  fill: #19b700;
  width: 20px;
  height: 20px;
}
.login-materisocmed-text21 {
  width: 100%;
  font-size: 16px;
}
.login-materisocmed-container24 {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.login-materisocmed-container24:hover {
  transform: scale(105%);
  background-color: #ececec;
}
.login-materisocmed-icon08 {
  fill: #19b700;
  width: 20px;
  height: 20px;
}
.login-materisocmed-text22 {
  width: 100%;
  font-size: 16px;
}
.login-materisocmed-container25 {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.login-materisocmed-container25:hover {
  transform: scale(105%);
  background-color: #ececec;
}
.login-materisocmed-icon10 {
  fill: #19b700;
  width: 20px;
  height: 20px;
}
.login-materisocmed-text23 {
  width: 100%;
  font-size: 16px;
}
.login-materisocmed-container26 {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.login-materisocmed-container26:hover {
  transform: scale(105%);
  background-color: #ececec;
}
.login-materisocmed-icon12 {
  fill: #19b700;
  width: 20px;
  height: 20px;
}
.login-materisocmed-text24 {
  width: 100%;
  font-size: 16px;
}
.login-materisocmed-link {
  display: contents;
}
.login-materisocmed-container27 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  cursor: pointer;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(315deg, rgb(49, 0, 255) 0.00%,rgb(249, 48, 170) 51.00%,rgb(255, 0, 214) 100.00%);
}
.login-materisocmed-icon14 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.login-materisocmed-text25 {
  color: #ffffff;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.login-materisocmed-container28 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 528px;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f19200;
}
.login-materisocmed-container30 {
  display: contents;
}

@media(max-width: 1200px) {
  .login-materisocmed-container15 {
    flex-direction: column;
  }
}
@media(max-width: 991px) {
  .login-materisocmed-container15 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .login-materisocmed-container01 {
    padding-top: var(--dl-space-space-fourunits);
    justify-content: flex-start;
  }
  .login-materisocmed-container08 {
    flex-direction: column;
  }
  .login-materisocmed-container15 {
    align-items: center;
    justify-content: center;
  }
  .login-materisocmed-container16 {
    flex-direction: column;
  }
  .login-materisocmed-container17 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .login-materisocmed-video {
    flex: 0 0 auto;
    height: 700px;
  }
  .login-materisocmed-container19 {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
@media(max-width: 479px) {
  .login-materisocmed-container01 {
    padding-top: var(--dl-space-space-fourunits);
    justify-content: flex-start;
  }
  .login-materisocmed-container15 {
    justify-content: flex-start;
  }
  .login-materisocmed-container16 {
    justify-content: center;
  }
  .login-materisocmed-video {
    flex: 0 0 auto;
    height: 700px;
  }
  .login-materisocmed-container19 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
  }
}
