.popup1-container {
  top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: Unit;
  z-index: 110;
  position: fixed;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.45);
}
.popup1-container1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: 700px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.39);
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.popup1-header {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: none;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.popup1-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.popup1-container2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-color: #eaeaea;
}
.popup1-text {
  font-size: 20px;
  text-align: center;
}
.popup1-text01 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.popup1-text02 {
  font-style: normal;
}
.popup1-text03 {
  font-style: normal;
}
.popup1-text04 {
  font-size: 16px;
  font-style: normal;
}
.popup1-text05 {
  font-size: 16px;
  font-weight: 900;
}
.popup1-text06 {
  font-size: 16px;
  font-style: normal;
}
.popup1-text07 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.popup1-text08 {
  font-size: 16px;
  font-style: normal;
}
.popup1-navlink {
  display: contents;
}
.popup1-container3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #18aa00;
}
.popup1-text09 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 800;
}
.popup1-header1 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.popup1-image1 {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.popup1-container4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-color: #eaeaea;
}
.popup1-text10 {
  font-size: 20px;
  text-align: center;
}
.popup1-text11 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
}
.popup1-text12 {
  font-size: 20px;
  font-style: normal;
}
.popup1-text13 {
  font-size: 20px;
  font-style: normal;
}
.popup1-text14 {
  font-size: 16px;
}
.popup1-text15 {
  font-size: 16px;
  font-weight: 700;
}
.popup1-text16 {
  font-size: 16px;
}
.popup1-link {
  display: contents;
}
.popup1-container5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: 15px;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #18aa00;
}
.popup1-text17 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-family: "Inconsolata";
  font-weight: 800;
}
.popup1-close-button {
  top: var(--dl-space-space-unit);
  right: var(--dl-space-space-unit);
  display: flex;
  position: absolute;
  flex-direction: row;
}
.popup1-icon {
  width: 24px;
  cursor: pointer;
  height: 24px;
  align-self: center;
}
.popup1-container7 {
  display: contents;
}
.popup1-root-class-name {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
}

.popup1-root-class-name2 {
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;
}
@media(max-width: 1200px) {
  .popup1-text09 {
    font-size: 30px;
  }
  .popup1-text17 {
    font-size: 30px;
  }
}
@media(max-width: 991px) {
  .popup1-text09 {
    font-size: 20px;
  }
  .popup1-text17 {
    font-size: 20px;
  }
}
@media(max-width: 767px) {
  .popup1-header {
    gap: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
  }
  .popup1-text09 {
    font-size: 20px;
  }
  .popup1-header1 {
    gap: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: column;
  }
  .popup1-text17 {
    font-size: 20px;
  }
  .popup1-close-button {
    align-self: flex-start;
  }
}
@media(max-width: 479px) {
  .popup1-image {
    top: -111px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: auto;
    margin: auto;
  }
  .popup1-image1 {
    top: -111px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 250px;
    margin: auto;
  }
}

.login-materisocmed-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.login-materisocmed-container01 {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: scroll;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.login-materisocmed-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 5;
  max-width: 800px;
  box-shadow: 5px 5px 20px 0px rgba(68, 68, 68, 0.24);
  align-items: center;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  background-color: #fbfbfb;
}
.login-materisocmed-container03 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-materisocmed-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 20px;
}
.login-materisocmed-form {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.login-materisocmed-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.login-materisocmed-container04 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.login-materisocmed-text01 {
  font-style: normal;
  font-weight: 400;
}
.login-materisocmed-textinput {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-text02 {
  font-style: normal;
  font-weight: 400;
}
.login-materisocmed-textinput1 {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-container05 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.login-materisocmed-container06 {
  fill: #d07100;
  flex: 1;
  color: #d07100;
  width: 100%;
  height: 37px;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-materisocmed-button {
  fill: #d07100;
  color: rgb(255, 255, 255);
  width: auto;
  cursor: pointer;
  height: auto;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(208, 113, 0);
}
.login-materisocmed-text03 {
  font-weight: 400;
}
.login-materisocmed-container07 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.login-materisocmed-textinput2 {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-button1 {
  fill: #d07100;
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  height: auto;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(208, 113, 0);
}
.login-materisocmed-container08 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-materisocmed-navlink {
  display: contents;
}
.login-materisocmed-text04 {
  fill: rgb(208, 113, 0);
  flex: 1;
  color: rgb(208, 113, 0);
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-end;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgb(208, 113, 0);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.login-materisocmed-text04:hover {
  color: #ffffff;
  border-width: 1px;
  background-color: rgb(208, 113, 0);
}
.login-materisocmed-text05 {
  fill: rgb(208, 113, 0);
  flex: 1;
  color: rgb(208, 113, 0);
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-end;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgb(208, 113, 0);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-materisocmed-text05:hover {
  color: #ffffff;
  border-width: 1px;
  background-color: rgb(208, 113, 0);
}
.login-materisocmed-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.login-materisocmed-text06 {
  font-weight: 400;
}
.login-materisocmed-container11 {
  display: contents;
}
.login-materisocmed-container12 {
  gap: var(--dl-space-space-unit);
  width: 2px;
  display: flex;
  padding: 0px;
  align-self: stretch;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
  background-color: #a5a5a5;
}
.login-materisocmed-container13 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.login-materisocmed-text07 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.login-materisocmed-text08 {
  font-weight: 400;
}
.login-materisocmed-text10 {
  font-style: normal;
  font-weight: 400;
}
.login-materisocmed-container14 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-icon {
  width: 20px;
  height: 20px;
}
.login-materisocmed-container15 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-text11 {
  width: 100%;
  font-weight: 400;
}
.login-materisocmed-text13 {
  font-weight: 700;
}
.login-materisocmed-container16 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-icon02 {
  width: 20px;
  height: 20px;
}
.login-materisocmed-container17 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-text15 {
  width: 100%;
  font-weight: 400;
}
.login-materisocmed-text17 {
  font-weight: 700;
}
.login-materisocmed-text19 {
  font-weight: 700;
}
.login-materisocmed-container18 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-icon04 {
  width: 20px;
  height: 20px;
}
.login-materisocmed-container19 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-text21 {
  width: 100%;
  font-weight: 400;
}
.login-materisocmed-text23 {
  font-weight: 700;
}
.login-materisocmed-container20 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-icon06 {
  width: 20px;
  height: 20px;
}
.login-materisocmed-container21 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-text25 {
  width: 100%;
  font-weight: 400;
}
.login-materisocmed-text27 {
  font-weight: 700;
}
.login-materisocmed-container22 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-icon08 {
  width: 20px;
  height: 20px;
}
.login-materisocmed-container23 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-text29 {
  width: 100%;
  font-weight: 400;
}
.login-materisocmed-text31 {
  font-weight: 700;
}
.login-materisocmed-container24 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-icon10 {
  width: 20px;
  height: 20px;
}
.login-materisocmed-container25 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-text33 {
  width: 100%;
  font-weight: 400;
}
.login-materisocmed-text35 {
  font-weight: 700;
}
.login-materisocmed-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: none;
  z-index: 5;
  max-width: 800px;
  box-shadow: 5px 5px 20px 0px rgba(68, 68, 68, 0.24);
  align-items: center;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  background-color: #fbfbfb;
}
.login-materisocmed-container27 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-materisocmed-image1 {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 20px;
}
.login-materisocmed-form1 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.login-materisocmed-text37 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.login-materisocmed-container28 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.login-materisocmed-text38 {
  font-weight: 400;
}
.login-materisocmed-textinput3 {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-text39 {
  font-weight: 400;
}
.login-materisocmed-textinput4 {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-text40 {
  font-weight: 400;
}
.login-materisocmed-textinput5 {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-text41 {
  font-weight: 400;
}
.login-materisocmed-textinput6 {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-text42 {
  font-weight: 400;
}
.login-materisocmed-textinput7 {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-text43 {
  font-weight: 400;
}
.login-materisocmed-textinput8 {
  fill: #d07100;
  color: #d07100;
  width: 100%;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgba(217, 217, 217, 0);
}
.login-materisocmed-button2 {
  fill: #d07100;
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  height: auto;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(208, 113, 0);
}
.login-materisocmed-text44 {
  fill: rgb(208, 113, 0);
  color: rgb(208, 113, 0);
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-end;
  text-align: center;
  transition: 0.3s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgb(208, 113, 0);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.login-materisocmed-text44:hover {
  color: #ffffff;
  border-width: 1px;
  background-color: rgb(208, 113, 0);
}
.login-materisocmed-container29 {
  gap: var(--dl-space-space-unit);
  width: 2px;
  display: flex;
  padding: 0px;
  align-self: stretch;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
  background-color: #a5a5a5;
}
.login-materisocmed-container30 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.login-materisocmed-text45 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.login-materisocmed-text46 {
  font-weight: 400;
}
.login-materisocmed-text48 {
  font-style: normal;
  font-weight: 400;
}
.login-materisocmed-container31 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-icon12 {
  width: 20px;
  height: 20px;
}
.login-materisocmed-container32 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-text49 {
  width: 100%;
  font-weight: 400;
}
.login-materisocmed-text51 {
  font-weight: 700;
}
.login-materisocmed-container33 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-icon14 {
  width: 20px;
  height: 20px;
}
.login-materisocmed-container34 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-text53 {
  width: 100%;
  font-weight: 400;
}
.login-materisocmed-text55 {
  font-weight: 700;
}
.login-materisocmed-text57 {
  font-weight: 700;
}
.login-materisocmed-container35 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-icon16 {
  width: 20px;
  height: 20px;
}
.login-materisocmed-container36 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-text59 {
  width: 100%;
  font-weight: 400;
}
.login-materisocmed-text61 {
  font-weight: 700;
}
.login-materisocmed-container37 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-icon18 {
  width: 20px;
  height: 20px;
}
.login-materisocmed-container38 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-text63 {
  width: 100%;
  font-weight: 400;
}
.login-materisocmed-text65 {
  font-weight: 700;
}
.login-materisocmed-container39 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-icon20 {
  width: 20px;
  height: 20px;
}
.login-materisocmed-container40 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-text67 {
  width: 100%;
  font-weight: 400;
}
.login-materisocmed-text69 {
  font-weight: 700;
}
.login-materisocmed-container41 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-icon22 {
  width: 20px;
  height: 20px;
}
.login-materisocmed-container42 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.login-materisocmed-text71 {
  width: 100%;
  font-weight: 400;
}
.login-materisocmed-text73 {
  font-weight: 700;
}
.login-materisocmed-button3 {
  fill: #d07100;
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #d07100;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(208, 113, 0);
}
.login-materisocmed-container43 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 528px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ff7400;
}
.login-materisocmed-container45 {
  display: contents;
}



@media(max-width: 767px) {
  .login-materisocmed-container01 {
    justify-content: flex-start;
  }
  .login-materisocmed-container08 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .login-materisocmed-container01 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .login-materisocmed-container02 {
    flex-direction: column;
  }
  .login-materisocmed-container12 {
    width: 100%;
    height: 3px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    background-color: #c2c2c2;
  }
  .login-materisocmed-container26 {
    flex-direction: column;
  }
  .login-materisocmed-container29 {
    width: 100%;
    height: 3px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    background-color: #c2c2c2;
  }
  .login-materisocmed-text45 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
}
