.form-container {
  width: 100%;
  display: flex;
  position: relative;
}
.form-form {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.form-text {
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.form-container1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.form-textinput {
  flex: 1;
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.form-textinput1 {
  flex: 1;
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.form-textarea {
  width: 100%;
  height: 86px;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.form-button {
  width: 100%;
  cursor: pointer;
  height: auto;
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.15;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: none;
  text-decoration: none;
  background-color: #fbea00;
}
.form-button:hover {
  background-color: #46cc06;
}
.form-root-class-name {
  max-width: 1000px;
}
.form-root-class-name1 {
  max-width: 1000px;
}
@media(max-width: 479px) {
  .form-text {
    font-size: 18px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .form-textinput {
    flex: 1;
  }
  .form-textinput1 {
    flex: 1;
  }
}

.links-links {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  z-index: 15;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.links-column {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}
.links-link {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link01 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link01:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link02 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link02:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link03 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link03:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link04 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link04:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-column1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header1 {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}
.links-link05 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
}
.links-link05:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-column2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header2 {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}
.links-link06 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link06:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link07 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link07:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link08 {
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.links-column3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header3 {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}
.links-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.links-link09 {
  display: contents;
}
.links-icon {
  fill: #000000;
  width: 24px;
  cursor: pointer;
  height: 24px;
  text-decoration: none;
}
.links-link10 {
  display: contents;
}
.links-icon2 {
  fill: #000000;
  width: 24px;
  cursor: pointer;
  height: 24px;
  text-decoration: none;
}
.links-link11 {
  display: contents;
}
.links-image {
  width: auto;
  height: 24px;
  object-fit: cover;
  text-decoration: none;
}




@media(max-width: 991px) {
  .links-links {
    justify-content: flex-end;
  }
}
@media(max-width: 767px) {
  .links-links {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  .links-header {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header1 {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header2 {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header3 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .links-links {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.footer-footer {
  gap: var(--dl-space-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #dedede;
}
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-information {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-heading {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-pasted-image {
  width: 94px;
  height: 74px;
}
.footer-text {
  color: #000000;
}
.footer-link {
  color: #000000;
  width: 100%;
  font-size: 14px;
  max-width: 1200px;
  line-height: 21px;
  text-decoration: none;
}
.footer-root-class-name {
  margin-top: var(--dl-space-space-threeunits);
}




.footer-root-class-name5 {
  margin-top: 0px;
}
.footer-root-class-name6 {
  margin-top: var(--dl-space-space-twounits);
}

.footer-root-class-name8 {
  margin-top: var(--dl-space-space-twounits);
}
@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-space-space-twounits);
  }
  .footer-content {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-information {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .footer-pasted-image {
    width: 100px;
  }
  .footer-text {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .footer-content {
    align-self: flex-start;
    align-items: center;
  }
  .footer-root-class-name6 {
    margin-top: var(--dl-space-space-twounits);
  }
}

.materiho-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.materiho-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.materiho-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #4e50fb;
}
.materiho-text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materiho-container03 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.materiho-container04 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.materiho-container04:hover {
  background-color: #fff8f8;
}
.materiho-container05 {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
  box-shadow: 5px 5px 15px 0px #d4d4d4;
  align-items: flex-start;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
}
.materiho-container06 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.materiho-navlink {
  display: contents;
}
.materiho-container07 {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: 4px;
  justify-content: flex-start;
  text-decoration: none;
  background-color: #629fc6;
}
.materiho-text2 {
  color: rgb(255, 255, 255);
  font-size: 10px;
}
.materiho-icon {
  fill: #ffffff;
  width: 15px;
  height: auto;
}
.materiho-container08 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.materiho-container08:hover {
  background-color: #fff8f8;
}
.materiho-container09 {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
  box-shadow: 5px 5px 15px 0px #d4d4d4;
  align-items: flex-start;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
}
.materiho-container10 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.materiho-navlink1 {
  display: contents;
}
.materiho-container11 {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: 4px;
  justify-content: flex-start;
  text-decoration: none;
  background-color: #629fc6;
}
.materiho-text4 {
  color: rgb(255, 255, 255);
  font-size: 10px;
}
.materiho-icon2 {
  fill: #ffffff;
  width: 15px;
  height: auto;
}
@media(max-width: 479px) {
  .materiho-text {
    font-size: 18px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materiho-container03 {
    flex-direction: column;
  }
  .materiho-container04 {
    flex: 0;
    width: 100%;
  }
  .materiho-container05 {
    width: 130px;
    height: 130px;
  }
  .materiho-container07 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .materiho-container08 {
    width: 100%;
  }
  .materiho-container09 {
    width: 130px;
    height: 130px;
  }
  .materiho-container11 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
