.announcement-announcement {
  flex: 1;
  width: 100%;
  cursor: pointer;
  display: flex;
  position: relative;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: space-between;
}
.announcement-un-hide {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  padding-top: 16px;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: center;
  background-color: #0700ff;
}
.announcement-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.announcement-title {
  color: #8AEDE8;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.announcement-button {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  transition: 0.5s;
  align-items: center;
  border-color: #8AEDE8;
  flex-direction: row;
  padding-bottom: 4px;
  border-bottom-width: 1px;
}
.announcement-button:hover {
  gap: var(--dl-space-space-unit);
}
.announcement-button-text {
  color: rgb(138, 237, 232);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
.announcement-button-text1 {
  color: rgb(138, 237, 232);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
.announcement-root-class-name {
  flex: 0 0 auto;
  width: 100%;
}
.announcement-root-class-name1 {
  flex: 0 0 auto;
  width: 100%;
}
.announcement-root-class-name2 {
  flex: 0;
}

@media(max-width: 479px) {
  .announcement-announcement {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
  .announcement-un-hide {
    align-items: flex-start;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: row;
    justify-content: center;
  }
  .announcement-container {
    width: 100%;
    align-self: center;
    align-items: flex-start;
    justify-content: center;
  }
}

.links-links {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  z-index: 15;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.links-column {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}
.links-link {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link01 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link01:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link02 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
}
.links-link02:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link03 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link03:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link04 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link04:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-column1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header1 {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}
.links-link05 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
}
.links-link05:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-column2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header2 {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}
.links-link06 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link06:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link07 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link07:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link08 {
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.links-column3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header3 {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}
.links-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.links-link09 {
  display: contents;
}
.links-icon {
  fill: #000000;
  width: 24px;
  cursor: pointer;
  height: 24px;
  text-decoration: none;
}
.links-link10 {
  display: contents;
}
.links-icon2 {
  fill: #000000;
  width: 24px;
  cursor: pointer;
  height: 24px;
  text-decoration: none;
}
.links-link11 {
  display: contents;
}
.links-image {
  width: auto;
  height: 24px;
  object-fit: cover;
  text-decoration: none;
}




@media(max-width: 991px) {
  .links-links {
    justify-content: flex-end;
  }
}
@media(max-width: 767px) {
  .links-links {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  .links-header {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header1 {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header2 {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header3 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .links-links {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.navbar-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.navbar-desktop {
  flex: 1;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-main {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-navlink {
  display: contents;
}
.navbar-image {
  width: 52px;
  height: 41px;
  object-fit: cover;
  text-decoration: none;
}
.navbar-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  margin-left: 289px;
  padding-top: 12px;
  border-radius: 6px;
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: center;
}
.navbar-link {
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.navbar-link1 {
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.navbar-link2 {
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.navbar-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: 0px;
}
.navbar-text {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  margin-right: 4px;
  text-transform: none;
  vertical-align: middle;
  text-decoration: none;
}
.navbar-dropdown-arrow {
  transition: 0.3s;
}
.navbar-icon {
  fill: #000000;
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.navbar-dropdown-list {
  left: 0%;
  width: 215px;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  align-items: stretch;
  border-radius: 20px;
  flex-direction: column;
  list-style-type: none;
  background-color: #ffffff;
  list-style-position: inside;
}
.navbar-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.5s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navbar-dropdown-toggle1:hover {
  fill: #fff;
  color: #ffffff;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-unit);
  background-color: rgba(227, 227, 227, 0.43);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navbar-text1 {
  color: #000000;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.navbar-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.5s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.navbar-dropdown-toggle2:hover {
  fill: #fff;
  color: #ffffff;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-unit);
  background-color: rgba(227, 227, 227, 0.43);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navbar-text2 {
  color: rgb(0, 0, 0);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.navbar-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.5s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-dropdown-toggle3:hover {
  fill: #fff;
  color: #ffffff;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-unit);
  background-color: rgba(227, 227, 227, 0.43);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navbar-text3 {
  color: rgb(0, 0, 0);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.navbar-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.navbar-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.5s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.navbar-dropdown-toggle4:hover {
  fill: #fff;
  color: #ffffff;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 0px;
  padding-right: var(--dl-space-space-unit);
  background-color: rgba(227, 227, 227, 0.43);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.navbar-text4 {
  color: rgb(0, 0, 0);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.navbar-quick-actions {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-hamburger-menu {
  width: 20px;
  height: 12px;
  display: none;
}
.navbar-mobile {
  gap: var(--dl-space-space-fourunits);
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  z-index: 200;
  position: fixed;
  transform: translateX(100%);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-image1 {
  width: 150px;
  object-fit: cover;
}
.navbar-icon2 {
  width: 28px;
  height: 28px;
}
.navbar-links1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.navbar-container1 {
  display: contents;
}




@media(max-width: 991px) {
  .navbar-navbar {
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .navbar-links {
    display: none;
  }
  .navbar-hamburger-menu {
    display: flex;
  }
  .navbar-mobile {
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .navbar-links1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media(max-width: 767px) {
  .navbar-navbar {
    align-items: center;
  }
  .navbar-mobile {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .navbar-links1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .navbar-mobile {
    gap: var(--dl-space-space-halfunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .navbar-image1 {
    width: 60px;
    height: 48px;
  }
  .navbar-links1 {
    height: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: flex-start;
  }
}

.footer-footer {
  gap: var(--dl-space-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #dedede;
}
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-information {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-heading {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-pasted-image {
  width: 150px;
}
.footer-text {
  color: #000000;
}
.footer-link {
  color: #000000;
  width: 100%;
  font-size: 14px;
  max-width: 1200px;
  line-height: 21px;
  text-decoration: none;
}





@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-space-space-twounits);
  }
  .footer-content {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-information {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .footer-pasted-image {
    width: 100px;
  }
  .footer-text {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .footer-content {
    align-self: flex-start;
    align-items: center;
  }
}

.popmenu-container {
  gap: var(--dl-space-space-unit);
  width: auto;
  bottom: 0px;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 20px;
  border-radius: 20px;
  padding-right: 20px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #ffffff;
}
.popmenu-caption {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  margin-right: 0px;
  text-transform: none;
  text-decoration: none;
}
.popmenu-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.popmenu-link {
  display: contents;
}
.popmenu-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.popmenu-link1 {
  display: contents;
}
.popmenu-icon2 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.popmenu-link2 {
  display: contents;
}
.popmenu-image {
  width: 20px;
  height: 20px;
  object-fit: cover;
  text-decoration: none;
}
.popmenu-root-class-name {
  margin-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 479px) {
  .popmenu-container {
    width: auto;
    height: auto;
    align-items: center;
    flex-direction: row;
  }
}

.materisocmed-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.materisocmed-container01 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.materisocmed-text {
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-container02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.materisocmed-week1 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.5s;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-image: linear-gradient(to right, #c2e59c 0%, #64b3f4 100%);
}
.materisocmed-week1:hover {
  transform: scale(102%);
  border-color: #ffc000;
}
.materisocmed-image {
  width: 133px;
  height: 133px;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container03 {
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text01 {
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text02 {
  color: rgb(37, 37, 37);
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text04 {
  font-weight: 700;
}
.materisocmed-week2 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.5s;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-image: linear-gradient(to right, #c2e59c 0%, #64b3f4 100%);
}
.materisocmed-week2:hover {
  transform: scale(102%);
  border-color: #ffc000;
}
.materisocmed-image01 {
  width: 133px;
  height: 133px;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container04 {
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text06 {
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text07 {
  color: rgb(37, 37, 37);
  font-size: 12px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.materisocmed-text09 {
  font-weight: 700;
}
.materisocmed-text10 {
  font-weight: 400;
}
.materisocmed-container05 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.materisocmed-text12 {
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-container06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.materisocmed-week11 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.5s;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffcc11;
}
.materisocmed-week11:hover {
  transform: scale(102%);
  border-color: #ffc000;
}
.materisocmed-image02 {
  width: 133px;
  height: 133px;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container07 {
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text13 {
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text14 {
  color: #252525;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 2;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-link {
  display: contents;
}
.materisocmed-button {
  gap: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-unit);
  transition: 0.7s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-button:hover {
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-text15 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-text16 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-week21 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.5s;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffcc11;
}
.materisocmed-week21:hover {
  transform: scale(102%);
  border-color: #ffc000;
}
.materisocmed-image03 {
  width: 133px;
  height: 133px;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container08 {
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text17 {
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text18 {
  color: #252525;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 2;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-link01 {
  display: contents;
}
.materisocmed-button01 {
  gap: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-unit);
  transition: 0.7s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-button01:hover {
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-text19 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-text20 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-week3 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.5s;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffcc11;
}
.materisocmed-week3:hover {
  transform: scale(102%);
  border-color: #ffc000;
}
.materisocmed-image04 {
  width: 133px;
  height: 133px;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container09 {
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text21 {
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text22 {
  color: #252525;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 2;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-link02 {
  display: contents;
}
.materisocmed-button02 {
  gap: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-unit);
  transition: 0.7s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-button02:hover {
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-text23 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-text24 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-week31 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.5s;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffcc11;
}
.materisocmed-week31:hover {
  transform: scale(102%);
  border-color: #ffc000;
}
.materisocmed-image05 {
  width: 133px;
  height: 133px;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container10 {
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text25 {
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text26 {
  color: #252525;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 2;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-link03 {
  display: contents;
}
.materisocmed-button03 {
  gap: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-unit);
  transition: 0.7s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-button03:hover {
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-text27 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-text28 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-container11 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 52px;
  padding-right: 52px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.materisocmed-week12 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  background-color: #ffcc11;
}
.materisocmed-week12:hover {
  transform: scale(102%);
  border-color: #ffc000;
}
.materisocmed-image06 {
  width: 133px;
  height: 133px;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container12 {
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text29 {
  color: #000000;
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-link04 {
  display: contents;
}
.materisocmed-button04 {
  gap: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-unit);
  transition: 0.7s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-button04:hover {
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-text30 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-text31 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-image07 {
  top: -54px;
  right: -66px;
  width: 393px;
  height: 393px;
  position: absolute;
  object-fit: cover;
}
.materisocmed-container13 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.materisocmed-text32 {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-link05 {
  display: contents;
}
.materisocmed-icon {
  fill: #000000;
  width: 35px;
  height: 35px;
  padding: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.materisocmed-container14 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 52px;
  padding-right: 52px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.materisocmed-text33 {
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-container15 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  overflow-x: scroll;
  align-items: flex-start;
  flex-direction: row;
}
.materisocmed-promo {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 305px;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f7f7f7;
}
.materisocmed-image08 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container16 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text34 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text35 {
  color: rgb(0, 0, 0);
  margin-top: 0px;
  text-align: left;
  margin-bottom: var(--dl-space-space-unit);
}
.materisocmed-link06 {
  display: contents;
}
.materisocmed-button05 {
  gap: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-unit);
  transition: 0.7s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
  background-color: #fff942;
  border-bottom-width: 1px;
}
.materisocmed-button05:hover {
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-text36 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-text37 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-promo1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 305px;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f7f7f7;
}
.materisocmed-image09 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container17 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text38 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text39 {
  color: rgb(0, 0, 0);
  margin-top: 0px;
  text-align: left;
  margin-bottom: var(--dl-space-space-unit);
}
.materisocmed-link07 {
  display: contents;
}
.materisocmed-button06 {
  gap: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-unit);
  transition: 0.7s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
  background-color: #fff942;
  border-bottom-width: 1px;
}
.materisocmed-button06:hover {
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-text40 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-text41 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-promo2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 305px;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f7f7f7;
}
.materisocmed-image10 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container18 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text42 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text43 {
  color: rgb(0, 0, 0);
  margin-top: 0px;
  text-align: left;
  margin-bottom: var(--dl-space-space-unit);
}
.materisocmed-link08 {
  display: contents;
}
.materisocmed-button07 {
  gap: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-unit);
  transition: 0.7s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
  background-color: #fff942;
  border-bottom-width: 1px;
}
.materisocmed-button07:hover {
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-text44 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-text45 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-promo3 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 305px;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f7f7f7;
}
.materisocmed-image11 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container19 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text46 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text47 {
  color: rgb(0, 0, 0);
  margin-top: 0px;
  text-align: left;
  margin-bottom: var(--dl-space-space-unit);
}
.materisocmed-link09 {
  display: contents;
}
.materisocmed-button08 {
  gap: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-unit);
  transition: 0.7s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
  background-color: #fff942;
  border-bottom-width: 1px;
}
.materisocmed-button08:hover {
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-text48 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-text49 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-promo4 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 305px;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f7f7f7;
}
.materisocmed-image12 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container20 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text50 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text51 {
  color: rgb(0, 0, 0);
  margin-top: 0px;
  text-align: left;
  margin-bottom: var(--dl-space-space-unit);
}
.materisocmed-navlink {
  display: contents;
}
.materisocmed-button09 {
  gap: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-unit);
  transition: 0.7s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
  background-color: #fff942;
  border-bottom-width: 1px;
}
.materisocmed-button09:hover {
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-text52 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-text53 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-container21 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.materisocmed-icon2 {
  width: 24px;
  height: 24px;
}
.materisocmed-text54 {
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-icon4 {
  width: 24px;
  height: 24px;
}
.materisocmed-form {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.materisocmed-text55 {
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-container22 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.materisocmed-textinput {
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.materisocmed-textinput1 {
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.materisocmed-textarea {
  width: 100%;
  height: 86px;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.materisocmed-button10 {
  width: 100%;
  cursor: pointer;
  height: auto;
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.15;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: none;
  text-decoration: none;
  background-color: #fbea00;
}
.materisocmed-button10:hover {
  background-color: #46cc06;
}
@media(max-width: 991px) {
  .materisocmed-container01 {
    flex-wrap: wrap;
  }
  .materisocmed-container02 {
    gap: var(--dl-space-space-unit);
  }
  .materisocmed-container05 {
    flex-wrap: wrap;
  }
  .materisocmed-container11 {
    flex-wrap: wrap;
  }
  .materisocmed-image07 {
    top: -57px;
    right: -75px;
  }
  .materisocmed-text32 {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-container14 {
    flex-wrap: wrap;
  }
  .materisocmed-text42 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-text46 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-text50 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .materisocmed-container01 {
    flex-wrap: wrap;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .materisocmed-container02 {
    gap: var(--dl-space-space-unit);
  }
  .materisocmed-container03 {
    width: 151px;
  }
  .materisocmed-container04 {
    width: 151px;
  }
  .materisocmed-container05 {
    flex-wrap: wrap;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .materisocmed-container07 {
    width: 151px;
  }
  .materisocmed-container08 {
    width: 151px;
  }
  .materisocmed-container09 {
    width: 151px;
  }
  .materisocmed-container10 {
    width: 151px;
  }
  .materisocmed-container11 {
    flex-wrap: wrap;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .materisocmed-container12 {
    width: 151px;
  }
  .materisocmed-image07 {
    top: -63px;
    right: -93px;
  }
  .materisocmed-container14 {
    flex-wrap: wrap;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .materisocmed-container16 {
    width: 151px;
  }
  .materisocmed-container17 {
    width: 151px;
  }
  .materisocmed-container18 {
    width: 151px;
  }
  .materisocmed-container19 {
    width: 151px;
  }
  .materisocmed-container20 {
    width: 151px;
  }
}
@media(max-width: 479px) {
  .materisocmed-container01 {
    gap: var(--dl-space-space-halfunit);
    flex-wrap: wrap;
    align-items: center;
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: center;
  }
  .materisocmed-container02 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    flex-direction: column;
  }
  .materisocmed-week1 {
    width: 100%;
    flex-direction: row;
  }
  .materisocmed-container03 {
    width: 100%;
  }
  .materisocmed-text01 {
    font-style: normal;
    font-weight: 500;
  }
  .materisocmed-week2 {
    width: 100%;
    flex-direction: row;
  }
  .materisocmed-container04 {
    width: 100%;
  }
  .materisocmed-text06 {
    font-style: normal;
    font-weight: 500;
  }
  .materisocmed-container05 {
    gap: var(--dl-space-space-halfunit);
    flex-wrap: wrap;
    align-items: center;
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: row;
    justify-content: center;
  }
  .materisocmed-container06 {
    gap: var(--dl-space-space-halfunit);
    align-items: flex-start;
  }
  .materisocmed-week11 {
    width: 100%;
    height: auto;
    flex-direction: row;
  }
  .materisocmed-container07 {
    width: 100%;
  }
  .materisocmed-text13 {
    font-style: normal;
    font-weight: 500;
  }
  .materisocmed-button {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
  .materisocmed-week21 {
    width: 100%;
    height: auto;
    flex-direction: row;
  }
  .materisocmed-container08 {
    width: 100%;
  }
  .materisocmed-text17 {
    font-style: normal;
    font-weight: 500;
  }
  .materisocmed-button01 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
  .materisocmed-week3 {
    width: 100%;
    height: auto;
    flex-direction: row;
  }
  .materisocmed-container09 {
    width: 100%;
  }
  .materisocmed-text21 {
    font-style: normal;
    font-weight: 500;
  }
  .materisocmed-button02 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
  .materisocmed-week31 {
    width: 100%;
    height: auto;
    flex-direction: row;
  }
  .materisocmed-container10 {
    width: 100%;
  }
  .materisocmed-text25 {
    font-style: normal;
    font-weight: 500;
  }
  .materisocmed-button03 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
  .materisocmed-container11 {
    gap: var(--dl-space-space-halfunit);
    flex-wrap: wrap;
    align-items: center;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: center;
  }
  .materisocmed-week12 {
    width: 100%;
    height: auto;
    flex-direction: row;
  }
  .materisocmed-container12 {
    width: 100%;
  }
  .materisocmed-text29 {
    color: #000000;
    font-style: normal;
    font-weight: 500;
  }
  .materisocmed-button04 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
  .materisocmed-text30 {
    color: #000000;
  }
  .materisocmed-text31 {
    color: #000000;
  }
  .materisocmed-image07 {
    top: 5px;
    right: -74px;
    width: 273px;
    height: 273px;
    display: none;
  }
  .materisocmed-text32 {
    font-size: 12px;
  }
  .materisocmed-container14 {
    gap: var(--dl-space-space-halfunit);
    flex-wrap: wrap;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: center;
  }
  .materisocmed-container15 {
    margin-bottom: 0px;
  }
  .materisocmed-image08 {
    border-radius: 9px;
  }
  .materisocmed-container16 {
    width: 100%;
  }
  .materisocmed-text34 {
    font-size: 12px;
  }
  .materisocmed-text35 {
    font-size: 12px;
    text-align: left;
  }
  .materisocmed-button05 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
  .materisocmed-image09 {
    border-radius: 9px;
  }
  .materisocmed-container17 {
    width: 100%;
  }
  .materisocmed-text38 {
    font-size: 12px;
  }
  .materisocmed-text39 {
    font-size: 12px;
    text-align: left;
  }
  .materisocmed-button06 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
  .materisocmed-image10 {
    border-radius: 9px;
  }
  .materisocmed-container18 {
    width: 100%;
  }
  .materisocmed-text42 {
    font-size: 12px;
  }
  .materisocmed-text43 {
    font-size: 12px;
    text-align: left;
  }
  .materisocmed-button07 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
  .materisocmed-image11 {
    border-radius: 9px;
  }
  .materisocmed-container19 {
    width: 100%;
  }
  .materisocmed-text46 {
    font-size: 12px;
  }
  .materisocmed-text47 {
    font-size: 12px;
    text-align: left;
  }
  .materisocmed-button08 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
  .materisocmed-image12 {
    border-radius: 9px;
  }
  .materisocmed-container20 {
    width: 100%;
  }
  .materisocmed-text50 {
    font-size: 12px;
  }
  .materisocmed-text51 {
    font-size: 12px;
    text-align: left;
  }
  .materisocmed-button09 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
}
