.produk-materi-container {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 209px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.produk-materi-image {
  width: 100%;
  cursor: pointer;
  height: auto;
  object-fit: cover;
  transition: 0.5s;
  border-radius: var(--dl-radius-radius-radius8);
}
.produk-materi-image:hover {
  transform: translateY(-12px);
  box-shadow: 0px 3px 0px 0px #444444,0px 5px 5px 0px #909090;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.produk-materi-container1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.produk-materi-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.produk-materi-text {
  width: 100%;
  font-size: 6px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.produk-materi-text3 {
  width: 100%;
  font-size: 6px;
  align-self: center;
  text-align: right;
}
.produk-materi-text4 {
  width: 100%;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.produk-materi-link {
  display: contents;
}
.produk-materi-container3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 5px;
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #fff700;
}
.produk-materi-container3:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #07ff00;
}
.produk-materi-text5 {
  color: var(--dl-color-gray-black);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}
.produk-materi-icon {
  width: 15px;
  height: auto;
}





@media(max-width: 479px) {
  .produk-materi-container {
    width: 154px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f7f7f7;
  }
  .produk-materi-image {
    height: auto;
  }
  .produk-materi-container1 {
    gap: 5px;
  }
  .produk-materi-container2 {
    flex-direction: row;
  }
  .produk-materi-text {
    font-size: 6px;
  }
  .produk-materi-text3 {
    font-size: 6px;
    text-align: right;
  }
  .produk-materi-text4 {
    font-size: 8px;
  }
  .produk-materi-container3 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: auto;
    padding: 5px;
  }
  .produk-materi-text5 {
    width: auto;
    font-size: 10px;
  }
}

.popmenu-container {
  gap: var(--dl-space-space-unit);
  width: auto;
  bottom: 0px;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 20px;
  border-radius: 20px;
  padding-right: 20px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #ffffff;
}
.popmenu-caption {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  margin-right: 0px;
  text-transform: none;
  text-decoration: none;
}
.popmenu-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.popmenu-link {
  display: contents;
}
.popmenu-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.popmenu-link1 {
  display: contents;
}
.popmenu-icon2 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.popmenu-link2 {
  display: contents;
}
.popmenu-image {
  width: 20px;
  height: 20px;
  object-fit: cover;
  text-decoration: none;
}
.popmenu-root-class-name {
  margin-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 479px) {
  .popmenu-container {
    width: auto;
    height: auto;
    align-items: center;
    flex-direction: row;
  }
}

.chat-bima-container {
  gap: var(--dl-space-space-halfunit);
  right: 0px;
  width: auto;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  transition: 0.3s;
  align-items: center;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.chat-bima-container:hover {
  padding-top: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.chat-bima-link {
  display: contents;
}
.chat-bima-container1 {
  gap: var(--dl-space-space-halfunit);
  width: 103px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(31, 204, 45) 0.00%,rgb(10, 111, 23) 99.00%);
}
.chat-bima-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.chat-bima-text {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.chat-bima-root-class-name {
  margin-top: 360px;
}
@media(max-width: 479px) {
  .chat-bima-container {
    width: auto;
  }
  .chat-bima-container1 {
    width: 84px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.61);
  }
  .chat-bima-text {
    font-size: 9px;
  }
}

.materisocmed-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.materisocmed-container01 {
  top: 0px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ff0000;
}
.materisocmed-text {
  color: rgb(255, 255, 255);
  margin: var(--dl-space-space-halfunit);
  font-size: 10px;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.materisocmed-container02 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.materisocmed-text03 {
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-container03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.materisocmed-week1 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffffff;
}
.materisocmed-image {
  width: 133px;
  height: 133px;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container04 {
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text04 {
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text05 {
  color: rgb(37, 37, 37);
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text07 {
  font-weight: 700;
}
.materisocmed-week2 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffffff;
}
.materisocmed-image1 {
  width: 133px;
  height: 133px;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container05 {
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text09 {
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text10 {
  color: rgb(37, 37, 37);
  font-size: 12px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.materisocmed-text12 {
  font-weight: 700;
}
.materisocmed-text13 {
  font-weight: 400;
}
.materisocmed-container06 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.materisocmed-text15 {
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-container07 {
  gap: var(--dl-space-space-unit);
  flex: 2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.materisocmed-container08 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.materisocmed-week11 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffffff;
}
.materisocmed-image2 {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container09 {
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text16 {
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text17 {
  color: rgb(37, 37, 37);
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-link {
  display: contents;
}
.materisocmed-button {
  gap: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-unit);
  transition: 0.7s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
  background-color: #fff900;
  border-bottom-width: 1px;
}
.materisocmed-button:hover {
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-text18 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-week21 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffffff;
}
.materisocmed-image3 {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container10 {
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text19 {
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text20 {
  color: rgb(37, 37, 37);
  font-size: 12px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.materisocmed-link1 {
  display: contents;
}
.materisocmed-button1 {
  gap: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-unit);
  transition: 0.7s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
  background-color: #fff900;
  border-bottom-width: 1px;
}
.materisocmed-button1:hover {
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-text21 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-week22 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffffff;
}
.materisocmed-image4 {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container11 {
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text22 {
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text23 {
  color: rgb(37, 37, 37);
  font-size: 12px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.materisocmed-link2 {
  display: contents;
}
.materisocmed-button2 {
  gap: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-unit);
  transition: 0.7s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
  background-color: #fff900;
  border-bottom-width: 1px;
}
.materisocmed-button2:hover {
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-text24 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-week23 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffffff;
}
.materisocmed-image5 {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container12 {
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text25 {
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text26 {
  color: rgb(37, 37, 37);
  font-size: 12px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.materisocmed-link3 {
  display: contents;
}
.materisocmed-button3 {
  gap: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-unit);
  transition: 0.7s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
  background-color: #fff900;
  border-bottom-width: 1px;
}
.materisocmed-button3:hover {
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-text27 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-text28 {
  color: #000000;
  width: Size-XSmall;
}
.materisocmed-container13 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.materisocmed-week24 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffffff;
}
.materisocmed-image6 {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container14 {
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text29 {
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text30 {
  color: rgb(37, 37, 37);
  font-size: 12px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.materisocmed-link4 {
  display: contents;
}
.materisocmed-button4 {
  gap: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-unit);
  transition: 0.7s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
  background-color: #fff900;
  border-bottom-width: 1px;
}
.materisocmed-button4:hover {
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-text31 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-week25 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  overflow: hidden;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffffff;
}
.materisocmed-image7 {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container15 {
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text32 {
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text33 {
  color: rgb(37, 37, 37);
  font-size: 12px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.materisocmed-link5 {
  display: contents;
}
.materisocmed-button5 {
  gap: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  margin-top: var(--dl-space-space-unit);
  transition: 0.7s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  border-width: 0px;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
  background-color: #fff900;
  border-bottom-width: 1px;
}
.materisocmed-button5:hover {
  gap: 10px;
  color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  border-bottom-width: 1px;
}
.materisocmed-text34 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-container16 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.materisocmed-text35 {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-link6 {
  display: contents;
}
.materisocmed-icon {
  fill: #000000;
  width: 35px;
  height: 35px;
  padding: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.materisocmed-container17 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.materisocmed-text36 {
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-container18 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
}
.materisocmed-form {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.materisocmed-text37 {
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-container19 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.materisocmed-textinput {
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.materisocmed-textinput1 {
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.materisocmed-textarea {
  width: 100%;
  height: 86px;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.materisocmed-button6 {
  width: 100%;
  cursor: pointer;
  height: auto;
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.15;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: none;
  text-decoration: none;
  background-color: #fbea00;
}
.materisocmed-button6:hover {
  background-color: #46cc06;
}
@media(max-width: 991px) {
  .materisocmed-container02 {
    flex-wrap: wrap;
  }
  .materisocmed-container03 {
    gap: var(--dl-space-space-unit);
  }
  .materisocmed-container06 {
    flex-wrap: wrap;
  }
  .materisocmed-container08 {
    gap: var(--dl-space-space-unit);
  }
  .materisocmed-text35 {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-container17 {
    flex-wrap: wrap;
  }
}
@media(max-width: 767px) {
  .materisocmed-container02 {
    flex-wrap: wrap;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .materisocmed-container03 {
    gap: var(--dl-space-space-unit);
  }
  .materisocmed-container04 {
    width: 151px;
  }
  .materisocmed-text04 {
    width: auto;
  }
  .materisocmed-text05 {
    width: auto;
  }
  .materisocmed-container05 {
    width: auto;
  }
  .materisocmed-container06 {
    flex-wrap: wrap;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .materisocmed-container08 {
    gap: var(--dl-space-space-unit);
  }
  .materisocmed-container09 {
    width: 151px;
  }
  .materisocmed-container10 {
    width: 151px;
  }
  .materisocmed-container11 {
    width: 151px;
  }
  .materisocmed-container12 {
    width: 151px;
  }
  .materisocmed-container14 {
    width: 293px;
  }
  .materisocmed-container15 {
    width: 293px;
  }
  .materisocmed-container17 {
    flex-wrap: wrap;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .materisocmed-container01 {
    z-index: 100;
  }
  .materisocmed-text {
    color: rgb(255, 255, 255);
  }
  .materisocmed-text02 {
    font-weight: 700;
  }
  .materisocmed-container02 {
    gap: var(--dl-space-space-halfunit);
    flex-wrap: wrap;
    align-items: center;
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: center;
  }
  .materisocmed-text03 {
    font-size: 16px;
  }
  .materisocmed-container03 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .materisocmed-week1 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    flex-direction: row;
  }
  .materisocmed-image {
    width: 77px;
    height: 77px;
  }
  .materisocmed-container04 {
    width: auto;
  }
  .materisocmed-text04 {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }
  .materisocmed-text05 {
    width: auto;
    font-size: 10px;
  }
  .materisocmed-week2 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    flex-direction: row;
  }
  .materisocmed-image1 {
    width: 77px;
    height: 77px;
  }
  .materisocmed-container05 {
    width: auto;
  }
  .materisocmed-text09 {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }
  .materisocmed-text10 {
    width: auto;
    font-size: 10px;
  }
  .materisocmed-container06 {
    gap: var(--dl-space-space-halfunit);
    flex-wrap: wrap;
    align-items: center;
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: row;
    justify-content: center;
  }
  .materisocmed-text15 {
    font-size: 16px;
  }
  .materisocmed-container07 {
    gap: var(--dl-space-space-halfunit);
    align-items: flex-start;
  }
  .materisocmed-container08 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    flex-direction: column;
  }
  .materisocmed-week11 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
  }
  .materisocmed-image2 {
    width: 77px;
    height: 77px;
  }
  .materisocmed-container09 {
    width: 100%;
  }
  .materisocmed-text16 {
    font-size: 12px;
    font-style: inherit;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-text17 {
    width: auto;
    font-size: 10px;
  }
  .materisocmed-button {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
  .materisocmed-text18 {
    font-size: 13px;
  }
  .materisocmed-week21 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
  }
  .materisocmed-image3 {
    width: 77px;
    height: 77px;
  }
  .materisocmed-container10 {
    width: 100%;
  }
  .materisocmed-text19 {
    font-size: 12px;
    font-style: inherit;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-text20 {
    width: auto;
    font-size: 10px;
  }
  .materisocmed-button1 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
  .materisocmed-text21 {
    font-size: 13px;
  }
  .materisocmed-week22 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
  }
  .materisocmed-image4 {
    width: 77px;
    height: 77px;
  }
  .materisocmed-container11 {
    width: 100%;
  }
  .materisocmed-text22 {
    font-size: 12px;
    font-style: inherit;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-text23 {
    width: auto;
    font-size: 10px;
  }
  .materisocmed-button2 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
  .materisocmed-text24 {
    font-size: 13px;
  }
  .materisocmed-week23 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
  }
  .materisocmed-image5 {
    width: 77px;
    height: 77px;
  }
  .materisocmed-container12 {
    width: 100%;
  }
  .materisocmed-text25 {
    font-size: 12px;
    font-style: inherit;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-text26 {
    font-size: 10px;
  }
  .materisocmed-button3 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
  .materisocmed-text27 {
    font-size: 13px;
  }
  .materisocmed-week24 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
  }
  .materisocmed-image6 {
    width: 77px;
    height: 77px;
  }
  .materisocmed-container14 {
    width: 100%;
  }
  .materisocmed-text29 {
    font-size: 12px;
    font-style: inherit;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-text30 {
    width: auto;
    font-size: 10px;
  }
  .materisocmed-button4 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
  .materisocmed-text31 {
    font-size: 13px;
  }
  .materisocmed-week25 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
  }
  .materisocmed-image7 {
    width: 77px;
    height: 77px;
  }
  .materisocmed-container15 {
    width: 100%;
  }
  .materisocmed-text32 {
    font-size: 12px;
    font-style: inherit;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-text33 {
    width: auto;
    font-size: 10px;
  }
  .materisocmed-button5 {
    padding: var(--dl-space-space-halfunit);
    margin-top: var(--dl-space-space-unit);
  }
  .materisocmed-text34 {
    font-size: 13px;
  }
  .materisocmed-text35 {
    font-size: 12px;
  }
  .materisocmed-container17 {
    gap: var(--dl-space-space-halfunit);
    flex-wrap: wrap;
    align-items: center;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: center;
  }
  .materisocmed-text36 {
    font-size: 16px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .materisocmed-container18 {
    gap: var(--dl-space-space-unit);
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0px;
    flex-direction: row;
    justify-content: center;
  }
}
