.produk-materi-container {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.produk-materi-image {
  width: 100%;
  cursor: pointer;
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.produk-materi-container1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.produk-materi-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.produk-materi-text {
  width: 100%;
  font-size: 6px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.produk-materi-text3 {
  width: 100%;
  font-size: 6px;
  align-self: center;
  text-align: right;
}
.produk-materi-text4 {
  width: 100%;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.produk-materi-link {
  display: contents;
}
.produk-materi-container3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  cursor: pointer;
  height: 31px;
  display: flex;
  padding: 5px;
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #fff700;
}
.produk-materi-container3:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #07ff00;
}
.produk-materi-text5 {
  color: var(--dl-color-gray-black);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}
.produk-materi-icon {
  width: 15px;
  height: auto;
}
.produk-materi-root-class-name {
  flex: 1;
  width: 100%;
}
.produk-materi-root-class-name1 {
  flex: 1;
  width: 100%;
}
.produk-materi-root-class-name3 {
  flex: 1;
  width: 100%;
}
.produk-materi-root-class-name4 {
  flex: 1;
  width: 100%;
}
@media(max-width: 479px) {
  .produk-materi-container {
    width: 143px;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #f7f7f7;
  }
  .produk-materi-image {
    height: auto;
  }
  .produk-materi-container1 {
    gap: 5px;
  }
  .produk-materi-container2 {
    flex-direction: row;
  }
  .produk-materi-text {
    font-size: 6px;
  }
  .produk-materi-text3 {
    font-size: 6px;
    text-align: right;
  }
  .produk-materi-text4 {
    font-size: 8px;
  }
  .produk-materi-container3 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: auto;
    padding: 5px;
  }
  .produk-materi-text5 {
    width: auto;
    font-size: 10px;
  }
}

.form-container {
  width: 100%;
  display: flex;
  position: relative;
}
.form-form {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.form-text {
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.form-container1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.form-textinput {
  flex: 1;
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.form-textinput1 {
  flex: 1;
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.form-textarea {
  width: 100%;
  height: 86px;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.form-button {
  width: 100%;
  cursor: pointer;
  height: auto;
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.15;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: none;
  text-decoration: none;
  background-color: #fbea00;
}
.form-button:hover {
  background-color: #46cc06;
}
.form-root-class-name {
  max-width: 1000px;
}
.form-root-class-name1 {
  max-width: 1000px;
}
@media(max-width: 479px) {
  .form-text {
    font-size: 18px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .form-textinput {
    flex: 1;
  }
  .form-textinput1 {
    flex: 1;
  }
}

.popmenu-container {
  gap: var(--dl-space-space-unit);
  width: auto;
  bottom: 0px;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 20px;
  border-radius: 20px;
  padding-right: 20px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #ffffff;
}
.popmenu-caption {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  margin-right: 0px;
  text-transform: none;
  text-decoration: none;
}
.popmenu-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.popmenu-link {
  display: contents;
}
.popmenu-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.popmenu-link1 {
  display: contents;
}
.popmenu-icon2 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.popmenu-link2 {
  display: contents;
}
.popmenu-image {
  width: 20px;
  height: 20px;
  object-fit: cover;
  text-decoration: none;
}
.popmenu-root-class-name {
  margin-bottom: var(--dl-space-space-unit);
}
.popmenu-root-class-name1 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.popmenu-root-class-name2 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.popmenu-root-class-name3 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.popmenu-root-class-name4 {
  margin-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 479px) {
  .popmenu-container {
    width: auto;
    height: auto;
    align-items: center;
    flex-direction: row;
  }
  .popmenu-root-class-name1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .popmenu-root-class-name2 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .popmenu-root-class-name3 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .popmenu-root-class-name4 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
}

.chat-bima-container {
  gap: var(--dl-space-space-halfunit);
  right: 0px;
  width: auto;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  transition: 0.3s;
  align-items: center;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.chat-bima-container:hover {
  padding-top: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.chat-bima-link {
  display: contents;
}
.chat-bima-container1 {
  gap: var(--dl-space-space-halfunit);
  width: 67px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(31, 204, 45) 0.00%,rgb(10, 111, 23) 99.00%);
}
.chat-bima-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.chat-bima-text {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.chat-bima-root-class-name {
  margin-top: 240px;
}
.chat-bima-root-class-name1 {
  margin-top: 240px;
}
.chat-bima-root-class-name2 {
  margin-top: 240px;
}
.chat-bima-root-class-name3 {
  margin-top: 240px;
}
@media(max-width: 479px) {
  .chat-bima-container {
    width: auto;
  }
  .chat-bima-container1 {
    width: 51px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.61);
  }
  .chat-bima-text {
    font-size: 9px;
  }
}

.materisocmed-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.materisocmed-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.materisocmed-container02 {
  gap: 0;
  top: 0px;
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: #ff0000;
}
.materisocmed-text {
  color: rgb(255, 255, 255);
  direction: inherit;
  font-size: 10px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.materisocmed-text02 {
  font-weight: 700;
}
.materisocmed-slider {
  width: 479px;
  height: auto;
  display: none;
}
.materisocmed-slider-slide {
  height: auto;
  display: flex;
}
.materisocmed-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.materisocmed-slider-slide1 {
  display: flex;
}
.materisocmed-image01 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.materisocmed-link {
  display: contents;
}
.materisocmed-button {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 5px;
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #fff700;
}
.materisocmed-button:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #07ff00;
}
.materisocmed-text03 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-slider-pagination {
  display: block;
}
.materisocmed-slider-button-prev {
  color: #ffffff;
  display: none;
}
.materisocmed-slider-button-next {
  color: #ffffff;
  display: none;
}
.materisocmed-container03 {
  gap: var(--dl-space-space-unit);
  flex: 2;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: 900px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.materisocmed-container04 {
  top: 48px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 249px;
  margin: auto;
  display: flex;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.materisocmed-container05 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-color: #ffffff;
  border-width: 4px;
  border-radius: 20px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ffffff;
}
.materisocmed-container06 {
  width: 100%;
}
.materisocmed-container07 {
  display: contents;
}
.materisocmed-container08 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.materisocmed-text04 {
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-container09 {
  gap: var(--dl-space-space-unit);
  flex: 2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.materisocmed-container10 {
  gap: var(--dl-space-space-unit);
  flex: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.materisocmed-week1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.25);
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffffff;
}
.materisocmed-image02 {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container11 {
  gap: var(--dl-space-space-halfunit);
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text05 {
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text06 {
  color: rgb(37, 37, 37);
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-link01 {
  display: contents;
}
.materisocmed-button01 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #fff700;
}
.materisocmed-button01:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #07ff00;
}
.materisocmed-text07 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-week2 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.25);
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffffff;
}
.materisocmed-image03 {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container12 {
  gap: var(--dl-space-space-halfunit);
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text08 {
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text09 {
  color: rgb(37, 37, 37);
  font-size: 12px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.materisocmed-link02 {
  display: contents;
}
.materisocmed-button02 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #fff700;
}
.materisocmed-button02:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #07ff00;
}
.materisocmed-text10 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-week21 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.25);
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffffff;
}
.materisocmed-image04 {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container13 {
  gap: var(--dl-space-space-halfunit);
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text11 {
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text12 {
  color: rgb(37, 37, 37);
  font-size: 12px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.materisocmed-link03 {
  display: contents;
}
.materisocmed-button03 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #fff700;
}
.materisocmed-button03:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #07ff00;
}
.materisocmed-text13 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-week22 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.25);
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffffff;
}
.materisocmed-image05 {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container14 {
  gap: var(--dl-space-space-halfunit);
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text14 {
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text15 {
  color: rgb(37, 37, 37);
  font-size: 12px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.materisocmed-link04 {
  display: contents;
}
.materisocmed-button04 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #fff700;
}
.materisocmed-button04:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #07ff00;
}
.materisocmed-text16 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-text17 {
  font-size: 18px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-container15 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-color: #ffffff;
  border-width: 4px;
  border-radius: 20px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #ff0000;
}
.materisocmed-icon {
  fill: #ffffff;
  width: 95px;
  height: 38px;
}
.materisocmed-container16 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.materisocmed-text18 {
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.3;
  text-decoration: none;
}
.materisocmed-text21 {
  font-style: normal;
}
.materisocmed-navlink {
  display: contents;
}
.materisocmed-container17 {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: 4px;
  justify-content: flex-start;
  text-decoration: none;
  background-color: #fff500;
}
.materisocmed-text22 {
  color: #121212;
  font-size: 16px;
  font-family: "Poppins";
}
.materisocmed-icon02 {
  fill: #121212;
  width: 19px;
  height: 19px;
}
.materisocmed-container18 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-color: #ffffff;
  border-width: 4px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: #2ebb00;
}
.materisocmed-text23 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.3;
  text-decoration: none;
}
.materisocmed-navlink1 {
  color: #000000;
  padding: var(--dl-space-space-unit);
  font-style: normal;
  font-weight: 500;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: #edff00;
}
.materisocmed-container19 {
  gap: var(--dl-space-space-unit);
  flex: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.materisocmed-week23 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.25);
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffffff;
}
.materisocmed-image06 {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container20 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text24 {
  color: #000000;
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text25 {
  color: rgb(37, 37, 37);
  font-size: 12px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.materisocmed-link05 {
  display: contents;
}
.materisocmed-button05 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #fff700;
}
.materisocmed-button05:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #07ff00;
}
.materisocmed-text26 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-week24 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.25);
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  flex-direction: row;
  background-color: #ffffff;
}
.materisocmed-image07 {
  width: 100px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container21 {
  gap: var(--dl-space-space-halfunit);
  width: 238px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text27 {
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-text28 {
  color: rgb(37, 37, 37);
  font-size: 12px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.materisocmed-container22 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.materisocmed-link06 {
  display: contents;
}
.materisocmed-button06 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #fff700;
}
.materisocmed-button06:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #07ff00;
}
.materisocmed-text29 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-link07 {
  display: contents;
}
.materisocmed-button07 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #fff700;
}
.materisocmed-button07:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #07ff00;
}
.materisocmed-text30 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-container23 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.materisocmed-text31 {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-link08 {
  display: contents;
}
.materisocmed-icon04 {
  fill: #000000;
  width: 35px;
  height: 35px;
  padding: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.materisocmed-slider1 {
  width: 100%;
  height: auto;
  max-width: 991px;
}
.materisocmed-slider-slide2 {
  height: auto;
  display: flex;
}
.materisocmed-image08 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.materisocmed-slider-slide3 {
  display: flex;
}
.materisocmed-image09 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.materisocmed-slider-pagination1 {
  display: block;
}
.materisocmed-slider-button-prev1 {
  color: #ffffff;
  display: none;
}
.materisocmed-slider-button-next1 {
  color: #ffffff;
  display: none;
}
.materisocmed-container24 {
  width: 100%;
  display: flex;
  max-width: 1000px;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-top: 0px;
  border-radius: 20px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: #efefef;
}
.materisocmed-text32 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-container25 {
  gap: var(--dl-space-space-unit);
  flex: 2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
}
.materisocmed-week25 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.25);
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  animation-name: tada;
  flex-direction: row;
  animation-delay: 0s;
  background-color: #ffffff;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.materisocmed-image10 {
  width: 72px;
  height: 72px;
  object-fit: cover;
}
.materisocmed-container26 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text33 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-link09 {
  display: contents;
}
.materisocmed-button08 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #fff700;
}
.materisocmed-button08:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #07ff00;
}
.materisocmed-text34 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-week26 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.25);
  align-items: center;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 20px;
  animation-name: tada;
  flex-direction: row;
  animation-delay: 0s;
  background-color: #ffffff;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.materisocmed-image11 {
  width: 72px;
  height: 72px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-radius: 20px;
}
.materisocmed-container27 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.materisocmed-text35 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-link10 {
  display: contents;
}
.materisocmed-button09 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #fff700;
}
.materisocmed-button09:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #07ff00;
}
.materisocmed-text36 {
  color: rgb(0, 0, 0);
  width: Size-XSmall;
}
.materisocmed-container28 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.materisocmed-text37 {
  font-size: 18px;
  font-style: normal;
  text-align: left;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.materisocmed-container29 {
  gap: var(--dl-space-space-unit);
  flex: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.materisocmed-container30 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.materisocmed-container31 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.materisocmed-container32 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.materisocmed-container33 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #4e50fb;
}
.materisocmed-text38 {
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.materisocmed-container34 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.materisocmed-container35 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.materisocmed-container35:hover {
  background-color: #fff8f8;
}
.materisocmed-container36 {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
  box-shadow: 5px 5px 15px 0px #d4d4d4;
  align-items: flex-start;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  background-image: url('https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Ads/2.%20cara%20set%20budget%20iklan%20mulai%2050K/10.jpeg?updatedAt=1705564404450');
}
.materisocmed-container37 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.materisocmed-text41 {
  font-weight: 700;
}
.materisocmed-navlink2 {
  display: contents;
}
.materisocmed-container38 {
  display: flex;
  transition: 0.5s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  text-decoration: none;
  background-color: #629fc6;
}
.materisocmed-container38:hover {
  gap: var(--dl-space-space-halfunit);
}
.materisocmed-text42 {
  color: #ffffff;
  font-size: 10px;
}
.materisocmed-icon06 {
  fill: #ffffff;
  width: 15px;
  height: auto;
}
.materisocmed-container39 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.materisocmed-container39:hover {
  background-color: #fff8f8;
}
.materisocmed-container40 {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
  box-shadow: 5px 5px 15px 0px #d4d4d4;
  align-items: flex-start;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  background-image: url('https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Ads/1.%20Cara%20cetak%20bukti%20top%20up/1.png?updatedAt=1705546819565');
}
.materisocmed-container41 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.materisocmed-text45 {
  font-weight: 700;
}
.materisocmed-navlink3 {
  display: contents;
}
.materisocmed-container42 {
  display: flex;
  transition: 0.5s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  text-decoration: none;
  background-color: #629fc6;
}
.materisocmed-container42:hover {
  gap: var(--dl-space-space-halfunit);
}
.materisocmed-text47 {
  color: #ffffff;
  font-size: 10px;
}
.materisocmed-icon08 {
  fill: #ffffff;
  width: 15px;
  height: auto;
}
.materisocmed-container43 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.materisocmed-container44 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.materisocmed-container44:hover {
  background-color: #fff8f8;
}
.materisocmed-container45 {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
  box-shadow: 5px 5px 15px 0px #d4d4d4;
  align-items: flex-start;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  background-image: url('https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Ads/3.%20bukti%20apa%20saja%20yang%20di%20lampirkan%20dalam%20laporan/11.png?updatedAt=1706116463268');
}
.materisocmed-container46 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.materisocmed-navlink4 {
  display: contents;
}
.materisocmed-container47 {
  display: flex;
  transition: 0.5s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  text-decoration: none;
  background-color: #629fc6;
}
.materisocmed-container47:hover {
  gap: var(--dl-space-space-halfunit);
}
.materisocmed-text49 {
  color: #ffffff;
  font-size: 10px;
}
.materisocmed-icon10 {
  fill: #ffffff;
  width: 15px;
  height: auto;
}
.materisocmed-container48 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.materisocmed-container48:hover {
  background-color: #fff8f8;
}
.materisocmed-container49 {
  flex: 0 0 auto;
  width: 150px;
  height: 150px;
  display: flex;
  box-shadow: 5px 5px 15px 0px #d4d4d4;
  align-items: flex-start;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  background-size: cover;
  background-image: url("https://play.teleporthq.io/static/svg/default-img.svg");
}
.materisocmed-container50 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.materisocmed-navlink5 {
  display: contents;
}
.materisocmed-container51 {
  display: flex;
  transition: 0.5s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  text-decoration: none;
  background-color: #629fc6;
}
.materisocmed-container51:hover {
  gap: var(--dl-space-space-halfunit);
}
.materisocmed-text51 {
  color: #ffffff;
  font-size: 10px;
}
.materisocmed-icon12 {
  fill: #ffffff;
  width: 15px;
  height: auto;
}
.materisocmed-container52 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: none;
  max-width: 800px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.materisocmed-image12 {
  width: 360px;
  height: 361px;
  max-width: auto;
  object-fit: cover;
}
.materisocmed-container53 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.materisocmed-text55 {
  font-weight: 700;
}
@media(max-width: 991px) {
  .materisocmed-container02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .materisocmed-container08 {
    flex-wrap: wrap;
  }
  .materisocmed-container10 {
    gap: var(--dl-space-space-unit);
  }
  .materisocmed-text17 {
    align-self: center;
  }
  .materisocmed-text23 {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.3;
    text-decoration: none;
  }
  .materisocmed-container19 {
    gap: var(--dl-space-space-unit);
  }
  .materisocmed-text31 {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-slider1 {
    width: 100%;
    display: flex;
    max-width: 991px;
  }
  .materisocmed-text32 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-container28 {
    flex-wrap: wrap;
  }
  .materisocmed-image12 {
    width: 360px;
    height: 361px;
  }
}
@media(max-width: 767px) {
  .materisocmed-container {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .materisocmed-container02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .materisocmed-slider {
    width: 479px;
    display: inline-block;
  }
  .materisocmed-slider-slide1 {
    position: relative;
  }
  .materisocmed-button {
    left: 0px;
    right: 0px;
    width: 268px;
    bottom: 49px;
    height: 45px;
    margin: auto;
    position: absolute;
  }
  .materisocmed-text03 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
  .materisocmed-container03 {
    flex: 1;
    padding-top: var(--dl-space-space-twounits);
  }
  .materisocmed-container04 {
    height: 196px;
    justify-content: flex-start;
  }
  .materisocmed-container08 {
    flex-wrap: wrap;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .materisocmed-container09 {
    flex: 1;
  }
  .materisocmed-container10 {
    gap: var(--dl-space-space-unit);
    flex: 1;
  }
  .materisocmed-week1 {
    flex: 1;
  }
  .materisocmed-container11 {
    width: 151px;
  }
  .materisocmed-week2 {
    flex: 1;
  }
  .materisocmed-container12 {
    width: 151px;
  }
  .materisocmed-week21 {
    flex: 1;
  }
  .materisocmed-container13 {
    width: 151px;
  }
  .materisocmed-week22 {
    flex: 1;
  }
  .materisocmed-container14 {
    width: 151px;
  }
  .materisocmed-text17 {
    font-size: 18px;
    align-self: center;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-container19 {
    gap: var(--dl-space-space-unit);
  }
  .materisocmed-week23 {
    flex: 1;
  }
  .materisocmed-container20 {
    width: 293px;
  }
  .materisocmed-text25 {
    color: rgb(37, 37, 37);
    font-size: 12px;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.15;
    text-transform: capitalize;
    text-decoration: none;
  }
  .materisocmed-week24 {
    flex: 1;
  }
  .materisocmed-container21 {
    width: 293px;
  }
  .materisocmed-slider1 {
    width: 100%;
    display: inline-block;
  }
  .materisocmed-slider-slide3 {
    position: relative;
  }
  .materisocmed-container25 {
    flex: 1;
  }
  .materisocmed-week25 {
    flex: 1;
  }
  .materisocmed-container26 {
    width: 293px;
  }
  .materisocmed-week26 {
    flex: 1;
  }
  .materisocmed-container27 {
    width: 293px;
  }
  .materisocmed-container28 {
    flex-wrap: wrap;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .materisocmed-image12 {
    width: 384px;
    height: 385px;
  }
}
@media(max-width: 479px) {
  .materisocmed-container01 {
    padding-right: 0px;
  }
  .materisocmed-container02 {
    z-index: 100;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .materisocmed-text {
    color: rgb(255, 255, 255);
    margin-left: 0px;
    margin-right: 0px;
  }
  .materisocmed-text02 {
    font-weight: 700;
  }
  .materisocmed-slider {
    width: 100%;
  }
  .materisocmed-slider-slide1 {
    position: relative;
  }
  .materisocmed-button {
    gap: var(--dl-space-space-halfunit);
    left: 0px;
    right: 0px;
    width: 296px;
    bottom: 42px;
    height: 48px;
    margin: auto;
    padding: 5px;
    position: absolute;
  }
  .materisocmed-text03 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
  }
  .materisocmed-container03 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .materisocmed-container04 {
    height: 139px;
  }
  .materisocmed-container05 {
    padding: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .materisocmed-container08 {
    gap: var(--dl-space-space-halfunit);
    flex-wrap: wrap;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .materisocmed-text04 {
    font-size: 16px;
  }
  .materisocmed-container09 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .materisocmed-container10 {
    gap: var(--dl-space-space-unit);
    flex: 0;
    width: 100%;
    flex-direction: column;
  }
  .materisocmed-week1 {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
  }
  .materisocmed-image02 {
    width: 77px;
    height: 77px;
  }
  .materisocmed-container11 {
    width: 100%;
  }
  .materisocmed-text05 {
    font-size: 12px;
    font-style: inherit;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-text06 {
    width: auto;
    font-size: 10px;
  }
  .materisocmed-button01 {
    gap: var(--dl-space-space-halfunit);
    width: auto;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .materisocmed-text07 {
    font-size: 13px;
  }
  .materisocmed-week2 {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
  }
  .materisocmed-image03 {
    width: 77px;
    height: 77px;
  }
  .materisocmed-container12 {
    width: 100%;
  }
  .materisocmed-text08 {
    font-size: 12px;
    font-style: inherit;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-text09 {
    width: auto;
    font-size: 10px;
  }
  .materisocmed-button02 {
    gap: var(--dl-space-space-halfunit);
    width: auto;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .materisocmed-text10 {
    font-size: 13px;
  }
  .materisocmed-week21 {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
  }
  .materisocmed-image04 {
    width: 77px;
    height: 77px;
  }
  .materisocmed-container13 {
    width: 100%;
  }
  .materisocmed-text11 {
    font-size: 12px;
    font-style: inherit;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-text12 {
    width: auto;
    font-size: 10px;
  }
  .materisocmed-button03 {
    gap: var(--dl-space-space-halfunit);
    width: auto;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .materisocmed-text13 {
    font-size: 13px;
  }
  .materisocmed-week22 {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
  }
  .materisocmed-image05 {
    width: 77px;
    height: 77px;
  }
  .materisocmed-container14 {
    width: 100%;
  }
  .materisocmed-text14 {
    font-size: 12px;
    font-style: inherit;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-text15 {
    font-size: 10px;
  }
  .materisocmed-button04 {
    gap: var(--dl-space-space-halfunit);
    width: auto;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .materisocmed-text16 {
    font-size: 13px;
  }
  .materisocmed-text17 {
    font-size: 16px;
    align-self: center;
  }
  .materisocmed-container15 {
    padding: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .materisocmed-icon {
    width: 231px;
    height: 78px;
  }
  .materisocmed-container16 {
    align-items: center;
  }
  .materisocmed-text18 {
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 16px;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.3;
    text-decoration: none;
  }
  .materisocmed-text20 {
    font-weight: 700;
  }
  .materisocmed-text21 {
    font-style: normal;
    font-weight: 400;
  }
  .materisocmed-text22 {
    color: rgb(18, 18, 18);
  }
  .materisocmed-container18 {
    padding: var(--dl-space-space-halfunit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .materisocmed-text23 {
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 16px;
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.3;
    text-decoration: none;
  }
  .materisocmed-container19 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    flex-direction: column;
  }
  .materisocmed-week23 {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
  }
  .materisocmed-image06 {
    width: 77px;
    height: 77px;
  }
  .materisocmed-container20 {
    width: 100%;
  }
  .materisocmed-text24 {
    font-size: 12px;
    font-style: inherit;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-text25 {
    width: auto;
    font-size: 10px;
  }
  .materisocmed-button05 {
    gap: var(--dl-space-space-halfunit);
    width: auto;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .materisocmed-text26 {
    font-size: 13px;
  }
  .materisocmed-week24 {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
  }
  .materisocmed-image07 {
    width: 77px;
    height: 77px;
  }
  .materisocmed-container21 {
    width: 100%;
  }
  .materisocmed-text27 {
    font-size: 12px;
    font-style: inherit;
    text-align: left;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-text28 {
    width: auto;
    font-size: 10px;
  }
  .materisocmed-button06 {
    gap: var(--dl-space-space-halfunit);
    width: auto;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .materisocmed-text29 {
    font-size: 13px;
  }
  .materisocmed-button07 {
    gap: var(--dl-space-space-halfunit);
    width: auto;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .materisocmed-text30 {
    font-size: 13px;
  }
  .materisocmed-text31 {
    font-size: 12px;
  }
  .materisocmed-slider1 {
    width: 100%;
    max-width: auto;
  }
  .materisocmed-slider-slide3 {
    position: relative;
  }
  .materisocmed-text32 {
    font-size: 16px;
  }
  .materisocmed-container25 {
    gap: var(--dl-space-space-halfunit);
    flex: 1;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .materisocmed-week25 {
    width: 100%;
    align-items: center;
    flex-direction: row;
  }
  .materisocmed-image10 {
    width: 77px;
    height: 77px;
  }
  .materisocmed-container26 {
    width: 100%;
  }
  .materisocmed-text33 {
    font-size: 12px;
    font-style: inherit;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-button08 {
    gap: var(--dl-space-space-halfunit);
    width: auto;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .materisocmed-text34 {
    font-size: 13px;
  }
  .materisocmed-week26 {
    width: 100%;
    align-items: center;
    flex-direction: row;
  }
  .materisocmed-image11 {
    width: 77px;
    height: 77px;
  }
  .materisocmed-container27 {
    width: 100%;
  }
  .materisocmed-text35 {
    font-size: 12px;
    font-style: inherit;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-button09 {
    gap: var(--dl-space-space-halfunit);
    width: auto;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .materisocmed-text36 {
    font-size: 13px;
  }
  .materisocmed-container28 {
    gap: var(--dl-space-space-halfunit);
    flex-wrap: wrap;
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .materisocmed-text37 {
    font-size: 16px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .materisocmed-container29 {
    gap: var(--dl-space-space-unit);
    flex: 0;
    align-items: flex-start;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .materisocmed-container30 {
    flex: 1;
    width: 100%;
  }
  .materisocmed-container31 {
    flex: 1;
    width: 100%;
  }
  .materisocmed-text38 {
    font-size: 18px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .materisocmed-container34 {
    flex-direction: column;
  }
  .materisocmed-container35 {
    flex: 0;
    width: 100%;
  }
  .materisocmed-container36 {
    width: 130px;
    height: 130px;
  }
  .materisocmed-container39 {
    width: 100%;
  }
  .materisocmed-container40 {
    width: 130px;
    height: 130px;
  }
  .materisocmed-container43 {
    flex-direction: column;
  }
  .materisocmed-container44 {
    flex: 0;
    width: 100%;
  }
  .materisocmed-container45 {
    width: 130px;
    height: 130px;
  }
  .materisocmed-container48 {
    width: 100%;
  }
  .materisocmed-container49 {
    width: 130px;
    height: 130px;
  }
  .materisocmed-image12 {
    width: 380px;
    height: 381px;
  }
}
