.nonik-ku-sayang-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.nonik-ku-sayang-container01 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: none;
  position: relative;
  max-width: 479px;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.nonik-ku-sayang-container02 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: 800px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Nonik/asd_MLxDwmJSF?updatedAt=1703515097117');
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.nonik-ku-sayang-text {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 18px;
  align-self: center;
  margin-top: 240px;
  text-align: left;
  font-family: "Over the Rainbow";
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(189, 28, 196);
}
.nonik-ku-sayang-text01 {
  color: #ffffff;
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.nonik-ku-sayang-link {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-unit);
  font-size: 30px;
  align-self: center;
  text-align: left;
  transition: 0.3s;
  font-family: "Over the Rainbow";
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: rgb(189, 28, 196);
}
.nonik-ku-sayang-link:hover {
  box-shadow: 0px 8px 0px 0px #75005c,0px 0px 50px 30px #ffc901;
}
.nonik-ku-sayang-container03 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.nonik-ku-sayang-text02 {
  top: -11px;
  left: 29px;
  color: #ffffff;
  width: auto;
  height: auto;
  z-index: 100;
  position: absolute;
  font-size: 12px;
  text-align: center;
  font-family: "Over the Rainbow";
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #000000;
}
.nonik-ku-sayang-video {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px 0px #d4d4d4;
  border-color: #f1f1f1;
  border-style: dotted;
  border-width: 5px;
  border-radius: 15px;
}
.nonik-ku-sayang-text03 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 18px;
  text-align: right;
  font-family: "Over the Rainbow";
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(189, 28, 196);
}
.nonik-ku-sayang-text04 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.nonik-ku-sayang-text05 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.nonik-ku-sayang-text07 {
  font-family: "Courier New";
  text-decoration: underline;
}
.nonik-ku-sayang-text08 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.nonik-ku-sayang-text09 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.nonik-ku-sayang-slider {
  width: 100%;
  height: 468px;
  display: inline-block;
  border-radius: 15px;
}
.nonik-ku-sayang-slider-slide {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nonik-ku-sayang-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.nonik-ku-sayang-slider-slide1 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nonik-ku-sayang-image01 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.nonik-ku-sayang-slider-slide2 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nonik-ku-sayang-image02 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.nonik-ku-sayang-slider-slide3 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nonik-ku-sayang-image03 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.nonik-ku-sayang-slider-slide4 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nonik-ku-sayang-image04 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.nonik-ku-sayang-slider-slide5 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nonik-ku-sayang-image05 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.nonik-ku-sayang-slider-slide6 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nonik-ku-sayang-image06 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.nonik-ku-sayang-slider-pagination {
  display: none;
}
.nonik-ku-sayang-slider-button-prev {
  display: none;
}
.nonik-ku-sayang-slider-button-next {
  display: none;
}
.nonik-ku-sayang-text10 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.nonik-ku-sayang-text11 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.nonik-ku-sayang-text12 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.nonik-ku-sayang-container04 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.nonik-ku-sayang-text13 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 18px;
  text-align: right;
  font-family: "Over the Rainbow";
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(189, 28, 196);
}
.nonik-ku-sayang-text14 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.nonik-ku-sayang-container05 {
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.nonik-ku-sayang-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(252, 0, 255, 0.81) 0.00%,rgba(144, 0, 222, 0.74) 100.00%),url('https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Nonik/387269341_851688562953175_3657240227045545255_n.jpg?updatedAt=1698187201062');
  background-repeat: repeat,no-repeat;
  background-position: top left;
}
.nonik-ku-sayang-text15 {
  color: #ffffff;
  font-size: 46px;
  font-family: "Birthstone";
}
.nonik-ku-sayang-text17 {
  font-weight: 700;
}
.nonik-ku-sayang-text18 {
  font-style: normal;
  font-weight: 400;
}
.nonik-ku-sayang-text19 {
  font-style: normal;
  font-weight: 400;
}
.nonik-ku-sayang-text20 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Inter";
}
.nonik-ku-sayang-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 57.00%,rgb(229, 229, 229) 100.00%);
  background-repeat: auto;
  background-position: top left;
}
.nonik-ku-sayang-text21 {
  color: #171717;
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.nonik-ku-sayang-text22 {
  color: #171717;
  font-size: 12px;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-twounits);
}
.nonik-ku-sayang-text23 {
  color: #171717;
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.nonik-ku-sayang-image07 {
  width: 132px;
  height: 172px;
  align-self: center;
  object-fit: cover;
}
.nonik-ku-sayang-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.nonik-ku-sayang-text26 {
  color: #171717;
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.nonik-ku-sayang-text27 {
  color: #171717;
  font-size: 12px;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-twounits);
}
.nonik-ku-sayang-text28 {
  color: #171717;
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.nonik-ku-sayang-image08 {
  width: auto;
  height: 89px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.5);
  object-fit: cover;
  border-radius: 15px;
}
.nonik-ku-sayang-image09 {
  width: 208px;
  height: 112px;
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.5);
  object-fit: cover;
  border-radius: 15px;
}
.nonik-ku-sayang-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.nonik-ku-sayang-text37 {
  color: #171717;
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.nonik-ku-sayang-text38 {
  color: rgb(23, 23, 23);
  font-size: 12px;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-twounits);
}
.nonik-ku-sayang-text39 {
  color: #171717;
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.nonik-ku-sayang-image10 {
  width: 100%;
  height: 144px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.5);
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: var(--dl-space-space-unit);
}
.nonik-ku-sayang-image11 {
  width: 252px;
  height: 144px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.5);
  object-fit: cover;
  border-radius: 15px;
}
.nonik-ku-sayang-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.nonik-ku-sayang-text42 {
  color: #171717;
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.nonik-ku-sayang-text43 {
  color: rgb(23, 23, 23);
  font-size: 12px;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-twounits);
}
.nonik-ku-sayang-text44 {
  color: #171717;
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.nonik-ku-sayang-text50 {
  color: rgb(23, 23, 23);
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-threeunits);
}
.nonik-ku-sayang-container11 {
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.nonik-ku-sayang-text53 {
  color: rgb(23, 23, 23);
  font-size: 30px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.nonik-ku-sayang-text56 {
  color: rgb(23, 23, 23);
  font-size: 16px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.nonik-ku-sayang-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.nonik-ku-sayang-text59 {
  color: rgb(23, 23, 23);
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.nonik-ku-sayang-container13 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.nonik-ku-sayang-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: none;
  max-width: 479px;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
.nonik-ku-sayang-container15 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.nonik-ku-sayang-text67 {
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}
.nonik-ku-sayang-text68 {
  font-style: normal;
  font-weight: 500;
}
.nonik-ku-sayang-container16 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: 175px;
  display: flex;
  align-self: center;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.nonik-ku-sayang-image12 {
  flex: 1;
  width: var(--dl-size-size-medium);
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.nonik-ku-sayang-image13 {
  flex: 1;
  width: var(--dl-size-size-medium);
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.nonik-ku-sayang-image14 {
  flex: 1;
  width: var(--dl-size-size-medium);
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.nonik-ku-sayang-container17 {
  gap: var(--dl-space-space-unit);
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  height: var(--dl-size-size-maxwidth);
  margin: auto;
  display: flex;
  position: absolute;
  max-width: 479px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.nonik-ku-sayang-container18 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.nonik-ku-sayang-navlink {
  display: contents;
}
.nonik-ku-sayang-container19 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 0px;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 12px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(180deg, rgb(35, 175, 206) 0.00%,rgb(30, 195, 217) 100.00%);
}
.nonik-ku-sayang-container19:hover {
  background-image: linear-gradient(135deg, rgb(193, 75, 213) 0.00%,rgb(95, 1, 106) 100.00%);
}
.nonik-ku-sayang-container20 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.nonik-ku-sayang-icon {
  fill: #ffffff;
  width: 34px;
  height: 34px;
}
.nonik-ku-sayang-text71 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: "Exo 2";
}
.nonik-ku-sayang-container21 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 0px;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 12px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(35, 175, 206) 0.00%,rgb(30, 195, 217) 100.00%);
}
.nonik-ku-sayang-container21:hover {
  background-image: linear-gradient(135deg, rgb(193, 75, 213) 0.00%,rgb(95, 1, 106) 100.00%);
}
.nonik-ku-sayang-container22 {
  width: auto;
  height: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.nonik-ku-sayang-icon03 {
  fill: #ffffff;
  width: 34px;
  height: 34px;
}
.nonik-ku-sayang-text72 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: "Exo 2";
}
.nonik-ku-sayang-navlink1 {
  display: contents;
}
.nonik-ku-sayang-container23 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 0px;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 12px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(180deg, rgb(35, 175, 206) 0.00%,rgb(30, 195, 217) 100.00%);
}
.nonik-ku-sayang-container23:hover {
  background-image: linear-gradient(135deg, rgb(193, 75, 213) 0.00%,rgb(95, 1, 106) 100.00%);
}
.nonik-ku-sayang-icon09 {
  fill: #ffffff;
  width: 34px;
  height: 34px;
}
.nonik-ku-sayang-text75 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: "Exo 2";
}
.nonik-ku-sayang-container24 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 0px;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 12px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(35, 175, 206) 0.00%,rgb(30, 195, 217) 100.00%);
}
.nonik-ku-sayang-container24:hover {
  background-image: linear-gradient(135deg, rgb(193, 75, 213) 0.00%,rgb(95, 1, 106) 100.00%);
}
.nonik-ku-sayang-icon13 {
  fill: #ffffff;
  width: 34px;
  height: 34px;
}
.nonik-ku-sayang-text76 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: "Exo 2";
}
.nonik-ku-sayang-slider1 {
  width: 100%;
  height: auto;
  display: inline-block;
}
.nonik-ku-sayang-slider-slide7 {
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.nonik-ku-sayang-image15 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.nonik-ku-sayang-slider-slide8 {
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.nonik-ku-sayang-image16 {
  width: 100%;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.nonik-ku-sayang-slider-pagination1 {
  display: block;
}
.nonik-ku-sayang-slider-pagination-bullet1 {
  background-color: #ffff00;
}
.nonik-ku-sayang-slider-pagination-bullet2 {
  background-color: #ffff00;
}
.nonik-ku-sayang-slider-button-prev1 {
  display: none;
}
.nonik-ku-sayang-slider-button-next1 {
  display: none;
}
.nonik-ku-sayang-container25 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 172px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 479px) {
  .nonik-ku-sayang-container {
    padding: 0px;
    background-size: auto;
    background-position: left;
  }
  .nonik-ku-sayang-container01 {
    display: none;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .nonik-ku-sayang-container02 {
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .nonik-ku-sayang-text {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Over the Rainbow;
    background-color: rgb(189, 28, 196);
  }
  .nonik-ku-sayang-text01 {
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-family: Courier New;
    font-weight: 400;
  }
  .nonik-ku-sayang-link {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Over the Rainbow;
    background-color: rgb(189, 28, 196);
  }
  .nonik-ku-sayang-container03 {
    position: relative;
  }
  .nonik-ku-sayang-text02 {
    top: -11px;
    left: 23px;
  }
  .nonik-ku-sayang-text04 {
    color: rgb(0, 0, 0);
  }
  .nonik-ku-sayang-text05 {
    color: rgb(0, 0, 0);
  }
  .nonik-ku-sayang-text08 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Courier New;
    font-weight: 400;
  }
  .nonik-ku-sayang-text09 {
    color: rgb(0, 0, 0);
  }
  .nonik-ku-sayang-text10 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Courier New;
    font-weight: 400;
  }
  .nonik-ku-sayang-text11 {
    color: rgb(0, 0, 0);
  }
  .nonik-ku-sayang-text12 {
    color: rgb(0, 0, 0);
  }
  .nonik-ku-sayang-container04 {
    position: relative;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .nonik-ku-sayang-text13 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Over the Rainbow;
    background-color: rgb(189, 28, 196);
  }
  .nonik-ku-sayang-text14 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Courier New;
    font-weight: 400;
  }
  .nonik-ku-sayang-container05 {
    display: none;
  }
  .nonik-ku-sayang-text15 {
    font-size: 30px;
    font-family: Oooh Baby;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .nonik-ku-sayang-text20 {
    color: rgb(255, 255, 255);
  }
  .nonik-ku-sayang-text22 {
    color: #000000;
    font-size: 16px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .nonik-ku-sayang-text23 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nonik-ku-sayang-text25 {
    font-weight: 700;
  }
  .nonik-ku-sayang-image07 {
    align-self: center;
  }
  .nonik-ku-sayang-text27 {
    color: #000000;
    font-size: 16px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .nonik-ku-sayang-text28 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nonik-ku-sayang-text29 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .nonik-ku-sayang-text30 {
    color: #ffffff;
    font-size: 30px;
    font-family: Oooh Baby;
  }
  .nonik-ku-sayang-text31 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .nonik-ku-sayang-text32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .nonik-ku-sayang-image08 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .nonik-ku-sayang-image09 {
    width: 220px;
    height: 118px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nonik-ku-sayang-text38 {
    color: #000000;
    font-size: 16px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .nonik-ku-sayang-text39 {
    color: #000000;
    font-size: 25px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nonik-ku-sayang-image11 {
    align-self: center;
  }
  .nonik-ku-sayang-text43 {
    color: #000000;
    font-size: 16px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .nonik-ku-sayang-text44 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nonik-ku-sayang-text48 {
    font-weight: 700;
  }
  .nonik-ku-sayang-text50 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    align-self: center;
    font-family: Oooh Baby;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nonik-ku-sayang-container11 {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .nonik-ku-sayang-text53 {
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-family: Spectral;
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nonik-ku-sayang-text56 {
    color: #000000;
    font-size: 16px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .nonik-ku-sayang-container13 {
    width: 100%;
    height: 506px;
    border-color: rgba(255, 247, 0, 0);
    border-width: 0px;
    border-radius: 40px;
    background-color: #000000;
  }
  .nonik-ku-sayang-container14 {
    padding-top: 0px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 0px;
    background-size: cover;
    background-image: url('https://lcdn-hk.icons8.com/c/uKTraK8CA06tBlOy_NXWig/afe548fc9705063d98f0f02ccdf5f4bb7c2f8925.png');
  }
  .nonik-ku-sayang-container15 {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .nonik-ku-sayang-text67 {
    text-align: center;
  }
  .nonik-ku-sayang-text68 {
    text-align: center;
  }
  .nonik-ku-sayang-container17 {
    align-items: center;
  }
  .nonik-ku-sayang-container18 {
    align-items: center;
  }
}
