.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(252, 0, 255, 0.81) 0.00%,rgba(144, 0, 222, 0.74) 100.00%),url('https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Nonik/387269341_851688562953175_3657240227045545255_n.jpg?updatedAt=1698187201062');
  background-repeat: repeat,no-repeat;
  background-position: top left;
}
.page-text {
  color: #ffffff;
  font-size: 46px;
  font-family: "Birthstone";
}
.page-text02 {
  font-weight: 700;
}
.page-text03 {
  font-style: normal;
  font-weight: 400;
}
.page-text04 {
  font-style: normal;
  font-weight: 400;
}
.page-text05 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Inter";
}
.page-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 57.00%,rgb(229, 229, 229) 100.00%);
  background-repeat: auto;
  background-position: top left;
}
.page-text06 {
  color: #171717;
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.page-text07 {
  color: #171717;
  font-size: 12px;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-twounits);
}
.page-text08 {
  color: #171717;
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.page-image {
  width: 132px;
  height: 172px;
  align-self: center;
  object-fit: cover;
}
.page-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.page-text11 {
  color: #171717;
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.page-text12 {
  color: #171717;
  font-size: 12px;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-twounits);
}
.page-text13 {
  color: #171717;
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.page-image1 {
  width: auto;
  height: 89px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.5);
  object-fit: cover;
  border-radius: 15px;
}
.page-image2 {
  width: 208px;
  height: 112px;
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.5);
  object-fit: cover;
  border-radius: 15px;
}
.page-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.page-text22 {
  color: #171717;
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.page-text23 {
  color: rgb(23, 23, 23);
  font-size: 12px;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-twounits);
}
.page-text24 {
  color: #171717;
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.page-image3 {
  width: 100%;
  height: 144px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.5);
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: var(--dl-space-space-unit);
}
.page-image4 {
  width: 252px;
  height: 144px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.5);
  object-fit: cover;
  border-radius: 15px;
}
.page-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.page-text27 {
  color: #171717;
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.page-text28 {
  color: rgb(23, 23, 23);
  font-size: 12px;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-twounits);
}
.page-text29 {
  color: #171717;
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.page-text35 {
  color: rgb(23, 23, 23);
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-threeunits);
}
.page-container6 {
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page-text38 {
  color: rgb(23, 23, 23);
  font-size: 30px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.page-text41 {
  color: rgb(23, 23, 23);
  font-size: 16px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.page-container7 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.page-text44 {
  color: rgb(23, 23, 23);
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.page-container8 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-video {
  width: 205px;
  height: 365px;
  transform: rotate(-90deg);
  align-self: center;
  box-shadow: 5px 5px 15px 0px rgba(212, 212, 212, 0.73);
  border-radius: 15px;
}
@media(max-width: 479px) {
  .page-text {
    font-size: 30px;
    font-family: Oooh Baby;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .page-text05 {
    color: rgb(255, 255, 255);
  }
  .page-text07 {
    color: #000000;
    font-size: 16px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .page-text08 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text10 {
    font-weight: 700;
  }
  .page-image {
    align-self: center;
  }
  .page-text12 {
    color: #000000;
    font-size: 16px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .page-text13 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text14 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text15 {
    color: #ffffff;
    font-size: 30px;
    font-family: Oooh Baby;
  }
  .page-text16 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text17 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-image1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-image2 {
    width: 220px;
    height: 118px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text23 {
    color: #000000;
    font-size: 16px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .page-text24 {
    color: #000000;
    font-size: 25px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-image4 {
    align-self: center;
  }
  .page-text28 {
    color: #000000;
    font-size: 16px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .page-text29 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text33 {
    font-weight: 700;
  }
  .page-text35 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    align-self: center;
    font-family: Oooh Baby;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-container6 {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .page-text38 {
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-family: Spectral;
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text41 {
    color: #000000;
    font-size: 16px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-container8 {
    width: 100%;
    height: 506px;
    border-color: rgba(255, 247, 0, 0);
    border-width: 0px;
    border-radius: 40px;
    background-color: #000000;
  }
  .page-video {
    width: 0px;
    height: 0px;
  }
}
