.popmenu-container {
  gap: var(--dl-space-space-unit);
  width: auto;
  bottom: 0px;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 20px;
  border-radius: 20px;
  padding-right: 20px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #ffffff;
}
.popmenu-caption {
  font-size: 12px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.15;
  margin-right: 0px;
  text-transform: none;
  text-decoration: none;
}
.popmenu-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.popmenu-link {
  display: contents;
}
.popmenu-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.popmenu-link1 {
  display: contents;
}
.popmenu-icon2 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.popmenu-link2 {
  display: contents;
}
.popmenu-image {
  width: 20px;
  height: 20px;
  object-fit: cover;
  text-decoration: none;
}
.popmenu-root-class-name {
  margin-bottom: var(--dl-space-space-unit);
}
.popmenu-root-class-name1 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.popmenu-root-class-name2 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.popmenu-root-class-name3 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.popmenu-root-class-name4 {
  margin-bottom: var(--dl-space-space-halfunit);
}
@media(max-width: 479px) {
  .popmenu-container {
    width: auto;
    height: auto;
    align-items: center;
    flex-direction: row;
  }
  .popmenu-root-class-name1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .popmenu-root-class-name2 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .popmenu-root-class-name3 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .popmenu-root-class-name4 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
}

.chat-bima-container {
  gap: var(--dl-space-space-halfunit);
  right: 0px;
  width: auto;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  transition: 0.3s;
  align-items: center;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.chat-bima-container:hover {
  padding-top: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.chat-bima-link {
  display: contents;
}
.chat-bima-container1 {
  gap: var(--dl-space-space-halfunit);
  width: 67px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(31, 204, 45) 0.00%,rgb(10, 111, 23) 99.00%);
}
.chat-bima-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.chat-bima-text {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.chat-bima-root-class-name {
  margin-top: 240px;
}
.chat-bima-root-class-name1 {
  margin-top: 240px;
}
.chat-bima-root-class-name2 {
  margin-top: 240px;
}
.chat-bima-root-class-name3 {
  margin-top: 240px;
}
@media(max-width: 479px) {
  .chat-bima-container {
    width: auto;
  }
  .chat-bima-container1 {
    width: 51px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.61);
  }
  .chat-bima-text {
    font-size: 9px;
  }
}

.report-capture-bukti-analytic-fb-ads-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #154c9a;
}
.report-capture-bukti-analytic-fb-ads-container1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: 479px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #7c0375;
}
.report-capture-bukti-analytic-fb-ads-navlink {
  display: contents;
}
.report-capture-bukti-analytic-fb-ads-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.report-capture-bukti-analytic-fb-ads-icon {
  fill: #ffffff;
  width: 22px;
  height: 22px;
}
.report-capture-bukti-analytic-fb-ads-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
}
.report-capture-bukti-analytic-fb-ads-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 479px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.report-capture-bukti-analytic-fb-ads-image {
  width: 100%;
  object-fit: cover;
}
.report-capture-bukti-analytic-fb-ads-image1 {
  width: 100%;
  object-fit: cover;
}
.report-capture-bukti-analytic-fb-ads-image2 {
  width: 100%;
  object-fit: cover;
}
.report-capture-bukti-analytic-fb-ads-image3 {
  width: 100%;
  object-fit: cover;
}
.report-capture-bukti-analytic-fb-ads-image4 {
  width: 100%;
  object-fit: cover;
}
.report-capture-bukti-analytic-fb-ads-image5 {
  width: 100%;
  object-fit: cover;
}
.report-capture-bukti-analytic-fb-ads-image6 {
  width: 100%;
  object-fit: cover;
}
.report-capture-bukti-analytic-fb-ads-container4 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.report-capture-bukti-analytic-fb-ads-text1 {
  color: #ffffff;
  font-size: 12px;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.report-capture-bukti-analytic-fb-ads-link {
  display: contents;
}
.report-capture-bukti-analytic-fb-ads-icon3 {
  fill: #ffffff;
  width: 35px;
  height: 35px;
  padding: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.report-capture-bukti-analytic-fb-ads-form {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.report-capture-bukti-analytic-fb-ads-text2 {
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.report-capture-bukti-analytic-fb-ads-container5 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.report-capture-bukti-analytic-fb-ads-textinput {
  flex: 1;
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.report-capture-bukti-analytic-fb-ads-textinput1 {
  flex: 1;
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.report-capture-bukti-analytic-fb-ads-textarea {
  width: 100%;
  height: 86px;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.report-capture-bukti-analytic-fb-ads-button {
  width: 100%;
  cursor: pointer;
  height: auto;
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.15;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: none;
  text-decoration: none;
  background-color: #fbea00;
}
.report-capture-bukti-analytic-fb-ads-button:hover {
  background-color: #46cc06;
}
@media(max-width: 991px) {
  .report-capture-bukti-analytic-fb-ads-text1 {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
}
@media(max-width: 479px) {
  .report-capture-bukti-analytic-fb-ads-text1 {
    color: #ffffff;
    font-size: 12px;
    border-color: #ffffff;
  }
  .report-capture-bukti-analytic-fb-ads-icon3 {
    fill: #ffffff;
    border-color: #ffffff;
  }
  .report-capture-bukti-analytic-fb-ads-text2 {
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .report-capture-bukti-analytic-fb-ads-textinput {
    flex: 1;
  }
  .report-capture-bukti-analytic-fb-ads-textinput1 {
    flex: 1;
  }
}
