.salesonlineupdate-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.salesonlineupdate-container01 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 100;
  max-width: 479px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #7c0375;
}
.salesonlineupdate-navlink {
  display: contents;
}
.salesonlineupdate-container02 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}
.salesonlineupdate-icon {
  fill: #ffffff;
  width: 22px;
  height: 22px;
}
.salesonlineupdate-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
}
.salesonlineupdate-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  max-width: 479px;
  box-shadow: 5px 5px 15px 0px rgba(82, 82, 82, 0.28);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.salesonlineupdate-text1 {
  margin-left: var(--dl-space-space-unit);
}
.salesonlineupdate-select {
  flex: 1;
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.salesonlineupdate-text2 {
  margin-left: var(--dl-space-space-unit);
}
.salesonlineupdate-textinput {
  flex: 1;
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.salesonlineupdate-text3 {
  margin-left: var(--dl-space-space-unit);
}
.salesonlineupdate-textinput1 {
  flex: 1;
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.salesonlineupdate-text4 {
  margin-left: var(--dl-space-space-unit);
}
.salesonlineupdate-textinput2 {
  flex: 1;
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.salesonlineupdate-text5 {
  margin-left: var(--dl-space-space-unit);
}
.salesonlineupdate-textinput3 {
  flex: 1;
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
}
.salesonlineupdate-text6 {
  margin-left: var(--dl-space-space-unit);
}
.salesonlineupdate-container03 {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.salesonlineupdate-container04 {
  width: auto;
  height: 100%;
  padding: var(--dl-space-space-halfunit);
  align-self: center;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #158300;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.salesonlineupdate-icon3 {
  fill: #ffffff;
  width: 28px;
  height: 28px;
}
.salesonlineupdate-textinput4 {
  flex: 1;
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #f5f5f5;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.salesonlineupdate-container05 {
  display: flex;
  padding-left: var(--dl-space-space-unit);
  flex-direction: row;
}
.salesonlineupdate-text7 {
  font-size: 12px;
  margin-left: var(--dl-space-space-unit);
}
.salesonlineupdate-container06 {
  width: 100%;
  display: flex;
  transition: 0.3s;
  flex-direction: column;
}

.salesonlineupdate-button {
  width: 100%;
  cursor: pointer;
  height: auto;
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  transition: 0.3s;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: none;
  text-decoration: none;
  background-color: rgb(251, 234, 0);
}
.salesonlineupdate-button:hover {
  color: #ffffff;
  background-color: #46cc06;
}
.salesonlineupdate-container07 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.salesonlineupdate-button1 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  height: auto;
  display: none;
  padding: var(--dl-space-space-unit);
  font-size: 12px;
  align-self: flex-start;
  font-style: normal;
  transition: 0.3s;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.15;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-transform: none;
  text-decoration: none;
  background-color: rgb(0, 78, 251);
}
.salesonlineupdate-button1:hover {
  color: #ffffff;
  background-color: #46cc06;
}
.salesonlineupdate-container09 {
  display: contents;
}
@media(max-width: 479px) {
  .salesonlineupdate-container {
    background-color: transparent;
  }
  .salesonlineupdate-select {
    flex: 1;
  }
  .salesonlineupdate-textinput {
    flex: 1;
  }
  .salesonlineupdate-textinput1 {
    flex: 1;
  }
  .salesonlineupdate-textinput2 {
    flex: 1;
  }
  .salesonlineupdate-textinput3 {
    flex: 1;
  }
  .salesonlineupdate-container04 {
    flex: 0;
  }
  .salesonlineupdate-textinput4 {
    flex: 1;
  }
}
