.links-links {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  z-index: 15;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.links-column {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}
.links-link {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link01 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link01:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link02 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link02:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link03 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link03:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link04 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link04:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-column1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header1 {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}
.links-link05 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
}
.links-link05:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-column2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header2 {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}
.links-link06 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link06:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link07 {
  color: #000000;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.links-link07:hover {
  fill: #ffffff;
  color: #4c4c4c;
  text-decoration: underline;
}
.links-link08 {
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.links-column3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header3 {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
}
.links-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.links-link09 {
  display: contents;
}
.links-icon {
  fill: #000000;
  width: 24px;
  cursor: pointer;
  height: 24px;
  text-decoration: none;
}
.links-link10 {
  display: contents;
}
.links-icon2 {
  fill: #000000;
  width: 24px;
  cursor: pointer;
  height: 24px;
  text-decoration: none;
}
.links-link11 {
  display: contents;
}
.links-image {
  width: auto;
  height: 24px;
  object-fit: cover;
  text-decoration: none;
}




@media(max-width: 991px) {
  .links-links {
    justify-content: flex-end;
  }
}
@media(max-width: 767px) {
  .links-links {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  .links-header {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header1 {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header2 {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header3 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .links-links {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.footer-footer {
  gap: var(--dl-space-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #dedede;
}
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-information {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-heading {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-pasted-image {
  width: 94px;
  height: 74px;
}
.footer-text {
  color: #000000;
}
.footer-link {
  color: #000000;
  width: 100%;
  font-size: 14px;
  max-width: 1200px;
  line-height: 21px;
  text-decoration: none;
}




.footer-root-class-name5 {
  margin-top: 0px;
}
.footer-root-class-name6 {
  margin-top: var(--dl-space-space-twounits);
}


@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-space-space-twounits);
  }
  .footer-content {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-information {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .footer-pasted-image {
    width: 100px;
  }
  .footer-text {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .footer-content {
    align-self: flex-start;
    align-items: center;
  }
  .footer-root-class-name6 {
    margin-top: var(--dl-space-space-twounits);
  }
}

.untuk-nonik-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.untuk-nonik-container01 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 479px;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: flex-start;
}
.untuk-nonik-container02 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: 800px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Nonik/asd_MLxDwmJSF?updatedAt=1703515097117');
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.untuk-nonik-text {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 18px;
  align-self: center;
  margin-top: 240px;
  text-align: left;
  font-family: "Over the Rainbow";
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(189, 28, 196);
}
.untuk-nonik-text01 {
  color: #ffffff;
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-link {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-unit);
  font-size: 30px;
  align-self: center;
  text-align: left;
  transition: 0.3s;
  font-family: "Over the Rainbow";
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: rgb(189, 28, 196);
}
.untuk-nonik-link:hover {
  box-shadow: 0px 8px 0px 0px #75005c,0px 0px 50px 30px #ffc901;
}
.untuk-nonik-container03 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.untuk-nonik-text02 {
  top: -11px;
  left: 29px;
  color: #ffffff;
  width: auto;
  height: auto;
  z-index: 100;
  position: absolute;
  font-size: 12px;
  text-align: center;
  font-family: "Over the Rainbow";
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #000000;
}
.untuk-nonik-video {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px 0px #d4d4d4;
  border-color: #f1f1f1;
  border-style: dotted;
  border-width: 5px;
  border-radius: 15px;
}
.untuk-nonik-text03 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 18px;
  text-align: right;
  font-family: "Over the Rainbow";
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(189, 28, 196);
}
.untuk-nonik-text04 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-text05 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-text07 {
  font-family: "Courier New";
  text-decoration: underline;
}
.untuk-nonik-text08 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-text09 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-slider {
  width: 100%;
  height: 468px;
  display: inline-block;
  border-radius: 15px;
}
.untuk-nonik-slider-slide {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.untuk-nonik-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.untuk-nonik-slider-slide1 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.untuk-nonik-image01 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.untuk-nonik-slider-slide2 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.untuk-nonik-image02 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.untuk-nonik-slider-slide3 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.untuk-nonik-image03 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.untuk-nonik-slider-slide4 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.untuk-nonik-image04 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.untuk-nonik-slider-slide5 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.untuk-nonik-image05 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.untuk-nonik-slider-slide6 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.untuk-nonik-image06 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.untuk-nonik-slider-pagination {
  display: none;
}
.untuk-nonik-slider-button-prev {
  display: none;
}
.untuk-nonik-slider-button-next {
  display: none;
}
.untuk-nonik-text10 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-text11 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-text12 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-container04 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.untuk-nonik-text13 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 18px;
  text-align: right;
  font-family: "Over the Rainbow";
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(189, 28, 196);
}
.untuk-nonik-text14 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-container05 {
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.untuk-nonik-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(252, 0, 255, 0.81) 0.00%,rgba(144, 0, 222, 0.74) 100.00%),url('https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Nonik/387269341_851688562953175_3657240227045545255_n.jpg?updatedAt=1698187201062');
  background-repeat: repeat,no-repeat;
  background-position: top left;
}
.untuk-nonik-text15 {
  color: #ffffff;
  font-size: 46px;
  font-family: "Birthstone";
}
.untuk-nonik-text17 {
  font-weight: 700;
}
.untuk-nonik-text18 {
  font-style: normal;
  font-weight: 400;
}
.untuk-nonik-text19 {
  font-style: normal;
  font-weight: 400;
}
.untuk-nonik-text20 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Inter";
}
.untuk-nonik-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 57.00%,rgb(229, 229, 229) 100.00%);
  background-repeat: auto;
  background-position: top left;
}
.untuk-nonik-text21 {
  color: #171717;
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.untuk-nonik-text22 {
  color: #171717;
  font-size: 12px;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-twounits);
}
.untuk-nonik-text23 {
  color: #171717;
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.untuk-nonik-image07 {
  width: 132px;
  height: 172px;
  align-self: center;
  object-fit: cover;
}
.untuk-nonik-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.untuk-nonik-text26 {
  color: #171717;
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.untuk-nonik-text27 {
  color: #171717;
  font-size: 12px;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-twounits);
}
.untuk-nonik-text28 {
  color: #171717;
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.untuk-nonik-image08 {
  width: auto;
  height: 89px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.5);
  object-fit: cover;
  border-radius: 15px;
}
.untuk-nonik-image09 {
  width: 208px;
  height: 112px;
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.5);
  object-fit: cover;
  border-radius: 15px;
}
.untuk-nonik-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.untuk-nonik-text37 {
  color: #171717;
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.untuk-nonik-text38 {
  color: rgb(23, 23, 23);
  font-size: 12px;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-twounits);
}
.untuk-nonik-text39 {
  color: #171717;
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.untuk-nonik-image10 {
  width: 100%;
  height: 144px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.5);
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: var(--dl-space-space-unit);
}
.untuk-nonik-image11 {
  width: 252px;
  height: 144px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.5);
  object-fit: cover;
  border-radius: 15px;
}
.untuk-nonik-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.untuk-nonik-text42 {
  color: #171717;
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.untuk-nonik-text43 {
  color: rgb(23, 23, 23);
  font-size: 12px;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-twounits);
}
.untuk-nonik-text44 {
  color: #171717;
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.untuk-nonik-text50 {
  color: rgb(23, 23, 23);
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-threeunits);
}
.untuk-nonik-container11 {
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.untuk-nonik-text53 {
  color: rgb(23, 23, 23);
  font-size: 30px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-text56 {
  color: rgb(23, 23, 23);
  font-size: 16px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.untuk-nonik-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.untuk-nonik-text59 {
  color: rgb(23, 23, 23);
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.untuk-nonik-container13 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 479px) {
  .untuk-nonik-container {
    background-size: auto;
    background-position: left;
  }
  .untuk-nonik-container01 {
    display: none;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .untuk-nonik-container02 {
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .untuk-nonik-text {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Over the Rainbow;
    background-color: rgb(189, 28, 196);
  }
  .untuk-nonik-text01 {
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-family: Courier New;
    font-weight: 400;
  }
  .untuk-nonik-link {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Over the Rainbow;
    background-color: rgb(189, 28, 196);
  }
  .untuk-nonik-container03 {
    position: relative;
  }
  .untuk-nonik-text02 {
    top: -11px;
    left: 23px;
  }
  .untuk-nonik-text04 {
    color: rgb(0, 0, 0);
  }
  .untuk-nonik-text05 {
    color: rgb(0, 0, 0);
  }
  .untuk-nonik-text08 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Courier New;
    font-weight: 400;
  }
  .untuk-nonik-text09 {
    color: rgb(0, 0, 0);
  }
  .untuk-nonik-text10 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Courier New;
    font-weight: 400;
  }
  .untuk-nonik-text11 {
    color: rgb(0, 0, 0);
  }
  .untuk-nonik-text12 {
    color: rgb(0, 0, 0);
  }
  .untuk-nonik-container04 {
    position: relative;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .untuk-nonik-text13 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Over the Rainbow;
    background-color: rgb(189, 28, 196);
  }
  .untuk-nonik-text14 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Courier New;
    font-weight: 400;
  }
  .untuk-nonik-container05 {
    display: none;
  }
  .untuk-nonik-text15 {
    font-size: 30px;
    font-family: Oooh Baby;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .untuk-nonik-text20 {
    color: rgb(255, 255, 255);
  }
  .untuk-nonik-text22 {
    color: #000000;
    font-size: 16px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .untuk-nonik-text23 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-text25 {
    font-weight: 700;
  }
  .untuk-nonik-image07 {
    align-self: center;
  }
  .untuk-nonik-text27 {
    color: #000000;
    font-size: 16px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .untuk-nonik-text28 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-text29 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-text30 {
    color: #ffffff;
    font-size: 30px;
    font-family: Oooh Baby;
  }
  .untuk-nonik-text31 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-text32 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-image08 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-image09 {
    width: 220px;
    height: 118px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-text38 {
    color: #000000;
    font-size: 16px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .untuk-nonik-text39 {
    color: #000000;
    font-size: 25px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-image11 {
    align-self: center;
  }
  .untuk-nonik-text43 {
    color: #000000;
    font-size: 16px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .untuk-nonik-text44 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-text48 {
    font-weight: 700;
  }
  .untuk-nonik-text50 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    align-self: center;
    font-family: Oooh Baby;
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-container11 {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .untuk-nonik-text53 {
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-family: Spectral;
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-text56 {
    color: #000000;
    font-size: 16px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-container13 {
    width: 100%;
    height: 506px;
    border-color: rgba(255, 247, 0, 0);
    border-width: 0px;
    border-radius: 40px;
    background-color: #000000;
  }
}
