.untuk-nonik-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  justify-content: flex-start;
  background-image: url('https://assets-a1.kompasiana.com/items/album/2022/04/30/love-626c87fbbb44862bcb7d7ef4.png');
  background-position: right;
}
.untuk-nonik-container01 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 479px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.untuk-nonik-container02 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: 800px;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: 0px;
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Nonik/asd_MLxDwmJSF?updatedAt=1703515097117');
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.untuk-nonik-text {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 18px;
  align-self: center;
  margin-top: 240px;
  text-align: left;
  font-family: "Over the Rainbow";
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(189, 28, 196);
}
.untuk-nonik-text01 {
  color: #ffffff;
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-link {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  padding: var(--dl-space-space-unit);
  font-size: 30px;
  align-self: center;
  text-align: left;
  transition: 0.3s;
  font-family: "Over the Rainbow";
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: rgb(189, 28, 196);
}
.untuk-nonik-link:hover {
  box-shadow: 0px 8px 0px 0px #75005c,0px 0px 50px 30px #ffc901;
}
.untuk-nonik-video {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px 0px #d4d4d4;
  border-color: #f1f1f1;
  border-style: dotted;
  border-width: 5px;
  border-radius: 15px;
}
.untuk-nonik-text02 {
  top: 840px;
  left: 24px;
  color: #ffffff;
  width: auto;
  height: auto;
  position: absolute;
  font-size: 12px;
  text-align: center;
  font-family: "Over the Rainbow";
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #000000;
}
.untuk-nonik-container03 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.untuk-nonik-text03 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 18px;
  text-align: left;
  font-family: "Over the Rainbow";
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(189, 28, 196);
}
.untuk-nonik-text04 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-container04 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.untuk-nonik-text05 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 18px;
  text-align: right;
  font-family: "Over the Rainbow";
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(189, 28, 196);
}
.untuk-nonik-text06 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-text07 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-image {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px 0px #d4d4d4;
  border-color: #f1f1f1;
  border-style: dotted;
  border-width: 5px;
  border-radius: 15px;
}
.untuk-nonik-text08 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-text09 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-container05 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.untuk-nonik-container06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.untuk-nonik-text10 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  border-radius: var(--dl-radius-radius-radius8);
}
.untuk-nonik-text11 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  border-radius: var(--dl-radius-radius-radius8);
}
.untuk-nonik-container07 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.untuk-nonik-text12 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  border-radius: var(--dl-radius-radius-radius8);
}
.untuk-nonik-text13 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  border-radius: var(--dl-radius-radius-radius8);
}
.untuk-nonik-container08 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.untuk-nonik-text14 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  border-radius: var(--dl-radius-radius-radius8);
}
.untuk-nonik-text15 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  border-radius: var(--dl-radius-radius-radius8);
}
.untuk-nonik-container09 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.untuk-nonik-text16 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  border-radius: var(--dl-radius-radius-radius8);
}
.untuk-nonik-text17 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  border-radius: var(--dl-radius-radius-radius8);
}
.untuk-nonik-container10 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.untuk-nonik-text18 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  border-radius: var(--dl-radius-radius-radius8);
}
.untuk-nonik-text19 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  border-radius: var(--dl-radius-radius-radius8);
}
.untuk-nonik-container11 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.untuk-nonik-text20 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  border-radius: var(--dl-radius-radius-radius8);
}
.untuk-nonik-text21 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 5px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  border-radius: var(--dl-radius-radius-radius8);
}
.untuk-nonik-container12 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.untuk-nonik-text22 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 18px;
  text-align: right;
  font-family: "Over the Rainbow";
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(189, 28, 196);
}
.untuk-nonik-text23 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-text24 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-container13 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.untuk-nonik-text25 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 18px;
  text-align: right;
  font-family: "Over the Rainbow";
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(189, 28, 196);
}
.untuk-nonik-text26 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-image1 {
  width: 100%;
  filter: blur(3px);
  height: auto;
  box-shadow: 5px 5px 5px 0px #d4d4d4;
  border-color: #f1f1f1;
  border-style: dotted;
  border-width: 5px;
  border-radius: 15px;
}
.untuk-nonik-text27 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-container14 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.untuk-nonik-text28 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 18px;
  text-align: right;
  font-family: "Over the Rainbow";
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(189, 28, 196);
}
.untuk-nonik-text29 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-text30 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-text32 {
  font-family: "Courier New";
  text-decoration: underline;
}
.untuk-nonik-text33 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-text34 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-text35 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: right;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-text36 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-text37 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-container15 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.untuk-nonik-text38 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 18px;
  text-align: right;
  font-family: "Over the Rainbow";
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(189, 28, 196);
}
.untuk-nonik-text39 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  padding: 0px;
  font-size: 4px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-family: "Courier New";
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-container16 {
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.untuk-nonik-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(252, 0, 255, 0.81) 0.00%,rgba(144, 0, 222, 0.74) 100.00%),url('https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Nonik/387269341_851688562953175_3657240227045545255_n.jpg?updatedAt=1698187201062');
  background-repeat: repeat,no-repeat;
  background-position: top left;
}
.untuk-nonik-text40 {
  color: #ffffff;
  font-size: 46px;
  font-family: "Birthstone";
}
.untuk-nonik-text42 {
  font-weight: 700;
}
.untuk-nonik-text43 {
  font-style: normal;
  font-weight: 400;
}
.untuk-nonik-text44 {
  font-style: normal;
  font-weight: 400;
}
.untuk-nonik-text45 {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Inter";
}
.untuk-nonik-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 57.00%,rgb(229, 229, 229) 100.00%);
  background-repeat: auto;
  background-position: top left;
}
.untuk-nonik-text46 {
  color: #171717;
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.untuk-nonik-text47 {
  color: #171717;
  font-size: 12px;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-twounits);
}
.untuk-nonik-text48 {
  color: #171717;
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.untuk-nonik-image2 {
  width: 132px;
  height: 172px;
  align-self: center;
  object-fit: cover;
}
.untuk-nonik-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.untuk-nonik-text51 {
  color: #171717;
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.untuk-nonik-text52 {
  color: #171717;
  font-size: 12px;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-twounits);
}
.untuk-nonik-text53 {
  color: #171717;
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.untuk-nonik-image3 {
  width: auto;
  height: 89px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.5);
  object-fit: cover;
  border-radius: 15px;
}
.untuk-nonik-image4 {
  width: 208px;
  height: 112px;
  align-self: flex-end;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.5);
  object-fit: cover;
  border-radius: 15px;
}
.untuk-nonik-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.untuk-nonik-text62 {
  color: #171717;
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.untuk-nonik-text63 {
  color: rgb(23, 23, 23);
  font-size: 12px;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-twounits);
}
.untuk-nonik-text64 {
  color: #171717;
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.untuk-nonik-image5 {
  width: 100%;
  height: 144px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.5);
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: var(--dl-space-space-unit);
}
.untuk-nonik-image6 {
  width: 252px;
  height: 144px;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px rgba(212, 212, 212, 0.5);
  object-fit: cover;
  border-radius: 15px;
}
.untuk-nonik-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.untuk-nonik-text67 {
  color: #171717;
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.untuk-nonik-text68 {
  color: rgb(23, 23, 23);
  font-size: 12px;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-twounits);
}
.untuk-nonik-text69 {
  color: #171717;
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.untuk-nonik-text75 {
  color: rgb(23, 23, 23);
  font-size: 20px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-threeunits);
}
.untuk-nonik-container22 {
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.untuk-nonik-text78 {
  color: rgb(23, 23, 23);
  font-size: 30px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.untuk-nonik-text81 {
  color: rgb(23, 23, 23);
  font-size: 16px;
  font-family: "Spectral";
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
}
.untuk-nonik-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: 800px;
  display: flex;
  max-width: 479px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  background-size: auto,cover;
  justify-content: center;
  background-image: linear-gradient(0deg, rgb(255, 255, 255) 0.00%,rgb(255, 255, 255) 100.00%);
  background-repeat: repeat;
  background-position: top left;
}
.untuk-nonik-text84 {
  color: rgb(23, 23, 23);
  font-size: 30px;
  font-style: normal;
  font-family: "Spectral";
  font-weight: bold;
  line-height: 1.15;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.untuk-nonik-container24 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 479px) {
  .untuk-nonik-container {
    background-size: auto;
    background-position: left;
  }
  .untuk-nonik-container01 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .untuk-nonik-container02 {
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .untuk-nonik-text {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Over the Rainbow;
    background-color: rgb(189, 28, 196);
  }
  .untuk-nonik-text01 {
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-family: Courier New;
    font-weight: 400;
  }
  .untuk-nonik-link {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Over the Rainbow;
    background-color: rgb(189, 28, 196);
  }
  .untuk-nonik-container13 {
    position: relative;
  }
  .untuk-nonik-text26 {
    color: rgb(0, 0, 0);
  }
  .untuk-nonik-text27 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Courier New;
    font-weight: 400;
  }
  .untuk-nonik-container14 {
    position: relative;
  }
  .untuk-nonik-text29 {
    color: rgb(0, 0, 0);
  }
  .untuk-nonik-text30 {
    color: rgb(0, 0, 0);
  }
  .untuk-nonik-text33 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Courier New;
    font-weight: 400;
  }
  .untuk-nonik-text34 {
    color: rgb(0, 0, 0);
  }
  .untuk-nonik-text35 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-style: normal;
    font-family: Courier New;
    font-weight: 400;
  }
  .untuk-nonik-text36 {
    color: rgb(0, 0, 0);
  }
  .untuk-nonik-text37 {
    color: rgb(0, 0, 0);
  }
  .untuk-nonik-container15 {
    position: relative;
  }
  .untuk-nonik-text38 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Over the Rainbow;
    background-color: rgb(189, 28, 196);
  }
  .untuk-nonik-text39 {
    color: rgb(0, 0, 0);
    padding: 0px;
    font-size: 5px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .untuk-nonik-container16 {
    display: none;
  }
  .untuk-nonik-text40 {
    font-size: 30px;
    font-family: Oooh Baby;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .untuk-nonik-text45 {
    color: rgb(255, 255, 255);
  }
  .untuk-nonik-text47 {
    color: #000000;
    font-size: 16px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .untuk-nonik-text48 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-text50 {
    font-weight: 700;
  }
  .untuk-nonik-image2 {
    align-self: center;
  }
  .untuk-nonik-text52 {
    color: #000000;
    font-size: 16px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .untuk-nonik-text53 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-text54 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-text55 {
    color: #ffffff;
    font-size: 30px;
    font-family: Oooh Baby;
  }
  .untuk-nonik-text56 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-text57 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-image3 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-image4 {
    width: 220px;
    height: 118px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-text63 {
    color: #000000;
    font-size: 16px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .untuk-nonik-text64 {
    color: #000000;
    font-size: 25px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-image6 {
    align-self: center;
  }
  .untuk-nonik-text68 {
    color: #000000;
    font-size: 16px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .untuk-nonik-text69 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-text73 {
    font-weight: 700;
  }
  .untuk-nonik-text75 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    align-self: center;
    font-family: Oooh Baby;
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-container22 {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .untuk-nonik-text78 {
    color: #000000;
    font-size: 25px;
    font-style: normal;
    font-family: Spectral;
    font-weight: 600;
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-text81 {
    color: #000000;
    font-size: 16px;
    font-family: Spectral;
    margin-bottom: var(--dl-space-space-unit);
  }
  .untuk-nonik-container24 {
    width: 100%;
    height: 506px;
    border-color: rgba(255, 247, 0, 0);
    border-width: 0px;
    border-radius: 40px;
    background-color: #000000;
  }
}
