<div
  ><link href="./ads.css" rel="stylesheet" /><div class="ads-container"
    ><span class="ads-text">Ads</span
    ><div class="ads-container1"
      ><span class="ads-text1">Ads</span
      ><span class="ads-text2"><span>SPACE IKLAN</span></span
      ><span class="ads-text3"><span>BELI PRODUK</span></span></div
    ><div class="ads-container2"
      ><span class="ads-text4">Ads</span
      ><span class="ads-text5"><span>SPACE IKLAN</span></span
      ><span class="ads-text6"><span>BELI PRODUK</span></span></div
    ></div
  ></div
>
