<div>
  <link href="./ads.css" rel="stylesheet" />
  <div class="ads-container">
    <div class="ads-container1">
      <span class="ads-text">Ads</span>
      <span class="ads-text1"><span>SPACE IKLAN</span></span>
      <span class="ads-text2"><span>BELI PRODUK</span></span>
    </div>
    <div class="ads-container2">
      <span class="ads-text3">Ads</span>
      <span class="ads-text4"><span>SPACE IKLAN</span></span>
      <span class="ads-text5"><span>BELI PRODUK</span></span>
    </div>
  </div>
</div>
