<div>
  <link href="./ads.css" rel="stylesheet" />
  <div class="ads-container">
    <a
      href="https://wa.me/6283845781063?text=Hallo%20Kak,%20saya%20tertarik%20dengan%20produk%20di%20Toko%20kakak.%20Mohon%20informasinya%20http://berikhtiar.com/bima.ardianto.pramana/product/tweelyforbag-novera-slingbag-tweelyforbag-tas-selempang-wanita-tas-wanita"
      target="_blank"
      rel="noreferrer noopener"
      class="ads-link"
    >
      <div class="ads-container1">
        <span class="ads-text">Ads</span>
        <span class="ads-text1"><span>SPACE IKLAN</span></span>
      </div>
    </a>
    <a
      href="https://berikhtiar.com/bima.ardianto.pramana/product/yasmeera-official-sarimbit-2024-sevilla-blue-ice"
      target="_blank"
      rel="noreferrer noopener"
      class="ads-link1"
    >
      <div class="ads-container2">
        <span class="ads-text2">Ads</span>
        <span class="ads-text3"><span>SPACE IKLAN</span></span>
      </div>
    </a>
  </div>
</div>
