<div>
  <link href="./ads1.css" rel="stylesheet" />
  <div class="ads1-container">
    <a
      href="https://wa.me/6283845781063?text=Hallo%20Kak,%20saya%20tertarik%20dengan%20produk%20di%20Toko%20kakak.%20Mohon%20informasinya%20http://berikhtiar.com/bima.ardianto.pramana/product/fashopid-gabia-tas-selempang-wanita-daisy-glitter-bag"
      target="_blank"
      rel="noreferrer noopener"
      class="ads1-link"
    >
      <div class="ads1-container1">
        <span class="ads1-text">Ads</span>
        <span class="ads1-text1"><span>SPACE IKLAN</span></span>
      </div>
    </a>
    <a
      href="https://wa.me/6283845781063?text=Hallo%20Kak,%20saya%20tertarik%20dengan%20produk%20di%20Toko%20kakak.%20Mohon%20informasinya%20http://berikhtiar.com/bima.ardianto.pramana/product/tweelyforbag-meita-totebag-tweelyforbag-tas-totebag-wanita-tas-wanita"
      target="_blank"
      rel="noreferrer noopener"
      class="ads1-link1"
    >
      <div class="ads1-container2">
        <span class="ads1-text2">Ads</span>
        <span class="ads1-text3"><span>SPACE IKLAN</span></span>
      </div>
    </a>
    <a
      href="http://berikhtiar.com/bima.ardianto.pramana/product/meqa-daily-5bpo-5d-gamis-kaima-rinjani-kancing-rempel-busui-friendly"
      target="_blank"
      rel="noreferrer noopener"
      class="ads1-link2"
    >
      <div class="ads1-container3">
        <span class="ads1-text4">Ads</span>
        <span class="ads1-text5"><span>SPACE IKLAN</span></span>
      </div>
    </a>
  </div>
</div>
