<div>
  <link href="./block.css" rel="stylesheet" />
  <div class="block-container">
    <div class="block-container1">
      <div class="block-container2">
        <span class="block-text"><span>SEDANG PPEMELIHARAAN</span></span>
        <div class="block-container3">
          <div class="block-container4">
            <script src="https://cdn.logwork.com/widget/countdown.js"></script>
            <a
              href="https://logwork.com/countdown-timer"
              class="countdown-timer"
              data-style="columns"
              data-date="2024-04-01 00:00"
            >
              -
            </a>
          </div>
        </div>
        <div id="atention" class="block-container5">
          <span class="block-text1">*Tidak ada catatan</span>
        </div>
        <a
          href="https://bit.ly/Bima23"
          target="_blank"
          rel="noreferrer noopener"
          class="block-link"
        >
          <span>HUBUNGI ADMIN</span>
        </a>
      </div>
    </div>
  </div>
</div>
