<div
  ><link href="./btn-banner.css" rel="stylesheet" /><div
    id="overlay"
    class="btn-banner-container overlay"
    ><div id="bannerlogin1_1" class="btn-banner-container1 bannerlogin1"
      ><button
        type="button"
        onclick="closeBannerlogin1(1)"
        aria-label="Close"
        class="btn-banner-close-button close-btn"
        ><svg viewBox="0 0 804.5714285714286 1024" class="btn-banner-icon">
          <path
            d="M741.714 755.429c0 14.286-5.714 28.571-16 38.857l-77.714 77.714c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-168-168-168 168c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-77.714-77.714c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l168-168-168-168c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l77.714-77.714c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l168 168 168-168c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l77.714 77.714c10.286 10.286 16 24.571 16 38.857s-5.714 28.571-16 38.857l-168 168 168 168c10.286 10.286 16 24.571 16 38.857z"
          ></path></svg></button
      ><div class="btn-banner-container2 removescsroll"
        ><div class="btn-banner-header"
          ><div class="btn-banner-container3"
            ><div class="btn-banner-container4"
              ><iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSfIZ5dxcoopkdbcRYtomx8loztN9Y03eEi7_psQjzKBk73W1A/viewform"
                allowfullscreen
                width="100%"
                height="100%"
              ></iframe></div></div
          ><div class="btn-banner-container5"
            ><svg viewBox="0 0 1024 1024" class="btn-banner-icon2">
              <path
                d="M426 726l342-342-60-60-282 280-110-110-60 60zM512 42l384 172v256q0 178-110 325t-274 187q-164-40-274-187t-110-325v-256z"
              ></path></svg
            ><span class="btn-banner-text"
              >Setelah melakukan update sales online, di mohon untuk
              mengkonfirmasi kepada admin. klik konfirmasi</span
            ></div
          ><a
            href="https://api.whatsapp.com/send?phone=6283845781063&amp;text=*Salam%20satu%20hati*%0A%0ASaya%20ingin%20mengonfirmasikan%20terkait%20*update%20sales%20online*%0A%0Amohon%20di%20bantu%20cek%20daftar%20sales%20online%20terupdate%0Ahttps%3A%2F%2Fforms.gle%2F7PAkGNjiywHoFpYj9"
            id="whatsappButton"
            target="_blank"
            rel="noreferrer noopener"
            class="btn-banner-link whatsapp-button"
            >Konfirmasi</a
          ></div
        ></div
      ></div
    ></div
  ></div
>
