<div
  ><link href="./btn-banner.css" rel="stylesheet" /><div
    id="overlay"
    class="btn-banner-container overlay"
    ><div id="bannerlogin1_1" class="btn-banner-container1 bannerlogin1"
      ><button
        type="button"
        onclick="closeBannerlogin1(1)"
        aria-label="Close"
        class="btn-banner-close-button close-btn"
        ><svg viewBox="0 0 804.5714285714286 1024" class="btn-banner-icon">
          <path
            d="M741.714 755.429c0 14.286-5.714 28.571-16 38.857l-77.714 77.714c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-168-168-168 168c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-77.714-77.714c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l168-168-168-168c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l77.714-77.714c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l168 168 168-168c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l77.714 77.714c10.286 10.286 16 24.571 16 38.857s-5.714 28.571-16 38.857l-168 168 168 168c10.286 10.286 16 24.571 16 38.857z"
          ></path></svg></button
      ><div class="btn-banner-header"
        ><video
          src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Tutor%20video/Register.mp4?updatedAt=1716346137880"
          loop="true"
          preload="none"
          controls="true"
          class="btn-banner-video"
        ></video
        ><div class="btn-banner-container2"
          ><span class="btn-banner-text"
            ><span>Cara registrasi</span></span
          ></div
        ></div
      ></div
    ><button
      type="button"
      onclick="showBannerlogin1(1)"
      class="btn-banner-button"
      ><span>Cara Registrasi</span></button
    ><div
      ><div class="btn-banner-container4"
        ><script>
          function showBannerlogin1(bannerNumber) {
              document.getElementById('overlay').style.display = 'block';
              document.getElementById('bannerlogin1_' + bannerNumber).style.display = 'block';
          }

          function closeBannerlogin1(bannerNumber) {
              document.getElementById('overlay').style.display = 'none';
              document.getElementById('bannerlogin1_' + bannerNumber).style.display = 'none';
          }
        </script></div
      ></div
    ></div
  ></div
>
