.copy-container {
  width: 479px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.copy-container1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  max-width: 479px;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.copy-text {
  align-self: flex-start;
}
.copy-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.copy-text1 {
  flex: 1;
  padding: var(--dl-space-space-halfunit);
  font-size: 20px;
  text-align: center;
  font-family: "Inter";
  padding-top: var(--dl-space-space-unit);
  border-color: #eae515;
  border-style: solid;
  border-width: 3px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 15px;
  padding-right: var(--dl-space-space-unit);
  letter-spacing: 10px;
  padding-bottom: var(--dl-space-space-unit);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.copy-button {
  width: auto;
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-color: #eae515;
  border-style: solid;
  border-width: 3px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 15px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: #eae515;
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 15px;
}
