<div
  ><link href="./cursor-note.css" rel="stylesheet" /><div
    id="note"
    class="cursor-note-container"
    ><div class="cursor-note-container1"
      ><span class="cursor-note-text"
        ><span>Ini catatan yang bisa di rubah</span></span
      ><svg viewBox="0 0 1024 1024" class="cursor-note-icon">
        <path
          d="M768 342v-86h-512v86h512zM598 598v-86h-342v86h342zM256 384v86h512v-86h-512zM854 86q34 0 59 25t25 59v512q0 34-25 60t-59 26h-598l-170 170v-768q0-34 25-59t59-25h684z"
        ></path></svg></div></div
></div>
