<div>
  <link href="./feature.css" rel="stylesheet" />
  <div data-aos="zoom-in-down" class="feature-feature">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
      class="feature-image"
    />
    <div class="feature-content">
      <span class="feature-title"><span>Account</span></span>
      <span class="feature-description">
        <span>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa
        </span>
      </span>
      <div class="feature-container">
        <img
          alt="1"
          src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
          class="feature-image1"
        />
        <img
          alt="2"
          src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
          class="feature-image2"
        />
        <img
          alt="3"
          src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
          class="feature-image3"
        />
        <img
          alt="4"
          src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
          class="feature-image4"
        />
        <img
          alt="5"
          src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
          loading="lazy"
          class="feature-image5"
        />
      </div>
    </div>
  </div>
</div>
