<div>
  <link href="./footer-materisocmed.css" rel="stylesheet" />
  <footer class="footer-materisocmed-footer">
    <div class="footer-materisocmed-divider"></div>
    <div class="footer-materisocmed-container">
      <div class="footer-materisocmed-container1">
        <div class="footer-materisocmed-logo">
          <a href="index.html" class="footer-materisocmed-navlink">
            <img
              alt="logo bima selalubenar"
              src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/Hosting/Logo2.png"
              class="footer-materisocmed-image"
            />
          </a>
          <span class="footer-materisocmed-text Diskripsi3">
            Full Stack Developer
          </span>
        </div>
        <div class="footer-materisocmed-menu">
          <div class="footer-materisocmed-container2">
            <span class="footer-materisocmed-text1">Halaman</span>
            <a href="index.html" class="footer-materisocmed-navlink1">Home</a>
            <a href="profile.html" class="footer-materisocmed-navlink2">
              Profile
            </a>
          </div>
          <div class="footer-materisocmed-container3">
            <span class="footer-materisocmed-text2">Proyek</span>
            <a
              href="materisocmed.html"
              class="footer-materisocmed-navlink3 Diskripsi3"
            >
              Materi Socmed HO
            </a>
            <a
              href="https://edusupe.com/"
              class="footer-materisocmed-link Diskripsi3"
            >
              Edusupe
            </a>
            <a
              href="https://livingleafstudio.com/"
              class="footer-materisocmed-link1 Diskripsi3"
            >
              Living Leaf Studio
            </a>
            <a
              href="https://infinitex.my.id"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-materisocmed-link2"
            >
              Infinitex
            </a>
          </div>
          <div class="footer-materisocmed-container4">
            <span class="footer-materisocmed-text3">Konten</span>
            <a href="**" class="footer-materisocmed-navlink4 Diskripsi3">
              Artikel
            </a>
            <a href="**" class="footer-materisocmed-navlink5 Diskripsi3">
              Tips &amp; Trick
            </a>
            <a href="**" class="footer-materisocmed-navlink6 Diskripsi3">
              Store
            </a>
          </div>
          <div class="footer-materisocmed-container5">
            <span class="footer-materisocmed-text4">Hukum</span>
            <a
              href="syarat-dan-ketentuan.html"
              class="footer-materisocmed-navlink7 Diskripsi3"
            >
              Syarat dan ketentuan
            </a>
            <a
              href="kebijakan-privasi.html"
              class="footer-materisocmed-navlink8"
            >
              Kebijakan Privasi
            </a>
          </div>
        </div>
      </div>
      <div class="footer-materisocmed-gift">
        <div class="footer-materisocmed-container6">
          <span class="footer-materisocmed-text5">For Support</span>
        </div>
        <a
          href="https://trakteer.id/bimaselalubenar/tip?open=true"
          class="footer-materisocmed-link3"
        >
          <div class="footer-materisocmed-container7">
            <img
              alt="image"
              src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/Giftbox.png"
              class="footer-materisocmed-image1"
            />
            <span class="footer-materisocmed-text6">Send gifts to Bima</span>
          </div>
        </a>
      </div>
      <div class="footer-materisocmed-copyright">
        <div class="footer-materisocmed-container8">
          <span class="footer-materisocmed-text7">
            Infinitex - Edusupe - Living Leaf
          </span>
          <span class="footer-materisocmed-text8 Diskripsi3">
            Copyright © 2023 bimaselalubenar
          </span>
        </div>
      </div>
    </div>
  </footer>
</div>
