<div
  ><link href="./footer.css" rel="stylesheet" /><div class="footer-footer"
    ><div class="linknavbima-links-container linknavbima-root-class-name6"
      ><div class="linknavbima-container"
        ><div class="linknavbima-heading"
          ><a href="profile.html" class="linknavbima-navlink"
            ><img
              alt="Bima"
              src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/bimaselalubenar.gif?updatedAt=1712742178111"
              class="linknavbima-pasted-image" /></a
          ><span class="linknavbima-text">Full Stack Developer</span
          ><span class="linknavbima-text01 H4-16px"
            ><span>3D Game Art</span></span
          ></div
        ><div class="linknavbima-container01"
          ><div class="linknavbima-container02"
            ><div class="linknavbima-container03"
              ><div class="linknavbima-container04"
                ><div class="linknavbima-product-container"
                  ><span class="linknavbima-text02">Service</span
                  ><a href="web-service.html" class="linknavbima-navlink01"
                    >Web Service</a
                  ><a
                    href="https://edusupe.com"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="linknavbima-link"
                    >Edusupe</a
                  ><a
                    href="https://livingleafstudio.com"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="linknavbima-link1"
                    >Living Leaf Studio</a
                  ><a href="materisocmed.html" class="linknavbima-navlink02"
                    >Materi Socmed</a
                  ><a href="eror.html" class="linknavbima-navlink03"
                    >Facebook Ads</a
                  ></div
                ><div class="linknavbima-company-container"
                  ><span class="linknavbima-text03">Tips &amp; Trick</span
                  ><a
                    href="https://codesandbox.io/invite/wnxy3gkj28z2335r"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="linknavbima-link2"
                    >Source code</a
                  ><a href="eror.html" class="linknavbima-navlink04">News</a
                  ><a
                    href="foundamental-code.html"
                    class="linknavbima-navlink05"
                    >Foundamental Code</a
                  ><a
                    href="https://github.com/Bimaselalubenar"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="linknavbima-link3"
                    >Repository Github</a
                  ></div
                ></div
              ><div class="linknavbima-container05"
                ><div class="linknavbima-product-container1"
                  ><span class="linknavbima-text04">Menu</span
                  ><a href="profile.html" class="linknavbima-navlink06"
                    >Profile</a
                  ><a href="eror.html" class="linknavbima-navlink07">About</a
                  ><a href="eror.html" class="linknavbima-navlink08">Skill</a
                  ><a href="eror.html" class="linknavbima-navlink09">Contact</a
                  ><a href="rekening.html" class="linknavbima-navlink10"
                    >Rekening</a
                  ></div
                ><div class="linknavbima-contact"
                  ><span class="linknavbima-text05">Contact</span
                  ><span class="linknavbima-text06"
                    >Bimaselalubenar.id@gmail.com</span
                  ></div
                ></div
              ></div
            ></div
          ><div class="linknavbima-container06"
            ><div class="linknavbima-contact1"
              ><span class="linknavbima-text07">Produk</span
              ><span class="linknavbima-text08">Not Found</span
              ><div class="linknavbima-container07 removescsroll"
                ><div class="linknavbima-container08"
                  ><div class="linknavbima-container09"
                    ><img
                      alt="image"
                      src="https://down-id.img.susercontent.com/file/id-11134207-7r98s-lsmg6sx83mx9a9"
                      class="linknavbima-image"
                    /><div class="linknavbima-container10"
                      ><img
                        alt="Mall"
                        src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg"
                        class="linknavbima-image1"
                      /><span class="linknavbima-text09"
                        >Advan Tab Sketsa 3 Layar 10.1” HD IPS 128GB+RAM
                        6GB...</span
                      ></div
                    ></div
                  ><div class="linknavbima-container11"
                    ><span class="linknavbima-text10">Rp2.599.000</span
                    ><span class="linknavbima-text11">Rp2.599.000</span></div
                  ><a
                    href="https://shope.ee/9KMKZPvneq?share_channel_code=1"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="linknavbima-link4 button"
                    >Beli Sekarang
                  </a></div
                ><div class="linknavbima-container12"
                  ><div class="linknavbima-container13"
                    ><img
                      alt="image"
                      src="https://down-id.img.susercontent.com/file/id-11134207-7qul1-ljkzqrpucjx4d6"
                      class="linknavbima-image2"
                    /><div class="linknavbima-container14"
                      ><img
                        alt="Mall"
                        src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg"
                        class="linknavbima-image3"
                      /><span class="linknavbima-text12"
                        >CINSEER Earphone True Wireless Headset
                        Bluetooth...</span
                      ></div
                    ></div
                  ><div class="linknavbima-container15"
                    ><span class="linknavbima-text13">Rp119.000</span
                    ><span class="linknavbima-text14">Rp339.000</span></div
                  ><a
                    href="https://shope.ee/605scbFMq2?share_channel_code=1"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="linknavbima-link5 button"
                    >Beli Sekarang
                  </a></div
                ><div class="linknavbima-container16"
                  ><div class="linknavbima-container17"
                    ><video
                      src="https://cvf.shopee.co.id/file/c4fd023afb19cab5d06663aae5a3e3a1"
                      poster="https://play.teleporthq.io/static/svg/videoposter.svg"
                      controls="true"
                      class="linknavbima-video"
                    ></video
                    ><div class="linknavbima-container18"
                      ><img
                        alt="Mall"
                        src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg"
                        class="linknavbima-image4"
                      /><span class="linknavbima-text15"
                        >Speaker J006 Bluetooth Charge mini 2+ J006
                        Wireles...</span
                      ></div
                    ></div
                  ><div class="linknavbima-container19"
                    ><span class="linknavbima-text16">Rp54.880</span
                    ><span class="linknavbima-text17">Rp105.000</span></div
                  ><a
                    href="https://shope.ee/3VOXfE3G7s?share_channel_code=1"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="linknavbima-link6 button"
                    >Beli Sekarang
                  </a></div
                ><div class="linknavbima-container20"
                  ><div class="linknavbima-container21"
                    ><img
                      alt="image"
                      src="https://down-id.img.susercontent.com/file/id-11134207-7r98y-lso14ksklees76"
                      class="linknavbima-image5"
                    /><div class="linknavbima-container22"
                      ><img
                        alt="Mall"
                        src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/40a453875daccf8cc324.svg"
                        class="linknavbima-image6"
                      /><span class="linknavbima-text18"
                        >Laptop LENOVO CORE i5 / i7 RAM 8GB SSD 256GB
                        Mulus...</span
                      ></div
                    ></div
                  ><div class="linknavbima-container23"
                    ><span class="linknavbima-text19"
                      >Rp1.800.000 - Rp4.500.000</span
                    ><span class="linknavbima-text20">-</span></div
                  ><a
                    href="https://shope.ee/3q1O4BFEN7?share_channel_code=1"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="linknavbima-link7 button"
                    >Beli Sekarang
                  </a></div
                ></div
              ></div
            ></div
          ></div
        ></div
      ></div
    ></div
  ></div
>
