<div>
  <link href="./footer-home.css" rel="stylesheet" />
  <footer class="footer-home-footer">
    <div class="footer-home-divider"></div>
    <div class="footer-home-container">
      <div class="footer-home-container1">
        <div class="footer-home-logo">
          <a href="index.html" class="footer-home-navlink">
            <img
              alt="logo bima selalubenar"
              src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/Hosting/Logo2.png"
              class="footer-home-image"
            />
          </a>
          <span class="footer-home-text Diskripsi3">Full Stack Developer</span>
        </div>
        <div class="footer-home-menu">
          <div class="footer-home-container2">
            <span class="footer-home-text01">Halaman</span>
            <a href="profile.html" class="footer-home-navlink1 Diskripsi3">
              Profil
            </a>
            <a href="#tentang" class="footer-home-link Diskripsi3">Tentang</a>
            <a href="#portofolio" class="footer-home-text02 Diskripsi3">
              Portofolio
            </a>
            <a href="#contact" class="footer-home-text03">
              <span class="Large">Contact</span>
              <br />
            </a>
          </div>
          <div class="footer-home-container3">
            <span class="footer-home-text06">Proyek</span>
            <a href="materisocmed.html" class="footer-home-navlink2 Diskripsi3">
              Materi Socmed HO
            </a>
            <a href="https://edusupe.com/" class="footer-home-link1 Diskripsi3">
              Edusupe
            </a>
            <a
              href="https://livingleafstudio.com/"
              class="footer-home-link2 Diskripsi3"
            >
              Living Leaf Studio
            </a>
            <a
              href="https://infinitex.my.id"
              target="_blank"
              rel="noreferrer noopener"
              class="footer-home-link3 Diskripsi3"
            >
              Infinitex
            </a>
          </div>
          <div class="footer-home-container4">
            <span class="footer-home-text07">Konten</span>
            <a href="**" class="footer-home-navlink3 Diskripsi3">Artikel</a>
            <a href="**" class="footer-home-navlink4 Diskripsi3">
              Tips &amp; Trick
            </a>
            <a href="**" class="footer-home-navlink5 Diskripsi3">Store</a>
          </div>
          <div class="footer-home-container5">
            <span class="footer-home-text08">Hukum</span>
            <a
              href="syarat-dan-ketentuan.html"
              class="footer-home-navlink6 Diskripsi3"
            >
              Syarat dan ketentuan
            </a>
            <a href="kebijakan-privasi.html" class="footer-home-navlink7">
              Kebijakan Privasi
            </a>
          </div>
        </div>
      </div>
      <div class="footer-home-gift">
        <div class="footer-home-container6">
          <span class="footer-home-text09">For Support</span>
        </div>
        <a
          href="https://trakteer.id/bimaselalubenar/tip?open=true"
          class="footer-home-link4"
        >
          <div class="footer-home-container7">
            <img
              alt="image"
              src="https://2cdc80ace5.imgdist.com/public/users/Integrators/BeeProAgency/1011568_996439/editor_images/Giftbox.png"
              class="footer-home-image1"
            />
            <span class="footer-home-text10">Send gifts to Bima</span>
          </div>
        </a>
      </div>
      <div class="footer-home-copyright">
        <div class="footer-home-container8">
          <span class="footer-home-text11">
            Infinitex - Edusupe - Living Leaf
          </span>
          <span class="footer-home-text12 Diskripsi3">
            Copyright © 2023 bimaselalubenar
          </span>
        </div>
      </div>
    </div>
  </footer>
</div>
