.links-links {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  z-index: 15;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.links-column {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header {
  color: #efefef;
  font-size: 20px;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 600;
  line-height: 30px;
}
.links-link {
  color: rgb(239, 239, 239);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.links-link:hover {
  color: #d8d8d8;
  text-decoration:     none;
}
.links-link1 {
  color: #efefef;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration:   none;
}
.links-link1:hover {
  color: #d8d8d8;
  text-decoration:     none;
}
.links-column1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header1 {
  color: #efefef;
  font-size: 20px;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 600;
  line-height: 30px;
}
.links-link2 {
  color: #efefef;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration:   none;
}
.links-link2:hover {
  color: #d8d8d8;
  text-decoration:     none;
}
.links-column2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header2 {
  color: #efefef;
  font-size: 20px;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 600;
  line-height: 30px;
}
.links-link3 {
  color: #efefef;
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration:   none;
}
.links-link3:hover {
  color: #d8d8d8;
  text-decoration: underline   none;
}
.links-link4 {
  color: #efefef;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration:   none;
}
.links-link4:hover {
  color: #d8d8d8;
  text-decoration:     none;
}
.links-link5 {
  color: #efefef;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-family: "Inconsolata";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration:       none;
}
.links-link5:hover {
  color: #d8d8d8;
  text-decoration:       none;
}
.links-column3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header3 {
  color: #efefef;
  font-size: 20px;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 600;
  line-height: 30px;
}
.links-container {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.links-link6 {
  display: contents;
}
.links-icon {
  fill: #ffffff;
  width: 20px;
  cursor: pointer;
  height: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.links-icon:hover {
  fill: #d8d8d8;
}
.links-link7 {
  display: contents;
}
.links-icon2 {
  fill: #ffffff;
  width: 20px;
  cursor: pointer;
  height: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.links-icon2:hover {
  fill: #d8d8d8;
}
.links-link8 {
  display: contents;
}
.links-icon6 {
  fill: #ffffff;
  width: 20px;
  cursor: pointer;
  height: 20px;
  transition: 0.3s;
  text-decoration: none;
}
.links-icon6:hover {
  fill: #d8d8d8;
}




@media(max-width: 991px) {
  .links-links {
    justify-content: flex-end;
  }
}
@media(max-width: 767px) {
  .links-links {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
  }
  .links-header {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header1 {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header2 {
    font-size: 16px;
    line-height: 24px;
  }
  .links-header3 {
    font-size: 16px;
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .links-links {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.footer-footer {
  gap: var(--dl-space-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #050837;
}
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-information {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-heading {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-pasted-image {
  width: 45px;
  height: 45px;
}
.footer-text {
  color: #efefef;
}
.footer-text1 {
  color: #efefef;
}
.footer-root-class-name {
  margin-top: var(--dl-space-space-threeunits);
}




.footer-root-class-name5 {
  margin-top: 0px;
}
.footer-root-class-name6 {
  margin-top: var(--dl-space-space-twounits);
}

.footer-root-class-name8 {
  margin-top: var(--dl-space-space-twounits);
}





@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .footer-content {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-information {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .footer-pasted-image {
    width: 45px;
  }
  .footer-text {
    font-size: 12px;
    line-height: 18px;
  }
  .footer-text1 {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .footer-footer {
    height: auto;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .footer-content {
    align-self: flex-start;
    align-items: center;
  }
  .footer-root-class-name6 {
    margin-top: var(--dl-space-space-twounits);
  }
}
