<div>
  <link href="./form.css" rel="stylesheet" />
  <div class="form-container">
    <form
      id="Masukan"
      name="Formmasukan"
      action="sukses-kirim"
      method="POST"
      enctype="multipart/form-data"
      autocomplete="on"
      data-netlify="true"
      class="form-form"
    >
      <h1 class="form-text"><span>Masukan dan saran 🎉</span></h1>
      <div class="form-container1">
        <input
          type="text"
          id="nama"
          name="Nama"
          required
          placeholder="Nama"
          class="form-textinput input H5-12px"
        />
        <input
          type="text"
          id="cabang"
          name="Cabang"
          required
          placeholder="Cabang"
          class="form-textinput1 input H5-12px"
        />
      </div>
      <textarea
        name="masukan"
        placeholder="Masukan"
        class="form-textarea input H5-12px"
      ></textarea>
      <button type="submit" class="form-button"><span>Kirim</span></button>
    </form>
  </div>
</div>
