<div
  ><script
    type="text/javascript"
    src="https://github.com/teleporthq/date-time-primitive/blob/main/dist/default/lib.umd.js"
  ></script
  ><link href="./gift.css" rel="stylesheet" /><div class="gift-container"
    ><img
      alt="image"
      src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Voucher%20Alfamart.png?updatedAt=1718528041066"
      class="gift-image"
    /><span class="gift-date-time"
      ><date-time-primitive
        format="DD/MM/YYYY"
        date="Jun 16 2024"
      ></date-time-primitive></span
    ><a href="link" target="_blank" rel="noreferrer noopener" class="gift-link"
      ><span>Klaim Sekarang</span></a
    ><span class="gift-text">Expired</span></div
  ></div
>
