<div>
  <link href="./header-artikel.css" rel="stylesheet" />
  <div class="header-artikel-container">
    <div class="header-artikel-container1">
      <h1 class="header-artikel-text"><span>Heading</span></h1>
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/default-img.svg"
        class="header-artikel-image"
      />
      <div class="header-artikel-container2">
        <h1 class="header-artikel-text1"><span>Bima | 05/01/2024</span></h1>
        <a
          href
          target="_blank"
          rel="noreferrer noopener"
          class="header-artikel-link"
        >
          <h1 class="header-artikel-text2"><span>Bagikan di WhatsApp</span></h1>
        </a>
      </div>
    </div>
  </div>
</div>
