.header-artikel-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.header-artikel-container1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: unset;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ff0000;
}
.header-artikel-text {
  color: #ffffff;
  width: 100%;
  font-size: 25px;
  max-width: 800px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
}
.header-artikel-image {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: 15px;
}
.header-artikel-container2 {
  flex: 1;
  width: 800px;
  display: flex;
  max-width: auto;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.header-artikel-text1 {
  color: #ffffff;
  width: auto;
  font-size: 16px;
  max-width: auto;
  align-self: center;
  font-style: normal;
  margin-top: 0px;
  font-weight: 400;
  margin-left: var(--dl-space-space-unit);
}
.header-artikel-link {
  display: contents;
}
.header-artikel-text2 {
  color: #ffffff;
  width: auto;
  font-size: 16px;
  max-width: auto;
  align-self: center;
  font-style: normal;
  margin-top: 0px;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #00852b;
}
.header-artikel-root-class-name {
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 991px) {
  .header-artikel-container1 {
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .header-artikel-container1 {
    margin-bottom: 0px;
  }
  .header-artikel-text {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .header-artikel-image {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .header-artikel-container2 {
    width: 100%;
  }
  .header-artikel-text1 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    padding-left: 0px;
    padding-right: 0px;
  }
  .header-artikel-text2 {
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .header-artikel-container {
    height: auto;
  }
  .header-artikel-container1 {
    margin-bottom: 0px;
  }
  .header-artikel-text {
    margin-top: var(--dl-space-space-unit);
  }
  .header-artikel-image {
    height: auto;
  }
  .header-artikel-container2 {
    margin-top: var(--dl-space-space-unit);
    align-items: center;
  }
  .header-artikel-text1 {
    font-size: 11px;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .header-artikel-text2 {
    font-size: 11px;
    margin-top: 0px;
  }
  .header-artikel-root-class-name {
    height: auto;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
