<div
  ><link href="./linknavbima.css" rel="stylesheet" /><div
    class="linknavbima-links-container"
    ><div class="linknavbima-container"
      ><div class="linknavbima-container1"
        ><div class="linknavbima-product-container"
          ><span class="linknavbima-text">Service</span
          ><a href="**" class="linknavbima-navlink">Web Development</a
          ><a href="**" class="linknavbima-navlink1">Web Dev</a
          ><a
            href="https://edusupe.com"
            target="_blank"
            rel="noreferrer noopener"
            class="linknavbima-link"
            >Edusupe.com</a
          ><a
            href="https://livingleafstudio.com"
            target="_blank"
            rel="noreferrer noopener"
            class="linknavbima-link1"
            >Living Leaf Studio</a
          ><a href="**" class="linknavbima-navlink2">Facebook Ads</a></div
        ><div class="linknavbima-company-container"
          ><span class="linknavbima-text1">Tips &amp; Trick</span
          ><a
            href="https://codesandbox.io/invite/wnxy3gkj28z2335r"
            target="_blank"
            rel="noreferrer noopener"
            class="linknavbima-link2"
            >Source code</a
          ><a href="**" class="linknavbima-navlink3">News</a
          ><a href="foundamental-code.html" class="linknavbima-navlink4"
            >Foundamental Code</a
          ><a
            href="https://github.com/Bimaselalubenar"
            target="_blank"
            rel="noreferrer noopener"
            class="linknavbima-link3"
            >Repository Github</a
          ></div
        ></div
      ><div class="linknavbima-container2"
        ><div class="linknavbima-product-container1"
          ><span class="linknavbima-text2">Menu</span
          ><a href="#1" class="linknavbima-link4">Profile</a
          ><a href="#2" class="linknavbima-link5">About</a
          ><a href="#3" class="linknavbima-link6">Skill</a
          ><a href="#4" class="linknavbima-link7">Contact</a></div
        ></div
      ><div class="linknavbima-contact"
        ><span class="linknavbima-text3">Contact</span
        ><span class="linknavbima-text4"
          >bimaselalubenar.id@gmail.com</span
        ></div
      ></div
    ></div
  ></div
>
