.linknavbima-links-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.linknavbima-container {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: row;
  justify-content: center;
}
.linknavbima-product-container {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(124, 124, 124, 0.08);
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.19);
  border-width: 2px;
  margin-right: 0rem;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-text {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.linknavbima-text1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.linknavbima-company-container {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(124, 124, 124, 0.08);
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.19);
  border-width: 2px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-text2 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.linknavbima-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.linknavbima-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.linknavbima-contact {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 5px 5px 10px 0px rgba(124, 124, 124, 0.08);
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.19);
  border-width: 2px;
  border-radius: 10px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-text5 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.linknavbima-text6 {
  margin-bottom: var(--dl-space-space-unit);
}




@media(max-width: 767px) {
  .linknavbima-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .linknavbima-links-container {
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
  }
  .linknavbima-container {
    gap: var(--dl-space-space-unit);
    padding: 0px;
    flex-wrap: wrap;
  }
  .linknavbima-product-container {
    height: auto;
    padding: var(--dl-space-space-unit);
    border-color: rgba(245, 245, 245, 0.19);
    border-width: 2px;
    margin-right: 0px;
    border-radius: 20px;
    margin-bottom: 0px;
  }
  .linknavbima-text {
    color: #ffffff;
  }
  .linknavbima-text1 {
    color: #ffffff;
    text-decoration: none;
  }
  .linknavbima-company-container {
    padding: var(--dl-space-space-unit);
    border-color: rgba(245, 245, 245, 0.19);
    border-width: 2px;
    margin-right: 0px;
    border-radius: 20px;
    margin-bottom: 0px;
  }
  .linknavbima-text2 {
    color: #ffffff;
  }
  .linknavbima-text3 {
    color: #ffffff;
  }
  .linknavbima-text4 {
    color: #ffffff;
  }
  .linknavbima-contact {
    padding: var(--dl-space-space-unit);
    align-items: flex-start;
    border-color: rgba(245, 245, 245, 0.19);
    border-width: 2px;
    margin-right: 0px;
    border-radius: 20px;
    margin-bottom: 0px;
  }
  .linknavbima-text5 {
    color: #ffffff;
  }
  .linknavbima-text6 {
    color: #ffffff;
  }
}
