<div
  ><link href="./linknavbima.css" rel="stylesheet" /><div
    class="linknavbima-links-container"
    ><div class="linknavbima-container"
      ><div class="linknavbima-product-container"
        ><span class="linknavbima-text">Service</span
        ><span class="linknavbima-text1">Service</span></div
      ><div class="linknavbima-company-container"
        ><span class="linknavbima-text2">Tips &amp; Trick</span
        ><span class="linknavbima-text3">Source code</span
        ><span class="linknavbima-text4">News</span></div
      ><div class="linknavbima-contact"
        ><span class="linknavbima-text5">Contact</span
        ><span class="linknavbima-text6"
          >bimaardiantopramana@gmail.com</span
        ></div
      ></div
    ></div
  ></div
>
