<div>
  <script
    type="text/javascript"
    src="https://unpkg.com/@lottiefiles/lottie-player@1.6.0/dist/lottie-player.js"
  ></script>
  <link href="./loading.css" rel="stylesheet" />
  <div id="overlay" class="loading-container">
    <div class="loading-container1">
      <lottie-player
        src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Animation%20bima/Loading.json?updatedAt=1713578483455"
        speed="1"
        autoplay="true"
        background="transparent"
        class="loading-lottie-node"
      ></lottie-player>
      <div>
        <div class="loading-container3">
          <script>
            document.addEventListener('DOMContentLoaded', function () {
                var overlay = document.getElementById('overlay');
                var content = document.getElementById('content');

                // Tampilkan overlay
                overlay.style.display = 'flex';

                // Tunggu 5 detik
                setTimeout(function () {
                    // Sembunyikan overlay dan tampilkan konten utama
                    overlay.style.display = 'none';
                    content.style.display = 'block';
                }, 5000); // 5000 ms = 5 detik
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
