<div>
  <link href="./materiicon1234.css" rel="stylesheet" />
  <div class="materiicon1234-container">
    <div class="materiicon1234-container1">
      <span class="materiicon1234-text"><span>Judul Materi</span></span>
    </div>
    <div class="materiicon1234-container2">
      <span class="materiicon1234-text1"><span>.mp4</span></span>
      <a
        href="www.com"
        target="_blank"
        rel="noreferrer noopener"
        class="materiicon1234-link"
      >
        <span>Unduh</span>
      </a>
    </div>
  </div>
</div>
