<div>
  <link href="./menu-interaktif.css" rel="stylesheet" />
  <div class="menu-interaktif-container">
    <div class="menu-interaktif-container1">
      <img
        alt="Indikator"
        src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Icon/load-bima.svg?updatedAt=1696319311873"
        class="menu-interaktif-image"
      />
      <h1 class="menu-interaktif-text"><span>3D Modeling</span></h1>
      <h1 class="menu-interaktif-text1 H5-12px"><span>Sejak 2019</span></h1>
    </div>
  </div>
</div>
