.linknavbima-links-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.linknavbima-container {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  margin-right: 0px;
  flex-direction: row;
  justify-content: center;
}
.linknavbima-heading {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-navlink {
  display: contents;
}
.linknavbima-pasted-image {
  width: 45px;
  cursor: pointer;
  height: 45px;
  text-decoration: none;
}
.linknavbima-text {
  color: #efefef;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.linknavbima-text01 {
  color: #efefef;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
}
.linknavbima-container01 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.linknavbima-container02 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.linknavbima-container03 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.linknavbima-product-container {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  margin-right: 0rem;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-text02 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-navlink1 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-navlink1:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-link {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-link:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-link01 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-link01:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-navlink2 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-navlink2:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-navlink3 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-navlink3:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-company-container {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-text03 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-link02 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-link02:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-navlink4 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-navlink4:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-navlink5 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-navlink5:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-link03 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-link03:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-container04 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.linknavbima-product-container1 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  margin-right: 0rem;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-text04 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-link04 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-link04:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-link05 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-link05:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-link06 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-link06:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-link07 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-link07:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-navlink6 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-navlink6:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-contact {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-text05 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-text06 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-text06:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-container05 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.linknavbima-contact1 {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-text07 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-form {
  gap: var(--dl-space-space-unit);
  flex: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.linknavbima-container06 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.linknavbima-container07 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-text08 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border-radius: 10px;
  margin-bottom: 0px;
}
.linknavbima-container08 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: #44bb00;
}
.linknavbima-container09 {
  width: auto;
  height: 100%;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.linknavbima-icon {
  fill: #ffffff;
  width: 32px;
  height: 32px;
  padding: 0px;
}
.linknavbima-textinput {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  align-self: stretch;
  font-style: normal;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-container10 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-text09 {
  color: #ffffff;
  width: auto;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border-radius: 10px;
  margin-bottom: 0px;
}
.linknavbima-container11 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: flex-start;
  background-color: #44bb00;
}
.linknavbima-container12 {
  width: auto;
  height: 100%;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.linknavbima-icon2 {
  fill: #ffffff;
  width: 32px;
  height: 32px;
  padding: 0px;
}
.linknavbima-textinput1 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  align-self: stretch;
  font-style: normal;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-container13 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.linknavbima-button {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-unit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-button:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-button1 {
  color: rgb(255, 255, 255);
  width: 100%;
  padding: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-color: rgb(0, 194, 24);
}
.linknavbima-text10 {
  color: #ffffff;
  width: auto;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  border-radius: 10px;
  margin-bottom: 0px;
  text-decoration: underline;
}
.linknavbima-contact2 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: none;
  padding: var(--dl-space-space-unit);
  overflow: hidden;
  position: relative;
  max-width: 380px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-text11 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-text12 {
  color: #ffffff;
  cursor: pointer;
  display: none;
  font-size: 16px;
  font-style: normal;
  transition: 0.5s;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 2px;
}
.linknavbima-text12:hover {
  border-color: #ffffff;
  border-top-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
}
.linknavbima-container14 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  overflow: hidden;
  overflow-x: scroll;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.linknavbima-container15 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: space-between;
  background-color: #ffffff;
}
.linknavbima-container16 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-image {
  width: 100%;
  height: 277px;
  object-fit: cover;
  border-radius: 10px;
}
.linknavbima-container17 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-image1 {
  width: 40px;
  object-fit: cover;
}
.linknavbima-text13 {
  width: 100%;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.linknavbima-container18 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.linknavbima-text14 {
  color: #900000;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 800;
}
.linknavbima-text15 {
  width: 100%;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  text-decoration: line-through;
}
.linknavbima-link08 {
  color: #ffffff;
  width: 100%;
  border-width: 0px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #c50000;
}
.linknavbima-container19 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: space-between;
  background-color: #ffffff;
}
.linknavbima-container20 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-image2 {
  width: 100%;
  height: 277px;
  object-fit: cover;
  border-radius: 10px;
}
.linknavbima-container21 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-image3 {
  width: 40px;
  object-fit: cover;
}
.linknavbima-text16 {
  width: 100%;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.linknavbima-container22 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.linknavbima-text17 {
  color: rgb(144, 0, 0);
  width: 100%;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 800;
}
.linknavbima-text18 {
  width: 100%;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  text-decoration: line-through;
}
.linknavbima-link09 {
  color: #ffffff;
  width: 100%;
  border-width: 0px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #c50000;
}
.linknavbima-container23 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: space-between;
  background-color: #ffffff;
}
.linknavbima-container24 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-video {
  width: 100%;
  height: 277px;
  object-fit: cover;
  border-radius: 10px;
}
.linknavbima-container25 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-image4 {
  width: 40px;
  object-fit: cover;
}
.linknavbima-text19 {
  width: 100%;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.linknavbima-container26 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.linknavbima-text20 {
  color: rgb(144, 0, 0);
  width: 100%;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 800;
}
.linknavbima-text21 {
  width: 100%;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  text-decoration: line-through;
}
.linknavbima-link10 {
  color: #ffffff;
  width: 100%;
  border-width: 0px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #c50000;
}
.linknavbima-container27 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: space-between;
  background-color: #ffffff;
}
.linknavbima-container28 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-image5 {
  width: 100%;
  height: 277px;
  object-fit: cover;
  border-radius: 10px;
}
.linknavbima-container29 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.linknavbima-image6 {
  width: 40px;
  object-fit: cover;
}
.linknavbima-text22 {
  width: 100%;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.linknavbima-container30 {
  gap: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.linknavbima-text23 {
  color: rgb(144, 0, 0);
  width: 100%;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 800;
}
.linknavbima-text24 {
  width: 100%;
  font-size: 12px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  text-decoration: line-through;
}
.linknavbima-link11 {
  color: #ffffff;
  width: 100%;
  border-width: 0px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #c50000;
}






.linknavbima-root-class-name6 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}


@media(max-width: 1600px) {
  .linknavbima-container03 {
    flex-direction: column;
  }
  .linknavbima-container04 {
    flex-direction: column;
  }
  .linknavbima-container05 {
    flex-direction: row;
  }
}
@media(max-width: 1200px) {
  .linknavbima-container {
    flex-direction: column;
  }
  .linknavbima-heading {
    width: 100%;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .linknavbima-container01 {
    flex-direction: column;
  }
  .linknavbima-container02 {
    width: 100%;
  }
  .linknavbima-container03 {
    flex-direction: column;
  }
  .linknavbima-container04 {
    flex-direction: column;
  }
  .linknavbima-container05 {
    flex-direction: row;
  }
  .linknavbima-container06 {
    flex-direction: row;
  }
  .linknavbima-container08 {
    width: 100%;
  }
  .linknavbima-container11 {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .linknavbima-heading {
    width: 100%;
  }
  .linknavbima-container02 {
    flex-direction: column;
  }
  .linknavbima-container03 {
    flex-direction: row;
  }
  .linknavbima-container04 {
    flex-direction: row;
  }
  .linknavbima-container05 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .linknavbima-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .linknavbima-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .linknavbima-pasted-image {
    width: 45px;
  }
  .linknavbima-text01 {
    font-size: 12px;
    line-height: 18px;
  }
  .linknavbima-container02 {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .linknavbima-container03 {
    flex-direction: column;
  }
  .linknavbima-container04 {
    flex-direction: column;
  }
  .linknavbima-container05 {
    flex-direction: column;
  }
  .linknavbima-container06 {
    flex-direction: column;
  }
  .linknavbima-contact2 {
    max-width: 767px;
  }
}
@media(max-width: 479px) {
  .linknavbima-links-container {
    align-items: flex-start;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
  }
  .linknavbima-container {
    gap: var(--dl-space-space-unit);
    padding: 0px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .linknavbima-container02 {
    flex-direction: column;
  }
  .linknavbima-container03 {
    flex-direction: row;
  }
  .linknavbima-container04 {
    flex-direction: row;
  }
  .linknavbima-container05 {
    flex-direction: column;
  }
  .linknavbima-form {
    flex-direction: row;
  }
  .linknavbima-container06 {
    flex-direction: column;
  }
  .linknavbima-container07 {
    flex: 1;
    width: 100%;
  }
  .linknavbima-container09 {
    justify-content: center;
  }
  .linknavbima-icon {
    width: 35px;
    height: 32px;
    padding: 0px;
  }
  .linknavbima-container10 {
    flex: 1;
    width: 100%;
  }
  .linknavbima-container12 {
    justify-content: center;
  }
  .linknavbima-icon2 {
    width: 35px;
    height: 32px;
    padding: 0px;
  }
  .linknavbima-container13 {
    flex-direction: column;
  }
  .linknavbima-button1 {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 24, 194);
  }
  .linknavbima-contact2 {
    display: flex;
  }
}

.nav-container {
  width: 100%;
  display: flex;
  z-index: 20;
  position: fixed;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  backdrop-filter: blur(5px);
  justify-content: center;
  background-color: rgba(241, 241, 241, 0.22);
}
.nav-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1000px;
  align-items: center;
  margin-right: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  justify-content: space-between;
}
.nav-navlink {
  display: contents;
}
.nav-image {
  width: auto;
  cursor: pointer;
  height: 35px;
  object-fit: cover;
  text-decoration: none;
}
.nav-desktop-menu {
  gap: var(--dl-space-space-threeunits);
  display: flex;
}
.nav-nav {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.nav-link {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 500;
  text-decoration: none;
}
.nav-link1 {
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 500;
  text-decoration: none;
}
.nav-link2 {
  color: #ffffff;
  cursor: pointer;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 500;
  text-decoration: none;
}
.nav-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  align-self: center;
  border-radius: var(--dl-radius-radius-radius2);
}
.nav-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: 0px;
}
.nav-text {
  color: #ffffff;
  cursor: pointer;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 500;
}
.nav-dropdown-arrow {
  transition: 0.3s;
}
.nav-icon {
  fill: #ffffff;
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.nav-dropdown-list {
  width: 211px;
  height: auto;
  margin: auto;
  display: none;
  z-index: 4;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-radius: 20px;
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
.nav-dropdown {
  cursor: pointer;
  display: inline-block;
  z-index: 100;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.7);
  margin-top: var(--dl-space-space-unit);
  border-color: rgba(255, 255, 255, 0.56);
  border-width: 2px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  background-color: #424242;
}
.nav-dropdown-toggle1 {
  fill: #595959;
  width: 100%;
  display: inline-flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.nav-dropdown-toggle1:hover {
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  background-color: rgba(0, 15, 61, 0.96);
}
.nav-text01 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
}
.nav-text02 {
  color: #f5f9bf;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  position: absolute;
  font-size: 8px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-right: var(--dl-space-space-unit);
}
.nav-dropdown-toggle2 {
  fill: #595959;
  width: 100%;
  display: inline-flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.nav-dropdown-toggle2:hover {
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  background-color: rgba(0, 15, 61, 0.96);
}
.nav-text03 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
}
.nav-text04 {
  color: #f5f9bf;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  position: absolute;
  font-size: 8px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-right: var(--dl-space-space-unit);
}
.nav-dropdown-toggle3 {
  fill: #595959;
  width: 100%;
  display: inline-flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.nav-dropdown-toggle3:hover {
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  background-color: rgba(0, 15, 61, 0.96);
}
.nav-text05 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
}
.nav-text06 {
  color: #f5f9bf;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  position: absolute;
  font-size: 8px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-right: var(--dl-space-space-unit);
}
.nav-dropdown-toggle4 {
  fill: #595959;
  width: 100%;
  display: inline-flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.nav-dropdown-toggle4:hover {
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  background-color: rgba(0, 15, 61, 0.96);
}
.nav-text07 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
}
.nav-text08 {
  color: #f5f9bf;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  position: absolute;
  font-size: 8px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-right: var(--dl-space-space-unit);
}
.nav-dropdown-toggle5 {
  fill: #595959;
  width: 100%;
  display: inline-flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.nav-dropdown-toggle5:hover {
  padding-left: var(--dl-space-space-twounits);
  border-radius: 20px;
  background-color: rgba(0, 15, 61, 0.96);
}
.nav-text09 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
}
.nav-text10 {
  color: #f5f9bf;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
  position: absolute;
  font-size: 8px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
  margin-right: var(--dl-space-space-unit);
}
.nav-register {
  color: #604242;
  cursor: pointer;
  border-width: 0px;
  border-radius: 15px;
  text-decoration: none;
  background-color: #ffffff;
}
.nav-text11 {
  color: #080c46;
  font-style: normal;
  font-family: "Inconsolata";
  font-weight: 500;
  margin-right: var(--dl-space-space-halfunit);
}
.nav-icon2 {
  fill: #080c46;
  width: 14px;
  height: 14px;
}
.nav-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.nav-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.nav-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  overflow-y: scroll;
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.nav-nav1 {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.nav-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.nav-image1 {
  width: 200px;
  z-index: 100;
  object-fit: cover;
  text-decoration: none;
}
.nav-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-icon6 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 991px) {
  .nav-mobile-menu {
    background-color: #c6c6c6;
  }
}
@media(max-width: 767px) {
  .nav-navbar {
    padding-left: 0px;
    padding-right: 0px;
  }
  .nav-icon4 {
    fill: white;
    width: 33px;
    height: 33px;
  }
  .nav-mobile-menu {
    background-color: #ffffff;
  }
  .nav-nav1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .nav-container1 {
    align-self: flex-end;
    margin-bottom: var(--dl-space-space-unit);
    justify-content: space-between;
  }
  .nav-image1 {
    width: auto;
    height: 52px;
  }
  .nav-icon6 {
    width: 40px;
    height: 40px;
  }
}
@media(max-width: 479px) {
  .nav-navbar {
    padding-left: 0px;
    padding-right: 0px;
  }
  .nav-image {
    height: 30px;
  }
  .nav-desktop-menu {
    display: none;
  }
  .nav-burger-menu {
    display: flex;
  }
  .nav-icon4 {
    fill: #ffffff;
  }
  .nav-mobile-menu {
    gap: var(--dl-space-space-unit);
    height: 100vh;
    padding: 16px;
    justify-content: flex-start;
    background-color: #18034a;
  }
  .nav-nav1 {
    padding-top: 0px;
  }
  .nav-container1 {
    align-self: flex-end;
  }
  .nav-image1 {
    height: 30px;
  }
  .nav-menu-close {
    justify-content: center;
  }
  .nav-icon6 {
    fill: #ffffff;
  }
}
