<div
  ><link href="./nav2.css" rel="stylesheet" /><div class="nav2-container"
    ><div class="nav2-container1"
      ><header data-thq="thq-navbar" class="nav2-navbar-interactive"
        ><img
          src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/bimaselalubenar.gif?updatedAt=1712742178111"
          class="nav2-image1"
        /><div data-thq="thq-navbar-nav" class="nav2-desktop-menu"
          ><nav class="nav2-links"
            ><a href="index.html" class="nav2-link2 thq-link thq-body-small"
              >Profile</a
            ><a
              href="dana-kaget-dari-bima.html"
              class="nav2-link21 thq-link thq-body-small"
              >Give Away</a
            ><span class="nav2-link3 thq-link thq-body-small"
              >Digital Product (Segera Hadir)
            </span></nav
          ></div
        ><div data-thq="thq-burger-menu" class="nav2-burger-menu"
          ><svg viewBox="0 0 1024 1024" class="nav2-icon">
            <path
              d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
            ></path></svg></div
        ><div data-thq="thq-mobile-menu" class="nav2-mobile-menu"
          ><div class="nav2-nav"
            ><div class="nav2-top"
              ><img
                alt="logo"
                src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/bimaselalubenar.gif?updatedAt=1712742178111"
                class="nav2-logo" /><div
                data-thq="thq-close-menu"
                class="nav2-close-menu"
                ><svg viewBox="0 0 1024 1024" class="nav2-icon2">
                  <path
                    d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                  ></path></svg></div></div
            ><div class="nav2-container2"
              ><nav class="nav2-links1"
                ><span class="nav2-text">Halaman</span
                ><a href="index.html" class="nav2-link1 thq-link thq-body-small"
                  >Profile</a
                ><a
                  href="dana-kaget-dari-bima.html"
                  class="nav2-link22 thq-link thq-body-small"
                  >Give Away</a
                ><span class="nav2-link23 thq-link thq-body-small"
                  >Digital Product (Segera Hadir)</span
                ></nav
              ><nav class="nav2-links2"
                ><span class="nav2-text1">Service</span
                ><a
                  href="web-service.html"
                  class="nav2-link11 thq-link thq-body-small"
                  >Web Service</a
                ><a
                  href="https://edusupe.com"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="nav2-link24 thq-link thq-body-small"
                  >Edusupe</a
                ><a
                  href="https://livingleafstudio.com"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="nav2-link25 thq-link thq-body-small"
                  >Living leaf studio</a
                ></nav
              ></div
            ></div
          ></div
        ></header
      ></div
    ></div
  ></div
>
