<div
  ><script
    type="text/javascript"
    src="https://unpkg.com/@lottiefiles/lottie-player@1.6.0/dist/lottie-player.js"
  ></script
  ><link href="./popupcomers.css" rel="stylesheet" /><div
    id="popup3"
    class="popupcomers-container removescsroll"
    ><div class="popupcomers-container1"
      ><div
        data-thq="slider"
        data-loop="true"
        data-autoplay="true"
        data-navigation="false"
        data-pagination="true"
        data-reverse-direction="true"
        class="popupcomers-slider swiper"
        ><div data-thq="slider-wrapper" class="swiper-wrapper"
          ><div
            data-thq="slider-slide"
            class="popupcomers-slider-slide swiper-slide"
            ><div class="popupcomers-header"
              ><div class="popupcomers-container2"
                ><img
                  alt="image"
                  src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/popup/Banner.png?updatedAt=1716073516598"
                  class="popupcomers-image" /><lottie-player
                  src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Animation%20-%201717638663174.json?updatedAt=1717638744395"
                  loop="true"
                  speed="1"
                  autoplay="true"
                  background="transparent"
                  class="popupcomers-lottie-node"
                ></lottie-player></div
              ><div class="popupcomers-container3"
                ><span class="popupcomers-text"
                  ><span>🎉 Jangan lewatkan kesempatan ini!</span><span> </span
                  ><span> </span><span> </span><span> </span><span> </span
                  ><span> </span><span> </span><span> </span></span
                ><span class="popupcomers-text10"
                  ><span class="popupcomers-text11">Masukan kode</span
                  ><span class="popupcomers-text12"> DISKON2024 </span
                  ><span class="popupcomers-text13">Dapatkan potongan</span
                  ><span class="popupcomers-text14"> </span
                  ><span class="popupcomers-text15">Rp. 50.000</span
                  ><span class="popupcomers-text16">
                    untuk jasa pembuatan website semua paket.</span
                  ></span
                ><a href="web-service.html" class="popupcomers-navlink"
                  ><div class="popupcomers-container4"
                    ><h1 class="popupcomers-text17">Pilih Paket</h1></div
                  ></a
                ></div
              ></div
            ></div
          ></div
        ><div
          data-thq="slider-pagination"
          class="popupcomers-slider-pagination swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"
          ><div
            data-thq="slider-pagination-bullet"
            class="swiper-pagination-bullet"
          ></div></div
        ><div
          data-thq="slider-button-prev"
          class="popupcomers-slider-button-prev swiper-button-prev"
        ></div
        ><div
          data-thq="slider-button-next"
          class="popupcomers-slider-button-next swiper-button-next"
        ></div></div
      ><button
        type="button"
        onclick="closeBanner('popup3')"
        aria-label="Close"
        class="popupcomers-close-button"
        ><svg viewBox="0 0 804.5714285714286 1024" class="popupcomers-icon">
          <path
            d="M741.714 755.429c0 14.286-5.714 28.571-16 38.857l-77.714 77.714c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-168-168-168 168c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-77.714-77.714c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l168-168-168-168c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l77.714-77.714c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l168 168 168-168c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l77.714 77.714c10.286 10.286 16 24.571 16 38.857s-5.714 28.571-16 38.857l-168 168 168 168c10.286 10.286 16 24.571 16 38.857z"
          ></path></svg></button></div
    ><div
      ><div class="popupcomers-container6"
        ><script>
          function showBanners() {
              document.getElementById('popup3').style.display = 'block';
          }

          function closeBanner(bannerId) {
              var banner = document.getElementById(bannerId);
              banner.style.display = 'none';
          }
        </script></div
      ></div
    ></div
  ></div
>
