<div
  ><link href="./popupcomers.css" rel="stylesheet" /><div
    id="popup3"
    class="popupcomers-container"
    ><div class="popupcomers-container1"
      ><div
        data-thq="slider"
        data-loop="true"
        data-autoplay="true"
        data-navigation="false"
        data-pagination="true"
        data-reverse-direction="true"
        class="popupcomers-slider swiper"
        ><div data-thq="slider-wrapper" class="swiper-wrapper"
          ><div
            data-thq="slider-slide"
            class="popupcomers-slider-slide swiper-slide"
            ><div class="popupcomers-header"
              ><img
                alt="image"
                src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/popup/Banner.png?updatedAt=1716073516598"
                class="popupcomers-image"
              /><div class="popupcomers-container2"
                ><span class="popupcomers-text"
                  ><span>🎉 Jangan lewatkan kesempatan ini!</span><span> </span
                  ><span> </span><span> </span><span> </span><span> </span
                  ><span> </span><span> </span><span> </span></span
                ><span class="popupcomers-text10"
                  ><span class="popupcomers-text11">Masukan kode</span
                  ><span class="popupcomers-text12"> DISKON2024 </span
                  ><span class="popupcomers-text13">Dapatkan potongan</span
                  ><span class="popupcomers-text14"> </span
                  ><span class="popupcomers-text15">Rp. 50.000</span
                  ><span class="popupcomers-text16">
                    untuk jasa pembuatan website. Yuk, manfaatkan promo ini
                    sekarang juga dan wujudkan website impianmu dengan harga
                    lebih terjangkau! 🚀</span
                  ><span>Masukkan kode promo </span><span> </span><span> </span
                  ><span> </span><span> </span><span> </span><span> </span
                  ><span> </span><span> untuk mendapatkan diskon hingga </span
                  ><span> </span><span> </span><span> </span><span> </span
                  ><span> </span><span> </span><span> </span></span
                ><a href="web-service.html" class="popupcomers-navlink"
                  ><div class="popupcomers-container3"
                    ><h1 class="popupcomers-text33">Pilih Paket</h1></div
                  ></a
                ></div
              ></div
            ></div
          ><div
            data-thq="slider-slide"
            class="popupcomers-slider-slide1 swiper-slide"
            ><div class="popupcomers-header1"
              ><img
                alt="image"
                src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/popup/Banner2.png?updatedAt=1716254586235"
                class="popupcomers-image1"
              /><div class="popupcomers-container4"
                ><span class="popupcomers-text34">🎉 Daftarkan Sekarang</span
                ><span class="popupcomers-text35"
                  >Silahkan buat akun baru karena per tanggal  1 Juni 2024,
                  halaman akan di alihkan di Dashboard terbaru! segera
                  registrasi untuk mendapat aksses lebih lengkap!</span
                ><a
                  href="https://docs.google.com/forms/d/e/1FAIpQLSeoimBrrXgi6osxPT0jboNHXvGwv7CV4ERHe5g8i8mcGHFp-g/viewform?pli=1"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="popupcomers-link"
                  ><div class="popupcomers-container5"
                    ><h1 class="popupcomers-text36"
                      >Registrasi Sekarang!</h1
                    ></div
                  ></a
                ></div
              ></div
            ></div
          ></div
        ><div
          data-thq="slider-pagination"
          class="popupcomers-slider-pagination swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"
          ><div
            data-thq="slider-pagination-bullet"
            class="swiper-pagination-bullet swiper-pagination-bullet-active"
          ></div
          ><div
            data-thq="slider-pagination-bullet"
            class="swiper-pagination-bullet"
          ></div></div
        ><div
          data-thq="slider-button-prev"
          class="popupcomers-slider-button-prev swiper-button-prev"
        ></div
        ><div
          data-thq="slider-button-next"
          class="popupcomers-slider-button-next swiper-button-next"
        ></div></div
      ><button
        type="button"
        onclick="closeBanner('popup3')"
        aria-label="Close"
        class="popupcomers-close-button"
        ><svg viewBox="0 0 804.5714285714286 1024" class="popupcomers-icon">
          <path
            d="M741.714 755.429c0 14.286-5.714 28.571-16 38.857l-77.714 77.714c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-168-168-168 168c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-77.714-77.714c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l168-168-168-168c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l77.714-77.714c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l168 168 168-168c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l77.714 77.714c10.286 10.286 16 24.571 16 38.857s-5.714 28.571-16 38.857l-168 168 168 168c10.286 10.286 16 24.571 16 38.857z"
          ></path></svg></button></div
    ><div
      ><div class="popupcomers-container7"
        ><script>
          function showBanners() {
              document.getElementById('popup3').style.display = 'block';
          }

          function closeBanner(bannerId) {
              var banner = document.getElementById(bannerId);
              banner.style.display = 'none';
          }
        </script></div
      ></div
    ></div
  ></div
>
