<div
  ><link href="./popupbuatsayang.css" rel="stylesheet" /><div
    id="popup1"
    class="popupbuatsayang-container removescsroll"
    ><div class="popupbuatsayang-container1"
      ><div class="popupbuatsayang-header"
        ><div class="popupbuatsayang-container2"
          ><img
            src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Nonik/04e2f95b-d7a2-4c84-9dea-8537d55be7ee.jpg?updatedAt=1718575919998"
            alt="image"
            class="popupbuatsayang-image" /></div
        ><img class="popupbuatsayang-image1" /><div
          class="popupbuatsayang-container3"
          ><span id="greeting" class="popupbuatsayang-text greeting"
            ><span>****</span></span
          ><span id="message" class="popupbuatsayang-text1"
            ><span>***********</span></span
          ><div class="popupbuatsayang-container4"
            ><h1 class="popupbuatsayang-text2">Registrasi Sekarang!</h1></div
          ></div
        ></div
      ><button
        type="button"
        onclick="closeBanner('popup1')"
        aria-label="Close"
        class="popupbuatsayang-close-button"
        ><svg viewBox="0 0 804.5714285714286 1024" class="popupbuatsayang-icon">
          <path
            d="M741.714 755.429c0 14.286-5.714 28.571-16 38.857l-77.714 77.714c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-168-168-168 168c-10.286 10.286-24.571 16-38.857 16s-28.571-5.714-38.857-16l-77.714-77.714c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l168-168-168-168c-10.286-10.286-16-24.571-16-38.857s5.714-28.571 16-38.857l77.714-77.714c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l168 168 168-168c10.286-10.286 24.571-16 38.857-16s28.571 5.714 38.857 16l77.714 77.714c10.286 10.286 16 24.571 16 38.857s-5.714 28.571-16 38.857l-168 168 168 168c10.286 10.286 16 24.571 16 38.857z"
          ></path></svg></button></div
    ><div
      ><div class="popupbuatsayang-container6"
        ><script>
          function showBanners() {
              document.getElementById('popup1').style.display = 'block';
          }

          function closeBanner(bannerId) {
              var banner = document.getElementById(bannerId);
              banner.style.display = 'none';
          }
        </script></div
      ></div
    ><div
      ><div class="popupbuatsayang-container8"
        ><script>
          function getGreetingAndMessage() {
              const now = new Date();
              const hours = now.getHours();
              let greeting;
              let message;

              if (hours >= 5 && hours < 12) {
                  greeting = 'Selamat Pagi Sayang';
                  message = 'Semoga pagi ini membawa sinar kebahagiaan yang sama seperti senyummu yang selalu menerangi hariku.';
              } else if (hours >= 12 && hours < 15) {
                  greeting = 'Selamat Siang Sayang';
                  message = 'Di tengah kesibukan hari, ingatlah bahwa ada seseorang yang selalu memikirkanmu dengan penuh kasih.';
              } else if (hours >= 15 && hours < 18) {
                  greeting = 'Selamat Sore Sayang';
                  message = 'Saat matahari mulai terbenam, semoga kehangatan cintaku bisa menjadi peluk yang menemanimu hingga malam tiba.';
              } else {
                  greeting = 'Selamat Malam Sayang';
                  message = 'Sebelum kamu terlelap, ingatlah bahwa kamu adalah bintang terakhir yang kupikirkan sebelum aku tertidur.';
              }

              return { greeting, message };
          }

          const { greeting, message } = getGreetingAndMessage();
          document.getElementById('greeting').innerText = greeting;
          document.getElementById('message').innerText = message;
        </script></div
      ></div
    ></div
  ></div
>
