<div>
  <link href="./produk-afiliate1.css" rel="stylesheet" />
  <div class="produk-afiliate1-container">
    <span class="produk-afiliate1-text"><span>Produk A</span></span>
    <span class="produk-afiliate1-text1"><span>Rp. 500</span></span>
    <div class="produk-afiliate1-container1">
      <a
        href="https://link"
        target="_blank"
        rel="noreferrer noopener"
        class="produk-afiliate1-link"
      >
        <span>Beli Sekarang</span>
      </a>
      <span class="produk-afiliate1-text2"><span>Produk 1</span></span>
    </div>
  </div>
</div>
