<div>
  <link href="./product.css" rel="stylesheet" />
  <div class="product-product">
    <img alt="Product" src loading="lazy" class="product-image" />
    <span class="product-text"><span>Nama Produk</span></span>
    <div class="product-container">
      <img
        alt="star"
        src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Icon/star.png?updatedAt=1696306408078"
        loading="lazy"
        class="product-image1"
      />
      <span class="product-text1"><span>4,9</span></span>
    </div>
    <a
      href="https://link"
      target="_blank"
      rel="noreferrer noopener"
      class="product-link H4-16px"
    >
      <span>Beli Sekarang</span>
    </a>
  </div>
</div>
