<div>
  <link href="./testimoni-loader.css" rel="stylesheet" />
  <div class="testimoni-loader-container">
    <div
      data-thq="slider"
      data-loop="true"
      data-autoplay="true"
      data-navigation="false"
      data-pagination="false"
      data-autoplay-delay="1500"
      data-reverse-direction="true"
      data-pause-autoplay-on-mouse-enter="false"
      class="testimoni-loader-slider swiper"
    >
      <div data-thq="slider-wrapper" class="swiper-wrapper">
        <div
          data-thq="slider-slide"
          class="testimoni-loader-slider-slide swiper-slide"
        >
          <div class="testimoni2-container testimoni2-root-class-name">
            <img
              alt="image"
              src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Software/ADOBE%20-%20Photoshop%20CC%202020.png?updatedAt=1703484884075"
              class="testimoni2-image"
            />
            <div class="testimoni2-container1">
              <div class="testimoni2-container2">
                <span class="testimoni2-text">
                  <span>B*** A****** P******</span>
                </span>
              </div>
              <span class="testimoni2-text1">
                <span>Melakukan Pembelian</span>
              </span>
              <span class="testimoni2-text2">
                <span>Sudah melalukan pembelian 2 hari yang lalu</span>
              </span>
            </div>
          </div>
        </div>
        <div
          data-thq="slider-slide"
          class="testimoni-loader-slider-slide1 swiper-slide"
        >
          <div class="testimoni2-container testimoni2-root-class-name1">
            <img
              alt="image"
              src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Software/ADOBE%20-%20Bundle%20CC%202020.png?updatedAt=1703455304761"
              class="testimoni2-image"
            />
            <div class="testimoni2-container1">
              <div class="testimoni2-container2">
                <span class="testimoni2-text">
                  <span>F*** P*** p*****</span>
                </span>
              </div>
              <span class="testimoni2-text1">
                <span>Melakukan Pembelian</span>
              </span>
              <span class="testimoni2-text2">
                <span>Sudah melakukan pembelian 1 hari yang lalu</span>
              </span>
            </div>
          </div>
        </div>
        <div
          data-thq="slider-slide"
          class="testimoni-loader-slider-slide2 swiper-slide"
        >
          <div class="testimoni2-container testimoni2-root-class-name2">
            <img
              alt="image"
              src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Software/ADOBE%20-%20Premiere%20CC%202020.png?updatedAt=1703486763136"
              class="testimoni2-image"
            />
            <div class="testimoni2-container1">
              <div class="testimoni2-container2">
                <span class="testimoni2-text">
                  <span>B*** K**** R****</span>
                </span>
              </div>
              <span class="testimoni2-text1">
                <span>Melakukan Pembelian</span>
              </span>
              <span class="testimoni2-text2">
                <span>Sudah melakukan pembelian 3 hari yang lalu</span>
              </span>
            </div>
          </div>
        </div>
        <div
          data-thq="slider-slide"
          class="testimoni-loader-slider-slide3 swiper-slide"
        >
          <div class="testimoni2-container testimoni2-root-class-name3">
            <img
              alt="image"
              src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/Software/SMADAV%202023.png?updatedAt=1703486047357"
              class="testimoni2-image"
            />
            <div class="testimoni2-container1">
              <div class="testimoni2-container2">
                <span class="testimoni2-text"><span>R*** P****</span></span>
              </div>
              <span class="testimoni2-text1">
                <span>Melakukan Pembelian</span>
              </span>
              <span class="testimoni2-text2">
                <span>Sudah melakukan pembelian 2 hari yang lalu</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div
        data-thq="slider-pagination"
        class="testimoni-loader-slider-pagination swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"
      >
        <div
          data-thq="slider-pagination-bullet"
          class="swiper-pagination-bullet swiper-pagination-bullet-active"
        ></div>
      </div>
      <div
        data-thq="slider-button-prev"
        class="testimoni-loader-slider-button-prev swiper-button-prev"
      ></div>
      <div
        data-thq="slider-button-next"
        class="testimoni-loader-slider-button-next swiper-button-next"
      ></div>
    </div>
  </div>
</div>
