<div>
  <link href="./testimoni2.css" rel="stylesheet" />
  <div class="testimoni2-container">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="testimoni2-image"
    />
    <div class="testimoni2-container1">
      <div class="testimoni2-container2">
        <span class="testimoni2-text"><span>B*** A****** P******</span></span>
      </div>
      <span class="testimoni2-text1"><span>Melakukan Pembelian</span></span>
      <span class="testimoni2-text2">
        <span>Sudah melalukan pembelian 2 hari yang lalu</span>
      </span>
    </div>
  </div>
</div>
