<div>
  <link href="./timeline3.css" rel="stylesheet" />
  <div class="thq-section-padding">
    <div class="timeline3-max-width thq-section-max-width">
      <div class="timeline3-container01">
        <h2 class="timeline3-text thq-heading-2">
          <span>Long heading going here</span>
        </h2>
        <span class="timeline3-text01 thq-body-small">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat
          </span>
        </span>
        <div class="timeline3-container02">
          <button type="button" class="thq-button-filled">
            <span>Primary action</span>
          </button>
          <button type="button" class="thq-button-outline">
            <span>Seconday action</span>
          </button>
        </div>
      </div>
      <div class="timeline3-timeline-container">
        <div class="timeline3-step1">
          <div class="timeline3-container03">
            <div class="timeline3-progress0"></div>
            <div class="timeline3-container04"></div>
            <div class="timeline3-progress001"></div>
          </div>
          <div class="timeline3-container05">
            <h3 class="thq-heading-3"><span>23/04/2023</span></h3>
            <span class="timeline3-text03 thq-body-small">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </span>
            </span>
          </div>
        </div>
        <div class="timeline3-step2">
          <div class="timeline3-container06">
            <div class="timeline3-progress002"></div>
            <div class="timeline3-container07"></div>
            <div class="timeline3-progress003"></div>
          </div>
          <div class="timeline3-container08">
            <h3 class="thq-heading-3"><span>12/05/2023</span></h3>
            <span class="timeline3-text05 thq-body-small">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </span>
            </span>
          </div>
        </div>
        <div class="timeline3-step3">
          <div class="timeline3-container09">
            <div class="timeline3-progress004"></div>
            <div class="timeline3-container10"></div>
            <div class="timeline3-progress005"></div>
          </div>
          <div class="timeline3-container11">
            <h3 class="thq-heading-3"><span>07/08/2023</span></h3>
            <span class="timeline3-text07 thq-body-small">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </span>
            </span>
          </div>
        </div>
        <div class="timeline3-step4">
          <div class="timeline3-container12">
            <div class="timeline3-progress006"></div>
            <div class="timeline3-container13"></div>
            <div class="timeline3-progress007"></div>
          </div>
          <div class="timeline3-container14">
            <h3 class="thq-heading-3"><span>02/11/2023</span></h3>
            <span class="timeline3-text09 thq-body-small">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </span>
            </span>
          </div>
        </div>
        <div class="timeline3-step5">
          <div class="timeline3-container15">
            <div class="timeline3-progress008"></div>
            <div class="timeline3-container16"></div>
            <div class="timeline3-progress009"></div>
          </div>
          <div class="timeline3-container17">
            <h3 class="thq-heading-3"><span>09/02/2024</span></h3>
            <span class="timeline3-text11 thq-body-small">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
