.toko-product-product {
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  transition: 0.3s;
  align-items: center;
  border-radius: 10px;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.toko-product-product:hover {
  transform: scale(102%);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
}
.toko-product-image {
  width: 230px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.toko-product-container {
  gap: 4px;
  display: flex;
  max-width: 230px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: flex-start;
}
.toko-product-image1 {
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.toko-product-text {
  color: #000000;
  font-size: 16px;
  max-width: 230px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: capitalize;
  text-decoration: none;
}
.toko-product-container1 {
  gap: 4px;
  display: flex;
  max-width: 230px;
  align-self: flex-start;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: flex-start;
}
.toko-product-text1 {
  color: rgb(0, 0, 0);
  font-size: 12px;
  max-width: 230px;
  align-self: center;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  margin-left: 20px;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.toko-product-container2 {
  gap: 4px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: flex-start;
}
.toko-product-image2 {
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.toko-product-text2 {
  color: rgb(0, 0, 0);
  font-size: 12px;
  align-self: center;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.toko-product-link {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: auto;
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(0, 157, 9) 0.00%,rgb(23, 255, 30) 100.00%);
}
.toko-product-link:hover {
  transform: scale(102%);
}





@media(max-width: 991px) {
  .toko-product-product {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .toko-product-container {
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .toko-product-container1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .toko-product-container2 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .toko-product-link {
    width: 100%;
    max-width: var(--dl-size-size-maxwidth);
    margin-top: auto;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .toko-product-container {
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .toko-product-link {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .toko-product-product {
    width: auto;
    height: 362px;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .toko-product-container {
    align-self: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .toko-product-link {
    width: 100%;
    margin-top: auto;
    margin-bottom: 0px;
  }
}
