.testimoni-loader-container {
  flex: 0 0 auto;
  width: 100%;
  bottom: 0px;
  height: auto;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: flex-end;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #e7e7e7;
}
.testimoni-loader-slider {
  width: 100%;
  height: auto;
  display: inline-block;
}
.testimoni-loader-slider-slide {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.testimoni-loader-slider-slide1 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.testimoni-loader-slider-slide2 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.testimoni-loader-slider-slide3 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.testimoni-loader-slider-pagination {
  display: none;
}
.testimoni-loader-slider-button-prev {
  display: none;
}
.testimoni-loader-slider-button-next {
  display: none;
}

