body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
    color: #333;
}
form {
    margin-bottom: 20px;
}
label {
    font-weight: bold;
}
input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.note-container {
    width: 100%;
    border: 2px solid transparent;
    padding: 10px;
    margin: 10px 0;
    position: relative;
    gap: 5px;
    background-color: rgba(236, 226, 226, 0.7); /* Warna latar belakang transparan */
    border-radius: 8px;
    transition: background-color 0.5s ease, border-color 0.5s ease; /* Transisi untuk perubahan warna */
}
.note-container:hover {
    border-color: #007bff; /* Warna garis tepi saat hover */
}
.note-container button {
    margin-right: 5px;
}
.note-container .delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}
.note-container .delete-button:hover {
    margin-top: 5px;
    background-color: #c82333;
}
.note-container p:nth-child(odd) {
    font-weight: bold;
}